{% extends base_template %} {% load coretags %}
{% block text_content %}
{% if article %}
{% with article as n %}
    {% include "includes/article.html" %}
{% endwith %}
{% if comments.object_list %}
    {% include "generic/pages.html" with page=paginator page_obj=comments %}
    {% include "comments.html" with comments=comments page_obj=comments %}
    {% include "generic/pages.html" with page=paginator %}
{% endif %}
{% comment %}
{% if user.is_authenticated and article.approved %}
    {% get_content_type article as object %}
    {% include settings.document.comments_form with object=object gs=gs %}
{% endif %}
{% endcomment %}
{% else %}
<div align='center' class='block_notice'>
    <div class='transparent tr_black'></div>
    Извините, но данной статьи не существует или она не была удалена
</div>
{% endif %}
{% endblock %}
