{% extends base_template %} {% load coretags %}
{% block css %}
    {{ block.super }}
    <link rel='stylesheet' media='screen' href='/styles/news.css'>
{% endblock %}
{% block text_content %}
{% if article %}
{% with article as n %}
    {% include "includes/article.html" %}
{% endwith %}
{% if comments.object_list %}
    {% include settings.document.links %}
    {% include settings.document.comments %}
    {% include settings.document.links %}
{% endif %}
{% if user.is_authenticated and article.approved %}
    {% get_content_type article as object %}
    {% include settings.document.comments_form with object=object gs=gs %}
{% endif %}
{% else %}
<div align='center' class='block_notice'>
    <div class='transparent tr_black'></div>
    Извините, но данной статьи не существует или она не была удалена
</div>
{% endif %}
{% endblock %}
