{% extends "base_template.html" %}
{% load newsfilters %}
{% block content %}
  <div align="center">
    <div class="message">
      <div class="message-headline">
        <div class="transparency" id='black'><!-- wise transparency --></div>
        {{ status.status }}
      </div>
      <div class="message-content">
        <div class='transparency'></div>
        <div class="avatar">
          <img src="/media/{{ img }}.png">
        </div>
        <div class="text" id="status_{{ status.id }}">
          {{ status.description|render_filter:status.syntax|safe }}
          <br clear="all">
        </div>
      </div> <!-- content -->
      <br clear="all">
    </div> <!-- end description -->
  </div> <!-- center -->
{% endblock %}
