{% extends base_template %}	

{% block rss %}
<link href="/rss/" rel="alternate" type="application/rss+xml" />
{% endblock %}
{% block css %}
{{ block.super }}
<link rel='stylesheet' type='text/css' href='/styles/{{ user.skin.name|getskincss:"quotes.css" }}'>
{% endblock %}
{% block title %}
quotes.radiance.ru - лучшие
{% endblock %}
	
{% block text_content %}
        
    {% if quotes %}
        {% include "includes/quotes.html" %}
	{% else %}
	    <div class="quote">
		<div class='transparency'></div>
		<center><strong>o_O а где все..?</strong></center></div>
	{% endif %}

{% endblock %}
