{% extends base_template %}	

{% block rss %}
<link href="/rss/" rel="alternate" type="application/rss+xml" />
{% endblock %}

{% block title %}
{{ block.supre }}:Цитатник:цитата из очереди</title>
{% endblock %}

{% block css %} {{ block.super }}
<link href="/styles/{{ user.skin.name|getskincss:"quotes.css" }}" rel=stylesheet" type="text/css" />
{% endblock %}

{% block text_content %}

    {% if quote %}
        {% include "includes/queue_quote.html" %}
	{% else %}
	    <div class="quotes">
            <div class='transparency'></div>
            <center><strong>o_O ээ..? Этого не может быть. Потому что не может быть никогда.</strong></center></div>
	{% endif %}

{% endblock %}
