{% extends user.skin.name|getskin:"base.html" %}	

{% block rss %}
<link href="/rss/" rel="alternate" type="application/rss+xml" />
{% endblock %}

{% block title %}
{{ block.super }}:Цитатник:редактирование цитаты
{% endblock %}

{% block css %} {{ block.super }}
<link href="/styles/{{ user.skin.name|getskincss:"quotes.css" }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block text_content %}

    {% if form %}
        <div class="edit">
            <span><a href="{% url apps.quotes.views.queue_quote id=quote.id %}"><strong>#{{ quote.id }}</strong></a></span>
            <span>
                добавлена {{ quote.date_add }}
                {% if quote.author %}
                    модератором {% get_nickname quote.author %}
                {% else %}
                    {% if quote.sender_ip %}
                    с IP {{ quote.sender_ip }}
                    {% endif %}
                {% endif %}
            </span>
            <div class="editbody">
            <div style="width: 100%;">
                <form action="." method="post">
                    <fieldset>
                    {{ form.text }}
                    <br />
                    <input type="submit" value=" Сохранить изменения " />
                    </fieldset>
                </form>
            </div>
            </div>
        </div>
	{% else %}
	    <div class="quote"><center><strong>o_O ээ..? Этого не может быть. Потому что не может быть никогда.</strong></center></div>
	{% endif %}

{% endblock %}
