{% extends user.skin.name|getskin:"base.html" %}	

{% block rss %}
<link href="/rss/" rel="alternate" type="application/rss+xml" />
{% endblock %}

{% block title %}
{{ block.super }}:Цитатник:цитата #{% if quote %} {{ quote.id }} {% endif %}
{% endblock %}
{% block css %}
{{ block.super }}
<link href="/styles/{{ user.skin.name|getskin:"quotes.css" }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block text_content %}

    {% if quote %}
        {% include "includes/quote.html" %}
	{% else %}
		<div class="quotes">
	    <div class='transparency'></div>
		<center><strong>o_O ээ..? Этого не может быть. Потому что не может быть никогда.</strong></center></div>
	{% endif %}

{% endblock %}
