{% extends base_template %}
{% load newsfilters %}{% load comments %}{% load kamwhfilters %}
{% block head_content %}

{# <link rel='stylesheet' href='/styles/{% if user.skin %}{{ user.skin.name|lower }}/{% endif %}news.css' type='text/css' media='screen'> #}
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"news.css" }}' type='text/css' media='screen'>
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feeds/news">
<link rel="alternate" type="application/rss+xml" title="ATOM" href="/feeds/news_atom">
{% endblock %}
{% block text_content %}
{% for n in news.object_list %}
 <div id='news'>
	<div align="center" class='headline'>{% spaceless %}
		<a href="{% url "news:news" category=n.category|lower %}">
		<img id="hdimg" src="/media/images/news/categories/{{ n.category|lower }}.png"></a>
		{% comment %}{% if perms.news.edit_news or user.is_superuser %}
			<span id='edit_button'><a id='button' href="{% url apps.news.views.add_article id=n.id %}">Править</a></span>
			{% if not n.approved %}
			<span id="edit_button"><a id='button' href="{% url apps.news.views.article_action id=n.id action='approve' %}">Утвердить</a></span>
			{% else %}
			<span id="edit_button"><a id='button' href='{% url apps.news.views.article_action id=n.id action='unapprove' %}'>Убрать</a></span>
			{% endif %}
		{% endif %} {% endcomment %}
		{% if not n.approved %}
			<span class='unapproved'>{# <a href='article/{{ n.id }}'>{{ n.title }}</a>#}
				<a href="{% url "news:article-archived" id=n.id %}">{{ n.title }}</a>
			</span>
		{% else %}
			<a href='{% url "news:article-archived" id=n.id %}'>{{ n.title }}</a>&nbsp;
			{% if user.is_superuser or perms.news.edit_archived_article %}
			<a href='/admin/news/archivednews/{{ n.id }}'>[edit]</a> {% endif %}
		{% endif %}{% endspaceless %}
	</div>
	<hr>
 <div id='spacer'>&nbsp;</div>
 {% if not n.head_content %}
 	{{ n.content|newscut:"500"|render_filter:n.syntax|safe }}<br clear='all'> {% else %}
	{{ n.head_content|render_filter:n.syntax|safe }}{% if n.content %} ... {% endif %}<br clear='all'>
 {% endif %}
 <div id='read'>
 {# <a href='article/{{ n.id }}'>читать далее</a> #}
 <a href='{% url "news:article" number=n.id %}'>читать далее</a>
 </div>
 <hr>
 <div class='footer'> (by {% get_raw_nickname n.author %}), published {{ n.date }}</div>
 {% if n.editor %}<div class='footer'>(edited by {% get_raw_nickname n.editor %})</div>{% endif %}
 {% if n.url %}<div class='footer url'><a href='{{ n.url }}'>оригинал</a></div>{% endif %}
 {% get_comment_count for n as comments %}<div class='footer'>Коментариев: {{ comments }}</div>
 {% if n.attachment %}<div class='footer'>Прикрепленный файл: <a href='{{ n.attachment.attachment.url }}'>{{ n.attachment.attachment.name|namemediacut }}</a> [{{ n.attachment.attachment.size|filesizeformat }}]</div>{% endif %}
 </div>

 {% endfor %}
{% include settings.document.links %}
<br>
{% endblock %}
