{% extends base_template %}
{% load newsfilters %}
{% block css %}
{{ block.super }}
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"news.css" }}' type='text/css' media='screen'>
{% endblock %}
{% block head_content %}
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feeds/news">
<link rel="alternate" type="application/rss+xml" title="ATOM" href="/feeds/news_atom">
{% endblock %}
{% block text_content %}
 {% include settings.document.news_inc %}
{% endblock %}
