/*
  #control_content .content #control_content, .user_profile, #control_content .briefing_news,
	#control_content .last_replays,
	#control_content .menu_quotes,
	#control_content .admin_block,
	#control_content .content,
	#control_content .online_users,
	#control_content .common,
	#control_content .cloud{
	background-image: url('images/grey_knight.jpg');

}
*/
body{
    background: url('/media/images/skins/inquisitor/bg.jpg');
    background-color: #292929;
}
#control_content .user_profile,
#control_content .content,
#control_content .last_replays,
#control_content .menu_quotes,
#control_content .briefing_news{
    background: url('images/grey_knight.jpg');
    background-repeat: repeat-none;
    z-index: 0;
    max-width: 100%;
}
#control_content .content{background: url('images/grey_knight2.jpg');}
#control_content .menu_quotes{ background: url('images/inq.jpg');}
#control_content .briefing_news{ background: url('images/tech.jpg');}
#control_content .last_replays{ background: url('images/dark_angel.jpg');}
#control_content .user_profile .transparency,
#control_content .content .transparency,
#control_content .briefing_news .transparency,
#control_content .menu_quotes .transparency,
#control_content .last_replays .transparency{
    background-color: black;
    opacity: 0.75;
    z-index: -1;
    filter: alpha(55);
    -moz-border-radius: 8px;
    -moz-border-radius-topright: 0px;
    -webkit-border-radius: 8px;
    -webkit-border-radius-topright: 0px;
    border-radius: 8px;
    border-top-right-radius: 0px;

}
#control_content .user_profile img[title='avatar']{
    border: 1px dotted grey;
}
