{% extends base_template %}
{% block css %}
{{ block.super }}
<link rel='stylesheet' href='/styles/karma.css' type='text/css' media='screen'>
{% endblock %}
{% block text_content %}
<div class='info'>
	Придумать здесь какое-нибудь нивъебенное описание ... &gt;_&gt;
</div>
<center>
<form class='karma_comment_form' action='.' method='POST'>	
    {% csrf_token %}
    {{ form.as_ul }}
    {% comment %}
	{{ form.comment.errors }}
	<label for='id_comment'>Коментарий:</label><br>
	{{ form.comment }}<br>
	{{ form.hidden_nickname }}
	{{ form.referer }}
	{{ form.url }}{% endcomment %}
	<input class='btn btn-inverse' type='submit' value='Отправить'>
</form>
</center>
{% endblock %}
