{% load karmatags %}
{% get_karma_power for karma_user as karma %} {# shit #}
<div class='karma'>
{% with karma_user.get_karma_status as status %}
    {% if status %}
        <a href='{% url "karma:status" codename=status.codename %}'>{{ status.status }}</a><br>
    {% endif %}
{% endwith %}
{% spaceless %}
{% if user.comments_count > gs.KARMA_COMMENTS_COUNT %}
    <span class='karma_positive'>
        <a href="{% url "karma:alter" choice='up' nickname=karma_user.get_username %}"
            data-toggle='modal' data-target='#karma-alter-{{ karma_user.id }}'
            data-user='{{ karma_user.nickname }}' data-user-id='{{ karma_user.id }}'
            data-alter='up'
            class='karma-modal'>+</a>
    </span>&nbsp;
{% endif %}
{% if karma_user.karma >= 0 %}
    <span class='karma_positive'>
        <a  href="{% url "karma:karma" user=karma_user.get_username %}">&lt; {{ karma_user.karma }} &gt;</a>
    </span>
{% else %}
    <span class='karma_negative'>
        <a href="{% url "karma:karma" user=karma_user.get_username %}">&lt; {{ karma_user.karma }} &gt;</a>
    </span>
{% endif %}
{% if user.comments_count > gs.KARMA_COMMENTS_COUNT %}&nbsp;<span class='karma_negative'>
    <a  href="{% url "karma:alter" choice='down' nickname=karma_user.get_username %}"
        data-toggle='modal' data-target='#karma-alter-{{ karma_user.id }}'
        data-user='{{ karma_user.nickname }}' data-user-id='{{ karma_user.id }}'
        data-alter='down'
        class='karma-modal'>-</a></span>
{% endif %}
{% endspaceless %}
</div>
