{% load static %}
<link rel='stylesheet' href='{% static "css/bootstrap-light.css" %}'
      media='screen' type='text/css'>
<style type='text/css'>
  .message{ width: 99%; !important}
</style>
<script type='text/javascript' src='{% static "components/jquery/jquery.min.js" %}"'></script>

<div class="round message" style="width: 97%">
  <div class="message-headline">
    <span class="comment-date">[{% now "Y/M/d, H:i:s" %}]</span>
    <span class="user-nickname">
      <span class="nickname">
        {{ user.nickname|default_if_none:"not me :)" }}</span> комментирует:
    </span>
  </div>
  <div class="message-body">
    <div class="avatar">
      {#% include "msg/avatar.html" with usr=user %#}
      <img src="{{ user.get_avatar_url }}"/>
      <div>
        <a href="{% url "accounts:profile-by-nick" user %}">{{ user.get_nickname|safe }} </a>
      </div>
    </div> <!-- avatar -->
    <div class="text">
      <div id="text_0">
        {{ preview|safe }}
      </div>
      {% comment %}{% if user.about %}
        <small>---<br>{{ user.about }}</small>
      {% endif %}{% endcomment %}
    </div> <!-- text -->
  </div> <!-- content -->
  <div class="message-footer"><center>;)</center></div> <!-- footer -->
</div> <!-- message -->

<script language='javascript'>
  $(document).ready(function(){
    $('.spoiler_block a').click(function(){
      $(this).parent().children('.spoiler').toggle(500, function(){
        p = $(this).parent();
        if (p.children('.spoiler').css('display') != 'none'){
          p.attr('class', p.attr('class') + ' spoiler_show');
          p.children('.marker').html('[-]');
        }else{
          p.attr('class', 'spoiler_block');
          p.children('.marker').html('[+]');
        }
      });
    });
  });
</script>