{% extends base_template %}
{% block title %}Смена пароля{% endblock %}
{% block head_content %} {% endblock %}
{% block text_content %}

<form action='{% url "wh:password-change" %}' method='POST'>
    {% csrf_token %}
    {{ form.old_password.errors }}
    Старый пароль:<br>
    {{ form.old_password }}<br>
    {{ form.password1.errors }}
    Новый пароль:<br>
    {{ form.password1 }}<br>
    {{ form.password2.errors }}
    Подтверждение пароля:<br>
    {{ form.password2 }}<br>
    <input type='submit' value='Сменить'>
</form>

{% endblock %}
