{% extends "base_template.html" %}
{% load i18n %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href='{% url "pybb:index" %}'>{% trans "forum" %}</a></li>
    <li><a href='{% url "wh:profile-by-nick" user.nickname %}'>{% trans "profile" %}</a></li>
    <li class="active">{% trans "change password" %}</li>
  </ul>

<form action='{% url "wh:password-change" %}' method='POST'>
    {% csrf_token %}
    {{ form.old_password.errors }}
    Старый пароль:<br>
    {{ form.old_password }}<br>
    {{ form.password1.errors }}
    Новый пароль:<br>
    {{ form.password1 }}<br>
    {{ form.password2.errors }}
    Подтверждение пароля:<br>
    {{ form.password2 }}<br>
    <input type='submit' value='Сменить'>
</form>

{% endblock %}
