{% extends "base_template.html" %}
{% load coretags %}
{% block title %}Пользователи{% endblock %}
{% block css %}
  {{ block.super }}
  <link rel='stylesheet' href='/styles/profileng.css' media='screen'
        type='text/css'>
{% endblock %}

{% block content %}
  {% for user in users.object_list %}
    <center>
      <div class='round message'>
        <div class='message-headline'>
          <a href='{% url "accounts:profile-by-nick" user.get_username %}'>
            {% if user.nickname %}
              {{ user.get_nickname|safe }}
            {% else %}
              Soulless inhabit
            {% endif %}
          </a>

        </div><!-- msg_headline -->
        <div class='message-body'>
          <div class='avatar'>
            <img src='{{ user.get_avatar_url }}'>
          </div> <!-- msg_avatar -->
          <div class='text'>
            {% spaceless %}
              {% if user.first_name or user.last_name %}
                <div class='msg_txt'>Реальное имя: <i>{{ user.first_name }} {{ user.last_name }}</i></div>
              {% endif %}{% endspaceless %}
            <div class='msg_txt'>С нами с {{ user.date_joined|date:"d M Y" }} года</div>
            {% if user.about %}<div class='msg_txt'>Мыслит: &quot;<i>{{ user.about }}</i>&quot;</div>{% endif %}
            <div class='msg_txt'>Комментов: <i>{{ user.get_comments_count }}</i></div>
            {# {% if user.replays_count %}<div class='msg_txt'>Реплеев: <i>{{ user.replays_count }}</i></div>{% endif %} #}
            {% if user.karma_value %}<div class='msg_txt'>Кармическая сила: <i>{% spaceless %}
              {% if user.karma_value > 0 %}<span class='karma_pos'>{% else %}
                <span class='karma_neg'>{% endif %}{{ user.karma_value }}</span>
            {% endspaceless%}</i></div>{% endif %}
            <div style='clear: both;'></div>
          </div> <!-- msg_text -->
        </div><!-- msg_content -->
        <br clear='all'>
        <div class='message-footer'>
          <div class='links'>
            <span class='first'><a href='{% url "accounts:profile-by-nick" user.get_username %}'>profile</a></span>
            <span>{{ user.army.side|default_if_none:"" }}</span>
            <span><a href='xmpp://{{ user.jid }}'>{{ user.jid|default_if_none:"" }}</a></span>
            <span><a href='icq://{{ user.uin }}'>{{ user.uin|default_if_none:"" }}</a></span>
            <span><a href='mailto://{{ user.email }}'>{{ user.email|default_if_none:"" }}</a></span>
          </div>
          <br clear='all'>
        </div> <!-- msg_footer -->
      </div> <!-- message -->
    </center>
  {% endfor %}

  {% include settings.document.links %}
{% endblock %}
