{% extends base_template %} {% load coretags %}
{% block title %}Пользователи{% endblock %}
{% block css %}
	{{ block.super }}
	<link rel='stylesheet' href='/styles/profileng.css' media='screen' type='text/css'>

{% endblock %}
{% block text_content %}

{% for user in users.object_list %}
	<center>
	<div class='round message'>
		<div class='message-headline'>
			<!-- effects -->
			<div class='transparency_black'></div>
			<!-- end of effects -->

			<a href='{% url "wh:profile-by-nick" user.get_username %}'>{% if user.nickname %}{{ user.get_nickname|safe }}{% else %}Soulless inhabit{% endif %}</a>
		</div><!-- msg_headline -->
		<div class='message-content'>
			<div class='avatar'>
				<img src='{% url "wh:avatar" user.get_username %}'>
			</div> <!-- msg_avatar -->
			<div class='text'>
				<div class='transparency'></div>
				<div class='reflects_left'></div>
				<div class='reflects_right'></div>
					{% spaceless %}
						{% if user.first_name or user.last_name %}
						<div class='msg_txt'>Реальное имя: <i>{{ user.first_name }} {{ user.last_name }}</i></div>
					{% endif %}{% endspaceless %}
					<div class='msg_txt'>С нами с {{ user.date_joined|date:"d M Y" }} года</div>
					{% if user.about %}<div class='msg_txt'>Мыслит: &quot;<i>{{ user.about }}</i>&quot;</div>{% endif %}
					<div class='msg_txt'>Комментов: <i>{{ user.get_comments_count }}</i></div>
					{# {% if user.replays_count %}<div class='msg_txt'>Реплеев: <i>{{ user.replays_count }}</i></div>{% endif %} #}
					{% if user.karma_value %}<div class='msg_txt'>Кармическая сила: <i>{% spaceless %}
							{% if user.karma_value > 0 %}<span class='karma_pos'>{% else %}
							<span class='karma_neg'>{% endif %}{{ user.karma_value }}</span>
					{% endspaceless%}</i></div>{% endif %}
					<div style='clear: both;'></div>
			</div> <!-- msg_text -->
		</div><!-- msg_content -->
		<br clear='all'>
		<div class='message-footer'>
			<div class='transparency_black'></div>
			<div class='links'>	
				<span class='first'><a href='{% url "wh:profile-by-nick" user.get_username %}'>profile</a></span>
				{% comment %}<span><a href='{% url "wh:pm-send-nick" user.get_username %}'>pm</a></span>{% endcomment %}
				<span>{{ user.army.side.name }}</span>
				<span>{% if not user.settings.invisible %}{% get_online user %}{% else %}offline{% endif %}</span>
				{% if not user.settings.hide_jid %} <span><a href='xmpp://{{ user.jid }}'>{{ user.jid }}</a></span>{% endif %}
				{% if not user.settings.hide_uin %} <span><a href='icq://{{ user.uin }}'>{{ user.uin }}</a></span>{% endif %}
				{% if not user.settings.hide_email %} <span><a href='mailto://{{ user.email }}'>{{ user.email }}</a></span>{% endif %}
			</div>
			<br clear='all'>
		</div> <!-- msg_footer -->
	</div> <!-- message -->
		{% comment %}
		<a class='profile' href='{% url apps.wh.views.profile_by_nick nickname=user.nickname %}'>
		<img class='account_user_img' src='{% url apps.wh.views.get_user_avatar nickname=user.get_nickname %}'>
		<img class='account_side_icon' src='{% url apps.wh.views.get_user_side_icon nickname=user.nickname %}'>
		{% get_nickname  user %}</a>
		{% endcomment %}
	</center>
 {% endfor %}

{% include settings.document.links %}
{% endblock %}
