{% extends "login.html" %}
{% block title %} {{ block.super }}:Вход пользователя{% endblock %}
{% block text_content %}

<center>
<div id="headline">
<div class='transparency tr_black'></div>
Вход|<a href='/register'>Регистрация</a>
</div>
<div id="content" align="left">
<div class='transparency tr_blue'></div>
<div class='reflects_up'></div>
<div class='reflects_left'></div>
<div class='reflects_right'></div>
<!-- login required -->
<form action='.' method='POST'>
    {% csrf_token %}
    {{ form.as_ul }}
	<center><input type="submit" value="Войти"></center>
</form>
</div>
</center>
{% endblock %}
