{% extends "base_template.html" %}{% load i18n %}
{% block title %} {{ block.super }}:Вход пользователя{% endblock %}
{% block content %}
  <div id="headline">
    Вход|<a href='/register'>Регистрация</a>
  </div>
  <div id="content" align="left" class="col-lg-8">
    <!-- login required -->
    <form action='.' method='POST' class="form-horizontal">
      {% csrf_token %}{% trans "Login" as submit_i18n %}
      {% include "forms/bootstrap_horizontal.html" with form=form %}
      {% include "forms/submit.html" with save_text=submit_i18n %}
    </form>
  </div>
{% endblock %}
