{% extends base_template %}
{% block title %} Востановление пароля {% endblock %}
{% block head_content %}
{# <link rel='stylesheet' type='text/css' href='/styles/{% if user.skin %}{{ user.skin.name|lower }}/{% endif %}pm.css' media='screen'> #}
{% endblock %}
{% load whfilters %}
{% block text_content %} {{ block.super }}
<div id="send">
<form  method='post' action=".">
	{{ form.login.errors }}
	Ваш логин:<br>
	{{ form.login }}<br>
	{{ form.email.errors }}
	Ваш E-mail:<br>
	{{ form.email }}<br>
	<input type='submit' value='отправить'>
</form>
</div>
{% endblock %}

