{% extends base_template %}{% load newsfilters i18n %}
{% block css %}{{ block.super }}
<link rel='stylesheet' type='text/css' href='/styles/message.css' />
<link rel='stylesheet' type='text/css' href='/styles/round_message.css' />
{% endblock %}
{% block js %}{{ block.super }}
<script type='text/javascript' src='/media/js/knockout-2.2.1.js'></script>{% endblock %}
{% block text_content %}
    <div class='btn-group' style='margin-bottom: 10px;'>
        <a class='btn btn-info btn-xs show-message btn-mini' data-toggle='button'>
            {% trans "Send message" %}
        </a>
    </div>

    {% trans "Send" as submit_text %}
    <div class='send pm'>
        <form class='form form-horizontal' id='id_message_form' action='{% url "wh:pm-send" %}' method='POST'>
        {% csrf_token %}
        {% include "forms/bootstrap_horizontal.html" with form=form %}
        {% include "forms/submit.html" with class='btn btn-success' text=submit_text %}
        </form>
    </div>

<div class='tabbable'>
    <ul class='nav nav-pills nav-inverse' data-bind='foreach: folders'>
        <li data-bind='
            css: {active: $data == $root.chosenFolderId()},
            click: $root.goToFolder
        '><a data-bind='text: $root.getFolderName($data)' href='#'></a></li>
        {% comment %}
            <a href='#inbox' data-toggle='tab'>{% trans "Inbox" %}</a></li>
        <li><a href='#outbox' data-toggle='tab'>{% trans "Outbox" %}</a></li>
        <li><a href='#deleted' data-toggle='tab'>{% trans "Deleted" %}</a></li>{% endcomment %}
    </ul>
    {% comment %}
    <div class='folders tab-content' data-bind='foreach: folders'>
        <div class='tab-pane' data-bind='text: $root.getFolderName($data),
            css: { active: $data == $root.chosenFolderId() },
            attr: { id: $data },
            click: $root.goToFolder'>
        </div>
    </div>{% endcomment %}
    <table class='table table-striped no-margin mails' data-bind='with: chosenFolderData'>
        <tr>
            <th>{% trans "State" %}</th>
            <th>{% trans "From" %}</th>
            <th>{% trans "To" %}</th>
            <th>{% trans "Subject" %}</th>
            <th>{% trans "Date" %}</th>
        </tr>
        <tbody data-bind='foreach: mails'>
        <tr data-bind='click: $root.goToMail, css: {new: !is_read && folder == "inbox"}'>
            <td>
                <i class='icon-white'
                    data-bind='css: {
                        "icon-comment": !is_read,
                        "hide": folder != "inbox"
                    }'></i>
            </td>
            <td data-bind='text: from'></td>
            <td data-bind='text: to'></td>
            <td data-bind='text: subject'></td>
            <td data-bind='text: date'></td>
        </tr>
        </tbody>
    </table>

    <div class='view mail' data-bind='foreach: chosenMailData'>
        <div class='round message'>
            <div class='message-headline'>
                <div class='transparency black'></div>
                <span data-bind='text: subject'></span>,
                <span class='date' data-bind='text: date'></span>
            </div>
            <div class='message-body'>
                <div class='avatar'>
                    <img data-bind='attr: {src: avatar}' alt='avatar'>
                    <span class='nickname' data-bind='html: nickname'></span>
                </div>
                <div class='text'>
                    <div class='from' data-bind='text: from'></div>
                    <div class='date' data-bind='text: date'></div>
                    <div class='msg' data-bind='html: content'></div>
               </div>
            </div>
            <div class='message-footer'>
                <div class='transparency black'></div>
                <div class='links'>
                    <span><a href='#' class='delete-pm'
                        data-bind='
                            click: $root.deleteMail,
                            attr: {
                                "data-nickname": nick_raw,
                                "id": id
                            },
                            css: {hide: folder == "deleted"}
                            '>{% trans "Delete" %}</a>
                    </span>
                </div>
                <span data-bind='text: date, css: {hide: folder != "deleted"}'></span>
            </div>
        </div>
    </div>

    <div class='reply form' data-bind='css: {hide: $root.chosenFolderId() != "inbox"}'>
        <form id='id_reply_form' class='form' data-bind='css: {hide: $root.chosenMailData() == null}'
            action='{% url "wh:pm-send" %}' method='POST'>
            {% csrf_token %}
            <div class='controls-group'>
                <div class='controls'>
                    <!--<label for='id_reply'>{% trans "Reply" %}</label>-->
                    <textarea id='id_reply' name='content' class='reply text'></textarea>
                    <input type='hidden' name='addressee' data-bind='value: $root.getNickname($root.chosenMailData())'>
                    <input type='hidden' name='title' data-bind='value: $root.getReplyTitle($root.chosenMailData())'>
                    <input id='id_submit' type='submit' value='{% trans "Send" %}' class='btn btn-inverse'>
                </div>
            </div>
        </form>
    </div>

</div>
<script type='text/javascript'>
    function MailModel(){
        var self = this;

        self.folders = ['inbox', 'outbox', 'deleted'];
        self.folders_trans = ['{% trans "Inbox" %}', '{% trans "Outbox" %}', '{% trans "Deleted" %}'];
        self.chosenFolderId = ko.observable();
        self.chosenFolderData = ko.observable();
        self.chosenMailData = ko.observable();
        self.testMe = false;

        self.goToFolder = function(folder){
            self.chosenFolderId(folder);
            self.chosenMailData(null);
            $.get('{% url "json:wh:pm" %}', {folder: folder}, self.chosenFolderData);
        }

        self.getFolderName = function(folder){
            return self.folders_trans[self.folders.indexOf(folder)];
        }
        self.goToMail = function(mail){
            self.chosenFolderId(mail.folder);
            self.chosenFolderData(null);
            $.get(
                '{% url "json:wh:pm-view" %}',
                {pk: mail.id, folder: mail.folder}, self.chosenMailData
            );
        }

        self.deleteMail = function(mail){
            url = "{% url 'wh:pm-delete' 0 %}".replace(0, mail.id)
            xhr({
                url: url,
                success: function(response){
                    noty({
                        text: "{% trans 'Successfully deleted' %}",
                        type: "success",
                        dismissQueue: true,
                        timeout: 4000
                    });
                    self.chosenFolderId(mail.folder);
                    self.chosenMailData(null);
                    self.goToFolder(mail.folder);
                }
            });
        }

        self.goToFolder("inbox");
        self.getNickname = function(mail){
            if (mail){
                return mail.nick_id;
            }
        }
        self.getReplyTitle = function(mail){
            if (mail){
                return "Re: " + mail.subject.replace('Re: ', '');
            }
        }
        self.checkReadState = function(mail){
            if (mail){
                return mail.is_read;
            }
            return true;
        }
    }
    ko.applyBindings(new MailModel());
</script>

<script type='text/javascript'>
function sendMessage(form, success){
    postFormAjax({
        form: form,
        successMsg: '{% trans "Private message was sent" %}',
        success: function(response){
            if (success){
                success(response);
            }
        }
    });
}
$(document).ready(function(){
    setTimeout(function(){ $('.send.pm').addClass('hide')}, 300);
    form = $("#id_reply_form");
    $("#id_reply_form").submit(function(e){
        sendMessage(form);
        return false;
    });
    $("#id_reply_form #id_submit").click(function(e){
        sendMessage(form);
        return false;
    });
    $('#id_message_form').submit(function(e){
        var form = $(this);
        sendMessage(form, function(response){
            $('.show-message').toggleClass('active');
            $('.send.pm').toggleClass('hide');

        });
        return false;
    });
    $('#id_message_form #id_submit').click(function(e){
        var form = $(this).parents('form');
        sendMessage(form, function(response){
            $('.show-message').toggleClass('active');
            $('.send.pm').toggleClass('hide');
        });
        return false;
    });
    $('.show-message').click(function(e){
        $(".send.pm").toggleClass('hide');
    });

    $.each($(".ajax-chosen"), function(idx, block){
        $(block).ajaxChosen({
            type: 'GET',
            url: $(block).attr('url'),
            dataType: 'json',
            jsonTermKey: 'q',
            keepTypingMsg: '{% trans "Please, keep typing ..." %}',
            lookingForMsg: "{% trans 'Searching for' %}",
        }, function(data){
            var results = [];
            data.map(function(user){
                results.push({value: user.id, text: user.title});
            });
            return results;
        }, {placeholder_text: "{% trans "Search the user" %}"});
    });

});
</script>
{% include "markup.html" with markup_path_id="#id_reply" block_source_id="" quote_btn_class="" %}
{% endblock %}
