{% extends base_template %}
{% load kamwhfilters %}
{% block title %}Приватные сообщения{% endblock %}
{% block css %}
{{ block.super }}
<link rel='stylesheet' href='/styles/message.css' type='text/css' media='screen'>
{% endblock %}
{% block text_content %}

{% if pms.object_list %}
<center>
<div class='message'>
	<div class='message-headline'>
		<div class='transparency' id='black'></div>
		<b>Непрочитанные</b>
	</div>
	<div class='message-content'>
	<div class='transparency'></div>
	<ul>
		{% for p in pms.object_list %}
			{% if not p.is_read %}
			<li><a href='/pm/{{ p.id }}'>{{ p.title }}</a>,
			{% if outcome %} для {{ p.addressee.get_nickname|safe }}
			{%else %} от 
				<a href="{% url apps.wh.views.profile_by_nick nickname=p.sender.get_username %}">{{ p.sender.get_nickname|safe }}</a>
			{% endif %} 
			(<small>{{ p.sent }}</small>)&nbsp;<a href='/pm/{{ p.id }}/delete' id='button'>Удалить</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<br clear='all'>
</div> <!-- msg_content -->
<br clear='all'>
</div> <!-- message -->
</center>

<center>
<div class='message'>
	<div class='message-headline'>
		<div class='transparency' id='black'></div>
		<b>Прочитанные</b>
	</div>
	<div class='message-content'>
	<div class='transparency'></div>
	<ul>
	{% for p in pms.object_list %}
		{% if p.is_read %}
		<li><a href='/pm/{{ p.id }}'>{{ p.title }}</a>,
		{% if outcome %} для 
			<a href="{% url apps.wh.views.profile_by_nick nickname=p.addressee.nickname %}">{{ p.addressee.get_nickname|safe }}</a>
		{%else %} от {{ p.sender.get_nickname|safe }}
		{% endif %}
		(<small> {{ p.sent }}</small>)&nbsp;<a href='/pm/{{ p.id }}/delete' id='button'>Удалить</a></li>
		{% endif %}
	{% endfor %}
	</ul>
	<br clear='all'>
	</div> <!-- msg_content -->
<br clear='all'>
</div> <!-- message -->

{# {% include settings.document.links|getskin:"links.html" %} #}
{% include settings.document.links_template|getskin:"links.html" %}
{% else %}
	<center><h3>В этой категории нет сообщений</h3></center>
{% endif %}

{% endblock %}
