{% extends "base_template.html" %}
{% load kamwhfilters i18n comments coretags %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href='{% url "pybb:index" %}'>{% trans "forum" %}</a></li>
    <li class="active">{% trans "profile" %}</li>
    {% if user == object %}
      <li class="pull-right"><a href="{{ user.get_update_profile_url }}">{% trans "update profile" %}</a></li>
    {% endif %}
  </ul>

  {% if object.errors %}
    {{ object.errors }}
  {% else %}
    <center>
      <div class='message'>
        <div class='message-headline'>
          <div class='transparency' id='black'></div>
          <b>Профиль</b>
        </div> <!-- msg_headline -->
        <div class='message-content'>
          <div class='transparency'></div>
          <div class='reflects_down'></div>
          <div class='reflects_left'></div>

          <div class='avatar'>
            {% include "msg/avatar.html" with object=object %}
          </div> <!-- msg_avatar -->
          <div class='text'>
            <div id='profile_data'>
              <b>Имя</b> <span class='notice'>(никнейм)</span>: {{ object.get_nickname|safe }}<br>
              {% spaceless %}
                {% if object.first_name or object.last_name %}
                  <b>Реальное имя</b>: {{ object.first_name }} {{ object.last_name }}<br>
                {% endif %}{% endspaceless %}
              {% ifnotequal object.army.side.name "None" %}<b>Состоит на службе у</b> {{ object.army.side.name }}<br>
                <b>Приписан к</b>: {{ object.army.name }}<br> {% endifnotequal %}
              <b>Пол</b>: {{ object.gender|gender_transform }}<br>
              <br><b>Координаты на просторах галлактики:</b><br>
              {% if object.uin and not object.settings.hide_uin %}<b>uin</b>: {{ object.uin }}<br>{% endif %}
              {% if object.jid and not object.settings.hide_jid %}<b>jid</b>: {{ object.jid }}<br>{% endif %}
              {% if object.email and not object.settings.hide_email %}<b>email</b>: {{ object.email }}<br> {% endif %}
              <br>
              <!-- <a href='{% url "tabletop:rosters" object.get_username %}'>Ростеры автора</a><br> -->
              Количество коментариев: {{ object.comments_count }}<br>
              {% if object.about %}<b>{{ object.get_nickname|safe }} о себе</b>: {{ object.about }}<br>{% endif %}
            </div> <!-- profile_data -->
          </div> <!-- msg_text -->
        </div> <!-- msg_content -->
        <br clear='all'>
        <div class='message-footer' style='text-align: left'>
          {% comment %}[<a class='act_link' href="{% url "wh:pm-send-nick" object.get_username %}" title='отправить лс'>pm</a>]{% endcomment %}
          {% if user == object %}[<a class='act_link' href='{% url "wh:password-change" %}' title='сменить пароль'>***</a>]{% endif %}

          {% if user.is_staff %}[{{ object.username }}]{% endif %}

        </div><!-- msg_footer -->
      </div> <!-- message -->
    </center>

  {% endif %}

{% endblock %}
