{% extends base_template %}
{% block title %} Отослать сообщение {% endblock %}
{% block head_content %}
<link rel='stylesheet' type='text/css' href='/styles/{{ user.skin.name|getskincss:"pm.css" }}' media='screen'>
<link rel='stylesheet' type='text/css' href='/styles/{{ user.skin.name|getskincss:"forms.css" }}' media='screen'>
{% if user.settings.enable_autocomplete %}<link rel='stylesheet' type='text/css' href='/styles/{{ user.skin.name|getskincss:"self-jquery-ui.css" }}' media='screen'>{% endif %}
<!-- <link rel='stylesheet' type='text/css' href='/styles/ui-lightness/jquery-ui.css' media='screen'> -->
{% endblock %}
{% block js %}
<!--
<script language='javascript' src='/media/js/jquery-ui.min.js'></script>
 -->
<!-- jquery ui 1.8.3 -->
{% if user.settings.enable_autocomplete %}
<script language='javascript' src='/media/js/jquery-1.4.4.min.js'></script>
<script language='javascript' src='/media/js/ui/core.js'></script>
<script language='javascript' src='/media/js/ui/widget.js'></script>
<script language='javascript' src='/media/js/ui/position.js'></script>
<script language='javascript' src='/media/js/ui/autocomplete.js'></script>
<script language='javascript' src='/media/js/jquery-ui-base.js'></script>
{% endif %}
{% endblock %}
{% load whfilters %}
{% block text_content %} 

<center>
<div class="send">
<form  method='post' action=".">
    {% csrf_token %}
	{{ form.title.errors }}
	Заголовок<br>
	{{ form.title }}<br>
	{{ form.addressee.errors }}
	Адресат<br>
	{{ form.addressee }}<br>
	{{ form.content.errors }}
	Текст сообщения<br>
	{{ form.content }}<br>
	<input type='submit' value='отправить'>
</form>
</div>
</center>
{% if user.settings.enable_autocomplete %}
<script language='javascript'>
$(document).ready(function(){
    var url = "{% url "wh:url_x_get_users_list_null" %}"; {# todo: remaster #}
    //var url2 = '';
    m_user_autocomplete("#id_addressee", url);
}); //ready
</script>
{% endif %}
{% endblock %}

