{% extends base_template %} {% load i18n %}
{% block css %}
    {{ block.super }}
    <link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"forms.css" }}' media='screen' type='text/css'>
{% endblock %}
{% block text_content %}
<center>
<div class='forms'>
    <form id='id_update_profile_form' action='.' method='post' enctype='multipart/form-data'>
        {{ form.as_ul }}
        <input type='submit' value='{% trans "submit" %}'>
    </form>
</div>
</center>
<script language='javascript'>
$(document).ready(function(){
    var side = document.getElementById('id_side');
    var army = document.getElementById('id_army_raw');
    var updateArmy = function(callback){
        army_id = side.options[side.selectedIndex].value;
        url = "{% url xhr_get_armies %}" + army_id;
        $.getJSON(url, function(data){
            army.options.length = 1; // cleanse
            var i = 1;
            $.each(data, function(key, val){
               army.options[i] = new Option(this.fields['name'], this.pk, false, false);
               i++;
            });
        });
    }
    $('#id_side').change(function(){
        updateArmy();
    });
    var setDefaults = function(){
        for (var i = 0; i<side.options.length; i++){
            if (side.options[i].value == {{ user.army.side.id }})
                side.selectedIndex = i;
        }
        /*cleanse useless data*/
        army.options.length = 1;
        var i = 1;
        xhr_url = "{% url xhr_get_armies %}" + side.options[side.selectedIndex].value;
        $.getJSON(xhr_url, function(data){
            $.each(data, function(key, val){
                army.options[i] = new Option(this.fields['name'], this.pk, false,
                    {{ user.army.id }} == this.pk ? true: false);
                i++;
            });
        });
    };
    {% if user.army %}
        setDefaults();
    {% else %}
        updateArmy();
    {% endif %}
});
</script>
{% endblock %}
