{% extends base_template %} {% load i18n %}
{% block text_content %}
    <form id='id_update_profile_form' class='form-horizontal col-lg-10'
          action='.' method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        {% include "forms/bootstrap_horizontal.html" %}
        {% include "forms/submit.html" with class='btn btn-success' %}
    </form>

    <script type='text/javascript'>
        $(document).ready(function(){
            var army_url = String("{% url "json:wh:armies" 0 %}");
            $.each($('[data-class=chosen]'), function(idx, item){
                $(item).chosen();
            });

            $("#id_side").chosen().change(function(e){
                var pk = $("#id_side").find('option:selected').val();

                $.getJSON(army_url.replace('0', pk), function(data){
                    $("#id_army").find('option').detach().remove();
                    data.map(function(army){
                        opt = $("<option>").text(army.name).attr({'value': army.id});
                        opt.appendTo($("#id_army"));
                    });

                    $("#id_army").trigger('chosen:updated');
                });
            });

        });
    </script>
{% endblock %}
