{% extends base_template %} {% load i18n %}
{% block css %}
    {{ block.super }}
    <link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"forms.css" }}' media='screen' type='text/css'>
{% endblock %}
{% block text_content %}
<center>
<div class='forms'>
    <form id='id_update_profile_form' action='.' method='post' enctype='multipart/form-data'>
        {{ form.as_ul }}
        <input type='submit' value='{% trans "submit" %}'>
    </form>
</div>
</center>
<script language='javascript'>
    var _xhr_get_armies = "{% url json:wh:armies %}";
    var _user_army_side_id = {{ user.army.side.id }};
    var _user_army_id = {{ user.army.id }};
</script>
<script language='javascript' src='/media/js/jq_wh.js'> </script>
{% endblock %}
