.karma{
  *[class^=icon-]{
    padding: 0px 5px;
  }
  .karma-positive,.karma-negative{
    vertical-align: middle;
  }
  .karma-positive{
    color: @text-color;
    &:hover{
      color: @state-success-text;
      text-decoration: none;
    }
  }
  .karma-negative{
    color: @text-color;
    &:hover{
      color: @state-danger-text;
      text-decoration: none;
    }
  }
}