@import "colors";

.message{
  &.round{
    margin-top: 5px;
    border: 1px solid @wh-default-border;
    width: 80%;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    .transparency{
      background-color: black;
      &.black{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-topright: 8px;
        -webkit-border-radius-topright: 8px;
        -webkit-border-radius-topleft: 8px;
        background-color: #000;
      }
      &.grey{
        background-color: @msg-headline-transparency;
      }
    }
    .message-headline{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: @wh-default-text;
      line-height: initial;
      border-bottom: 1px dotted darkgrey;
      padding-top: 1px;
      padding-bottom: 3px;
      padding-left: 5px;
      padding-right: 5px;
      .links{
        span{
          border: 1px solid grey;
          border-bottom: 0px;
          border-right: 0px;
          margin: 0px;
          -moz-border-radius-topleft: 4px;
          border-top-left-radius: 4px;
          -webkit-border-radius-topleft: 4px;
          float: right;
          padding: 1px 6px;
          margin-right: -2px;
          margin-top: -2px;
          margin-bottom: -2px;
          color: #FFEBD9;
          &.first, &:first-child{
            -moz-border-radius-topright: 8px;
            -webkit-border-radius-topright: 8px;
            border-top-right-radius: 8px;
            margin-right: 0px;
          }
        }
      }
      .label{
        padding: 0.1em 0.6em 0.08em;
      }
    }
    .message-body{
      text-align: justify;
      float: left;
      width: 100%;
      .avatar{
        float: left;
        text-align: center;
        margin: 0px;
        padding-top: 5px;
        width: 75px;
        color: white;
        line-height: initial;
        > img{
          width: 50px;
          border: 1px dotted grey;
        }
      }
      > .text{
        color: @round-message-text-color;
        border-left: 1px dotted darkgrey;
        padding-left: 10px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 80px;
        .txt{
          font-size: @font-size-small;
          line-height: initial;
        }
        .transparency{
          border-radius: 0px;
          -moz-border-radius: 0px;
          -webkit-border-radius: 0px;
        }
      }
    }
    .message-footer{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: @message-text-color;
      line-height: initial;
      padding: 0px;
      border-top: 1px dotted darkgrey;
      text-align: right;
      padding-right: 5px;
      padding-left: 5px;
      .transparency{
        .black{
           background-color: black;
          -moz-border-radius:0px;
          border-radius:0px;
          -webkit-border-radius:0px;
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          -moz-border-radius-bottomleft: 8px;
          -moz-border-radius-bottomright: 8px;
          -webkit-border-radius-bottomleft: 8px;
          -webkit-border-radius-bottomright: 8px;
        }
      }
      .links{
        span{
          border: 1px solid grey;
          border-bottom: 0px;
          border-right: 0px;
          margin: 0px;
          padding: 0px;
          -moz-border-radius-topleft: 4px;
          border-top-left-radius: 4px;
          -webkit-border-radius-topleft: 4px;
          float: right;
          padding: 0px 5px;
          margin-right: -1px;
          margin-top: -1px;
          color: @text-color;
          .first, &:first-child{
            -moz-border-radius-bottomright: 8px;
            -webkit-border-radius-bottomright: 8px;
            border-bottom-right-radius: 8px;
            margin-right: 0px;
          }
        }
      }
    }
  }
}

.message {
  &.round{
    .message-headline,.message-body,.message-footer,
    .text,>.avatar{
      position: relative;
    }
    .transparency{
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #666666;
      opacity: 0.55;
      filter: alpha(opacity=55);
      top: 0px;
      left: 0px;
      z-index:-1;
      border: 0px;
      .black{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.60;
        top: 0px;
        left: 0px;
        z-index: -1;
      }
    }
  }
}

.round.message .message-footer{ clear:both; }
.round.message .message-body > .text::after{ content: ""; clear: both; display: block;}
.round.message .message-footer::after{content: ""; clear: both; display: block;}

#rosters-info .round.message{
    margin-left: auto;
    margin-right: auto;
}
.round.message.center{
    margin-left: auto;
    margin-right: auto;
}
.title.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 100%;
}

// addons

.message .msg_right_icon
.quote_content{
	padding: 0px;
	margin: 0px;
}
.quote_txt{
	border: 1px dotted white;
	position: relative;
	padding: 2px 4px;
}
.quote_content .quote_headline{
	position: relative;
	font-size: @font-size-small;
    line-height: initial;
	text-align: center;
	border: 1px solid white;
	border-bottom: 0px;
	padding: 2 0px;
	margin-top: 5px;
}
.quote_content .quote_txt{
	min-height: 30px;
}

.quote_content img.quote_avatar{
	float: right;
	margin-top: -30px;
	margin-right: -20px;
	width: 50px;
	border: 1px dotted white;
}

.quote-content{
  padding: 0px;
  margin: 0px;
  > .quote-headline {
    position: relative;
    font-size: @font-size-small;
    line-height: initial;
    text-align: center;
    border: 1px solid white;
    border-bottom: 0px;
    padding: 2 0px;
    margin-top: 5px;
  }
  > .quote-body {
      min-height: 30px;
      border: 1px dotted white;
      position: relative;
      padding: 2px 4px;
    > .quote-avatar{
      float: right;
      margin-top: -30px;
      margin-right: -20px;
      width: 50px;
      //border: 1px dotted white;
      border-radius: 30px;
    }
  }
}

  .spoiler_block{
    max-width: 90%;
    padding: 0px;
    margin: 0px;
  }
  .spoiler_show{
    border: 1px dotted white;
  }
  .spoiler_block .marker, .spoiler_block a, .spoiler_block .text{
    font-family: Verdana;
    font-size: 0.7em;
  }

  .tr_spoiler{
    background-color: #CF0000 !important;
    width: 100%;
    height: 100%;
  }

  .spoiler{
    position: relative;
    border-top: 1px dotted white;
    margin-top: 5px;
  }
  /*to prevent transparent coloring show wrong despite
   * the elements margin*/
  .spoiler *{
    margin: 0px;
  }

  .offtopic{
    background-color: #454545;
    color: #555;
    font-style: italic;
    margin-top: 5px;
    border: 1px dotted grey;
  }
  textarea.id_comment{
    width: 85%;
    height: 300px;
    border: 1px solid black;
  }
  textarea.quick_edit{
    width: 95%;
    height: 300px;
    border: 1px solid black;
  }

  input#submit{
    border: 1px solid black;
  }

