[run]
branch = True
omit = *migrations*
    *tests.py
    *test_*.py
    tests/api*.py
    *tests/*.py
    */thirdpaty/*

[report]
exclude_lines = 
    pragma: no cover
    def __repr__
    self.fail\(
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

[html]
directory = db/reports/coverage/
