*.py[co]
/static/css/dist/*.css
/celery*
/*shell
/wsgi_*handler.py
/settings_dev
/apps/farseer/settings.py
*.sw[po]
/error_log
/media/files/
/media/pybb/avatars/
/reload
/app/settings/local.py
/ve
/data/working
/*.sqlite
/*.db
/media/admin
/media/grappelli
/media/attachments
/*.log
/fskill
/fstart
/.??*
/run
/run_tests
/locale
django.mo
*.gitignore
/media/photos
/media/uploads
/media/replays
/media/cache
/media/user/*
/media/css/bootstrap.css
/media/components
/data/plop
/db/uploads/*
/db/*.sqlite
/db/*.db
