*.py[co]
/static/css/dist/*.css
/celery*
/*shell
/wsgi_*handler.py
/settings_dev
/apps/farseer/settings.py
*.sw[po]
/error_log
/reload
/app/settings/local.py
/ve
/data/working
/*.sqlite
/*.db
/*.log
/fskill
/fstart
/run
/run_tests
/locale
django.mo
/static/components
/static/pybb
/static/css/bootstrap-*.css
/data/plop
/db/uploads/*
/db/tests
/db/*.sqlite
/db/*.db
/db/allure
/db/reports
/db/sql
/.idea
/.coverage
