*.py[co]
/media/avatars
/media/css/*.css
/media/images/galleries
/settings/*_local.py
/celery*
/*shell
/wsgi_*handler.py
/settings_dev
/apps/farseer/settings.py
*.sw[po]
/error_log
/media/files/
/media/pybb/avatars/
/reload
/settings/local.py
/ve
/working
/*.sqlite
/*.db
/media/admin
/media/grappelli
/media/attachments
/*.log
/fskill
/fstart
/.??*
/run
/run_tests
/locale
django.mo
*.gitignore
/media/photos
/media/uploads
/media/replays
/media/cache
/media/user/*
/media/css/bootstrap.css
/media/components
/data/plop
/uploads/*
