{% extends "base_template.html" %} {% load i18n %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href="{% url "pybb:index" %}">{% trans "forum" %}</a></li>
    <li><a href="{% url "files:galleries" %}">{% trans "gallery" %}</a></li>
    <li class="active">{% trans 'upload image' %}</li>
  </ul>
  <h3>{% trans "Action image" %}</h3>

  <div class='forms'>
  <form id='id_action_image_form' action='' method='post'>
    {% csrf_token %}
    {% trans "Save" as save_i18n %}
    {% include "forms/bootstrap_horizontal.html" with form=form %}
{% include "forms/submit.html" with save_text=save_i18n klass=user.get_color_theme %}
  </form>
  </div>
{% endblock %}
