{% for iter in cats %}
<div class='panel panel-{{ user.get_forum_theme|default:gs.FORUM_THEME_DEFAULT }}'>
    <div class='panel-heading'>
        <h3 class='panel-title'>
            <a href='{{ iter.cat.get_absolute_url }}'>{{ iter.cat }}</a>
        </h3>
    </div>
    <div class='panel-body'>
        <ul class='list-group no-margin-bottom'>
            {% for forum in iter.forums %}
              {% if not forum.is_private %}
                {% include 'pybb/forum_row.html' with form=forum %}
              {% else %}
                {% if user in forum.participants.all %}
                  {% include "pybb/forum_row.html" with form=forum %}
                {% endif %}
              {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
