{% extends base_template %}{% load i18n %}
{% block title %} {{ block.super }}:Вход пользователя{% endblock %}
{% block content %}
  <div class="alert alert-success">
    <button class="close" data-dismiss="alert">&times;</button>
    {% trans "Sign in" %} |
    <a href='{% url "accounts:register" %}'>{% trans "Sign up" context "register" %}</a> |
    <a href="{% url "accounts:password-restore-initiate" %}">{% trans "Passowrd recover" %}</a>
  </div>

  <div id="content" align="left" class="col-lg-8">
    <!-- login required -->
    <form action='.' method='POST' class="form-horizontal">
      {% csrf_token %}{% trans "Login" as submit_i18n %}
      {% include "forms/bootstrap_horizontal.html" with form=form %}
      {% include "forms/submit.html" with save_text=submit_i18n %}
    </form>
  </div>
{% endblock %}
