{% extends base_template %} {% load i18n %}
{% block content %}
  <div class="alert alert-success">
    <button class="close" data-dismiss="alert">&times;</button>
    <a href="{% url "accounts:login" %}">{% trans "Sign in" %}</a> |
    <a href='{% url "accounts:register" %}'>{% trans "Sign up" context "register" %}</a> |
    {% trans "Passowrd recover" %}
  </div>
  <form class='form-horizontal' id='' method='POST' url='{{ request.path }}'>
    {% csrf_token %}{% trans "Initiate" as save_i18n %}
    {% include "forms/bootstrap_horizontal.html" %}
    {% include "forms/submit.html" with save_text=save_i18n %}
  </form>
{% endblock %}
