{% extends base_template %} {% load i18n %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href="{% url "pybb:index" %}">{% trans "forum" %}</a></li>
    <li><a href="{{ user.get_profile_url }}">{% trans "profile" %}: {{ user.get_nickname|safe }}</a></li>
  </ul>

  <h3>{% trans "Password change" %}</h3>
  <form class='form-horizontal' method='POST' url='{{ request.path }}'>
    {% csrf_token %}{% trans "Change" as save_i18n %}
    {% include "forms/bootstrap_horizontal.html" %}
    {% include "forms/submit.html" with save_text=save_i18n klass=user.get_forum_theme %}
  </form>
{% endblock %}
