{% extends base_template %}{% load kamwhfilters %} {% load i18n %}
{% block head_content %}
 <link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"forms.css" }}'  type='text/css' media='screen'>
{% endblock %}
{% block title %}Добавить файл {% endblock %}
{% block text_content %}

{% if user and user.is_active %}
<a id='button' href='{% url url_upload_file %}'>Загрузить</a><br>
{% endif %}
{% if files.object_list %}
{% if user.is_superuser %}
<form action='.' method='post' id='id_files_actions_form'>
{% csrf_token %}
<select id='id_action' name='action'>
    <option>------</option>
    <option value='delete'>delete</option>
</select>
{% endif %}
<ul>
{% for f in files.object_list %}
<li id='file_list'>
        {% if user.is_superuser %}
        <input class='' type='checkbox' name='files' value='{{ f.id }}'>
        {% endif %}
	[{% get_nickname f.owner %}]
	<a href="{{ f.file.url }}">{{ f.file.name|namemediacut }}</a>
	[{{f.file.size|filesizeformat }}]<small>
	{% if f.description %} ({{ f.description }}</small>)
	{% endif %}
	</li>
{% endfor %}
</ul>
{% if user.is_superuser %}
<input type='submit' value='submit'>
</form>
{% endif %}
{% include settings.document.links %}
</center>
{% else %}
{% include settings.document.nothing_inc %}
{% endif %}
{% endblock %}
