{% extends base_template %}{% load kamwhfilters %}
{% block head_content %}
{# <link rel='stylesheet' href='/styles/{% if user.skin %}{{ user.skin.name|lower }}/{% endif %}forms.css' type='text/css' media='screen'> #}
{% endblock %}
{% block title %}Добавить файл {% endblock %}
{% block text_content %}

{% if user and user.is_active %}
<a id='button' href='/upload/file'>Загрузить</a><br>
{% endif %}
{% if files.object_list %}
<ul>
{% for f in files.object_list %}
<li id='file_list'>
	[{% get_nickname f.owner %}]
	<a href="{{ f.file.url }}">{{ f.file.name|namemediacut }}</a>
	[{{f.file.size|filesizeformat }}]<small>
	{% if f.description %} ({{ f.description }}</small>)
	{% endif %}
	</li>
{% endfor %}
</ul>
{% include settings.document.links %}
</center>
{% else %}
{% include settings.document.nothing_inc %}
{% endif %}
{% endblock %}
