{% extends base_template %} {% load i18n %}
{% block css %}
    {{ block.super }}
    <link rel='stylesheet' href='/styles/forms.css' media='screen' type='text/css'>
{% endblock %}
{% block text_content %}
<center>
<div id='upload_progress' style='display: none'></div>
<div class='forms'>
<form id='upload_form' target="upload_frame" enctype="multipart/form-data" action='{% url url_progress_uploader app_n_model='files.file' %}' method='post'>
 {% csrf_token %}
 {{ form.as_ul }}
 <input type='submit' value='{% trans "submit" %}'>
</form>
<iframe id='upload_frame' name='upload_frame' style='display: none'></iframe>
</div>
</center>
<script language='javascript'>
    var app_n_model = 'files.file';
    var progress_url_global = "{% url "url_upload_progress" %}";
    var action_field = "{% url url_progress_uploader app_n_model='files.file' %}";
</script>
<script language='javascript' src='/media/js/jq_progress_upload.js'></script>

{% endblock %}
