<script language='javascript' src='/media/js/jq_tracker.js'></script>
<script language='javascript'>
$(document).ready(function(){
    $('.is_new').click(function(){
        id = $(this).attr('id');
        parts = id.replace(/id_new_/,'').split('_');
        app_n_model = parts[0];
        pk = parts[1];
        url = "{% url "json:tracker:mark-read" %}" + app_n_model + "/" + pk;
        state = mark_read(url);
        if (state){
            $(this).fadeOut(1000);
        }
    });
    $('.is_new').hover(function(){  $(this).css({'cursor': 'pointer'});},function(){$(this).css({'cursor': 'text'});});
});
</script>
