/*message.css overriding*/
.message{ width: 95%;}
.message .msg_content .msg_text{ margin-left: 70px; min-height: 50px; }
.message .msg_content .msg_avatar{ width: 65px; }
.message .msg_headline span.info{
    font-weight: bold;
    color: grey;
}
.message .msg_content .msg_avatar img{
	border: 0px;
}
/*endof overriding*/
.replay_addons{
	margin: 0px;
	font-size: x-small;
}
.replay_addons li{
	margin-left: -15px;
}
.replay_addons #count{
  font-size: x-small;
}

