/* main classes for site bootstrap markup extension */

.form-group{
  &.required{
    > label{
      &:before{
        content: "(*) ";
        color: lighten(@text-color, 30%);
        font-size: @font-size-small;
      }
      &:hover{
        &:before{
          color: @alert-danger-text;
        }
      }
    }
  }
  .errorlist{
    margin-left: 0px;
    padding-left: 0px;
    > li{
      color: @state-danger-text;
    }
  }
}
.icon-delete[class^=icon-],
.icon-delete[class^=glyphicon-],{
    color: @alert-danger-text;
}
.icon-ok[class^=icon-],
.icon-ok[class^=glyphicon]{
  color: @alert-success-text;
}
.social{
  .icon-vk{
    font-size: 14pt;
    vertical-align: middle;
  }
}
@navbar-avatar-size: (@navbar-height / 2) - 1;
.navbar{
  img.avatar{
    max-width: @navbar-avatar-size;
    max-height: @navbar-avatar-size;
    border-radius: @navbar-avatar-size / 2;
  }
}
.panel-heading{
  .avatar{
    max-width: @navbar-avatar-size - 5;
    max-height: @navbar-avatar-size - 5;
  }
}
.table{
  tr{
    > td{
      .avatar{
        max-width: @navbar-avatar-size;
        max-height: @navbar-avatar-size;
      }
    }
  }
  &.table-stats{
    tr:first-child{
      > td {
        border-top-color: transparent;
      }
    }
  }
}