{% load i18n %}

<div class="post post-{% cycle "odd" "even" %} round message message-center"
     data-nickname='{{ comment.user.nickname }}'>
    <a name="post-{{ comment.pk }}"></a>
    <div class="message-headline">
        <div class='transparency grey'></div>
        <span class='links'>
          <a class="permalink" href="#post-{{ comment.pk }}">#</a>
          {% include "karma/include/karma_power.html" with usr=comment.user %}
          {% if user.is_authenticated and comment_watch %}
            {% if comment_watch.comment.submit_date < comment.submit_date or not comment_watch.comment %}
              <i class="glyphicon glyphicon-asterisk"></i>
            {% endif %}
          {% endif %}
          {% if perms.accounts.change_policywarning %}
            <a class="text-danger pull-right glyphicon glyphicon-warning-sign"
               rel="tooltip" data-title="{% trans "Add user policy warning" %}"
               href="{{ comment.user.get_policy_warning_create_url }}"></a>
          {% endif %}
        </span>
        <span class="updated">{{ comment.submit_date|date:"Y/m/d H:i" }}</span>
    </div>
    <div class='message-body'>
        <div class="avatar {{ comment.user.get_avatar_birthday }}">
            {% include "generic/avatar.html" with usr=comment.user %}
            <div class="bottom"></div>
            <div class="post-controls"></div>
        </div>
        <div class='text'>
            {{ comment.cache_comment|safe }}
            {% if comment.updated %}
              <div class="updated-message">{% trans "Edited" %} {{ comment.updated }}</div>
            {% endif %}
            <div class="post-related"></div>
        </div>
    </div>
    <div class='message-footer'>
        <div class='transparency grey'></div>
        <div class="pull-left">
          {% include "karma/include/karma_buttons.html" with usr=comment.user obj=comment %}
        </div>
        <div class='links'>
            {% if perms.comments.change_comment or comment.user == user %}
                 <span><a href="{{ comment.get_edit_url }}">{% trans "Edit" %}</a></span>
            {% endif %}
            <span><a class='forum quote' href="#"
                     data-toggle="quote">{% trans "Quote" %}</a></span>
        </div>
    </div>
</div>
