{% load newsfilters i18n %}
<a name="c{{ c.id }}">&nbsp;</a>
<div class="message">
  {% if not c.is_removed %}
    <div class="message-headline">
      {% if not block_edit_comments and c.user == user %}
        <a href="{% url "core:comment-edit" id=c.id %}?j=y" class="msg_button">[править]</a>
      {% endif %}
      {% if user.is_authenticated %}
        <a href='#' class='pull-right' onClick='insertQuoteUser("{{ c.user.nickname }}");'>[цитировать]</a>
      {% endif %}
      <span class="comment-date">[{{ c.submit_date|date:"Y/M/d, H:i:s" }}]</span>
        <span class="user-nickname">
          <span class="nickname">{{ c.user.get_nickname|safe }}</span>  комментирует:
        </span>
    </div>
    <div class="message-content">
      <div class="avatar">
          {% include "msg/avatar.html" with object=c.user %}
        <br clear='all'>
      </div> <!-- avatar -->
      <div class="text">
        <div id="text_{{ c.id }}">
          {{ c.cache_comment|safe }}
        </div>
        {% if c.user.about %}
          <small>---<br>{{ c.user.about }}</small>
        {% endif %}
        <br clear="all">
      </div> <!-- text -->
    </div> <!-- content -->
    <br clear="all">
    <div class="message-footer">
      {% if not block_edit_comments %}{% spaceless %}
        {% ifnotequal user c.user %}
          {% if user.is_superuser or perms.news.edit_comments %}
            <a href="javascript:void(0);" onClick='flip_to_textarea({{ c.id }})'>[быстрая правка]</a> |
            <a href="{% url "core:comment-edit" id=c.id %}">[править]</a>
          {% endif %}
          {% if user.is_superuser or perms.news.del_restore_comments %}
            {% if not c.is_removed %}
              | <a href='{% url "core:comment-del-restore" id=c.id flag='delete' %}?j={{ c.id }}'>[скрыть]</a>
            {% endif %}
          {% endif %}
          {% if user.is_superuser or perms.news.purge_comments %}
            | <a href='{% url "core:comment-purge" id=c.id approve='approve' %}'>[уничтожить]</a>
          {% endif %}
        {% else %}
          <a href="javascript:void(0);" onClick='flip_to_textarea({{ c.id }})'>[быстрая правка]</a> |
          <a href="{% url "core:comment-edit" id=c.id %}">[править]</a>
          {% if not c.is_removed %}
            | <a href='{% url "core:comment-del-restore" id=c.id flag='delete' %}?j={{ c.id }}'>[скрыть]</a>
          {% endif %}
          | <a href='{% url "core:comment-purge" id=c.id approve='approve' %}'>[уничтожить]</a>
        {% endifnotequal %}
      {% endspaceless %}
      {% endif %} {# if not block_edit_comments #}
    </div> <!-- footer -->
  {% else %} {# it's deleted #}
    <div class="message-headline">
      <span class="user-nickname" class='deleted'><span class="nickname">Коментарий скрыт</span></span>
    </div> <!-- headline -->
    {% if user.skin %}
      <div class="message-footer" class="deleted">
        {% spaceless %}
          {% if perms.news.edit_comments or user.is_superuser %}
            <a href="{% url "core:comment-edit" id=c.id %}">[править]</a> |
          {% endif %}
          {% ifequal user c.user %}
            {% if c.is_removed %}
              <a href="{% url "core:comment-del-restore" id=c.id flag='restore' %}?j={{ c.id }}">[показать]</a> |
            {% endif %}
            <a href="{% url "core:comment-purge" id=c.id approve='approve' %}">[уничтожить]</a>
          {% else %}
            {% if perms.news.del_restore_comments or user.is_superuser %}
              <a href="{% url "core:comment-del-restore" id=c.id flag='restore'%}?j={{ c.id }}">[показать]</a> |
            {% endif %}
            {% if perms.news.purge_comments or user.is_superuser %}
              <a href="{% url "core:comment-purge" id=c.id approve='approve' %}">[уничтожить]</a>
            {% endif %}
          {% endifequal %}
        {% endspaceless %}
      </div> <!-- footer -->
    {% endif %} {# not an registered user #}
  {% endif %}
</div> <!-- message -->