<center> {% load newsfilters %}
    <div class='round_message'>
        <div class='msg_headline'>
            <!-- effects -->
            <div class='transparency_black'></div>
            <!-- end of effects -->
            <div class='links'>
                {% ifequal user br.owner %}
                    <span class='first'><a href='{% url "tabletop:battle-report-delete" br.id 'approve' %}' title='удалить' class='del_link'>[x]</a></span>
                    <span><a href="{% url "tabletop:battle-report-edit" br.id %}" title='редактировать ростер' class='edit_link'>правка</a></span>
                {% else %}
                {% if perms.tabletop.delete_battlereport or user.is_superuser %}
                    <span class='first'><a href='{% url "battle-report-delete" br.id 'approve' %}' title='удалить' class='del_link'>[x]</a></span>
                    <span><a href="{% url "tabletop:battle-report-edit" br.id %}" title='редактировать ростер' class='edit_link'>правка</a></span>
                {% endif %}
                {% endifequal %}
            </div>
            <a href='{{ br.get_absolute_url }}'>{{ br.title }} : {{ br.general_pts }} pts</a>
            </div><!-- msg_headline -->
        <div class='msg_content'>
            <div class='msg_avatar'>
                {% spaceless %}
                        {% if br.winners.all %}
                            <img src='{% url "wh:avatar" br.winners.all.0.owner.nickname %}'><br>
                            {{  br.winners.all.0.show_player }}
                        {% else %}
                            <img src='/media/avatars/none.png'>
                        {% endif %}
                {% endspaceless %}
            </div> <!-- msg_avatar -->
            <div class='msg_text'>
                <div class='transparency'></div>
                <div class='reflects_left'></div>
                <div class='reflects_right'></div>
                    {% spaceless %}
                    <div class='msg_txt'>{% if br.winner %}Победитель:
                    {% if br.winners.all %}
                        {{ br.winners.all.0.user.get_nickname|safe }}
                    {% else %}
                        {{ br.winners.all.0.show_player }}
                    {% endif %}
                    {% else %}
                        Ничья
                    {% endif %}{% endspaceless %}

                    <div class='msg_txt'>Расы: <i>{% spaceless %}
                        {% for r in  br.races %}
                            {% if not forloop.last %}
                            {{ r }},
                            {% else %}
                            {{ r }}
                            {% endif %}
                        {% endfor %}
                    {% endspaceless %}
                    </i></div>
                    <div class='msg_txt'>Количество очков: {{ br.general_pts }}pts<br></div>
                    <div class='msg_txt'>Игра: {{ br.mission.game }}:{{ br.mission }}</div>
                    <div class='msg_txt'>Тип игры: {{ br.layout }}</div>
                    {% load comments %}
                    {% get_comment_count for br as comments_count %}
                    {% if comments_count %}
                        <div class='msg_txt'>Коментариев: {{ comments_count }}</div>
                    {% endif %}

                    {% if show_br_comment %}
                    <div class='msg_txt'>Коментарий: </div>
                        {{ br.comment|render_filter:br.syntax|safe }}
                    {% endif %}

                    <div style='clear: both;'></div>
            </div> <!-- msg_text -->
        </div><!-- msg_content -->
        <div class='msg_footer'>
            <div class='transparency_black'></div>
            <div class='links'>
                <span>{{ br.layout }}</span>
                {% if br.winner %}<span>{{ br.winner.show_player }}</span> {# already returns span #} {% else %}
                <span>Ничья</span>{% endif %}
                <span>{{ br.mission.game }}:{{ br.mission }}</span>
            </div>
        <br clear='all'>
        </div> <!-- msg_footer -->
    </div> <!-- message -->
    <br clear='all'>
</center>
