{% load newsfilters %}
<center>
  <div class='round message' id='roster_{{ r.id }}'>
    <div class='message-headline'>
      <div class="transparency grey"></div>
      <div class='links'>
        {% if user == r.owner or perms.tabletop.edit_user_rosters %}
            <span class='first'>
               <a href='{% url "tabletop:roster-delete" r.id "approve" %}'
                  title='удалить' class='del_link' rel="tooltip">[x]</a>
            </span>
          <span>
            <a href="{% url "tabletop:roster-edit" r.id %}"
               title='редактировать ростер' rel="tooltip"
               class='edit_link'>правка</a>
          </span>
        {% endif %}
      </div>
      <a href='{{ r.get_absolute_url }}'>{{ r.title }} : {{ r.pts }} pts</a>
    </div><!-- msg_headline -->
    <div class='message-content'>
      <div class='avatar text-center'>
        {% spaceless %}
          {% if r.owner %}
            <img src='{{ r.owner.get_avatar_url }}'><br>
          {% endif %}
          {% if r.user %}
            <a href='{% url "tabletop:rosters" r.user.get_username %}'>
              {{ r.user.get_nickname|safe }}</a>
          {% else %}
            {{ r.show_player }}
          {% endif %}
        {% endspaceless %}
      </div> <!-- msg_avatar -->
      <div class='text'>
        {% spaceless %}
          {% if r.owner == r.user %}
            <div class='txt'>
              Владелец: {{ r.owner.get_nickname|safe }}
            </div>
          {% endif %}
        {% endspaceless %}
        <div class='txt'>
          Автор: <i>{% if r.user %}{{ r.user.get_nickname|safe }}{% else %}{{ r.show_player }}{% endif %}</i>
        </div>
        <div class='txt'>Побед/поражений: </i>: {{ r.wins }}/{{ r.defeats }}</div>
        <div class='txt'>Кодекс: <i>{{ r.codex }}</i></div>
        <div class='txt'>Номер редакции кодекса: <i>{{ r.revision }}</i></div>
        <div class='txt'>Очки: <i>{{ r.pts }} pts</i></div>
        {% if roster_flag == "True" %}
          <div class='txt'>Ростер:<br>
            <span class='roster'>
              {{ r.render_roster|safe }}
            </span>
          </div>
        {% else %}
          <div class='txt' id='id_roster_{{ r.id }}'>
            Ростер:
            <!--<a class='lister' href='#roster_{{ r.id }}' onClick="get_roster('{% url "json:tabletop:roster" r.id %}', 'id_roster_{{ r.id }}');" alt='[+]' title='Раскрыть ростер'>[+]</a>-->
            <span class='roster'>
              {{ r.render_roster|safe }}
            </span>
          </div>
        {% endif %}
        {% if r.comments %}
          <div class='msg_txt'>Коментарий: <i>{{ r.comments|render_filter:r.syntax|safe }}</i></div>
        {% endif %}
        {% load comments %}
        {% get_comment_count for r as comments_count %}
        {% if comments_count %}
          <div class='msg_txt'>Коментариев: {{ comments_count }}</div>
        {% endif %}
        <div style='clear: both;'></div>
      </div> <!-- msg_text -->
    </div><!-- msg_content -->
    <br clear='all'>
    <div class='message-footer'>
      <div class="transparency grey"></div>
      <div class='links'>
        {% comment %}<span><a href='{% url "tabletop:rosters-codex" r.codex.id r.revision %}'{% spaceless %}
                 title='{{ r.revision }}-я редакция кодекса'
        {% endspaceless %}>{{ r.codex }} [{{ r.revision }}]</a></span>
        <span><a href='{% url "tabletop:rosters-pts" r.pts %}'>{{ r.pts }} pts</a></span>{% endcomment %}
      </div>
      <br clear='all'>
    </div> <!-- msg_footer -->
  </div> <!-- message -->
</center>
