{% extends "base.html" %} {% load i18n %}
{% block css %}
{{ block.super }}
<link rel='stylesheet' type='text/css' href='/styles/{{ user.skin.name|getskincss:"forms.css" }}' media='screen'>
{% endblock %}
{% block text_content %}
<center>
<div class='form'>
<form id='id_add_battle_report' action='.' method='post'>
    {{ form.as_ul }}
    <input type='submit' value='{% trans "submit" %}'>
</form>
</div>
</center>
<script language='javascript'>
$(document).ready(function(){
    var updateWinner = function(){
        //cleanse
        wc = document.getElementById('id_winner_choice');
        sel = wc.selectedIndex;
        r = document.getElementById('id_rosters');
        for (var i = 0; i<wc.options.length; i++) wc.options[i] = null;
        
        wc.options[0] = new Option('-----', -1, false, false); 
        for (var i = 1; i<r.options.length+1; i++){
            wc.options[i] = new Option(r.options[i-1].text, r.options[i-1].value,
                false, false)
        }//for
    };
    $('#id_rosters_choice').dblclick(function(){
        rosters = document.getElementById("id_rosters");
        _l = rosters.options.length;
        _s = this.selectedIndex;
        rosters.options[_l] = new Option(this.options[_s].text,
            this.options[_s].value, false, true);
        
        updateWinner();
    });
    $('#id_rosters').dblclick(function(){
        rosters = document.getElementById(this.id);
        _s = rosters.selectedIndex;
        rosters.options[_s] = null;

        updateWinner();
    });
    $('#id_search_rosters').keydown(function(){
        sr = document.getElementById('id_search_rosters');
        if (sr.textLength < 3) return;
        
        text = sr.value;
        r = document.getElementById('id_rosters_choice');
        url = '{% url xhr_search_rosters %}' + text;
        $.getJSON(url, function(data){
            //cleanse old data
            for (var count = r.length - 1; count>-1; count--) r[count] = null;
            var n = 0;
            jQuery.each(data, function(){
                r.options[n] = new Option(this['title'],this['pk'],false,false);
                n++;
            });//each
        });//getJSON
        /* geting roster via entered text */

    });
    $('#id_add_battle_report').submit(function(){
        r = document.getElementById('id_rosters');
        s = document.getElementById('id_search_rosters').value = '';
        for (var i = 0; r.options.length; i++) r.options[i].selected = true;
    });
    
    wc = document.getElementById('id_winner_choice');
    wc.options[0] = new Option ('-----', -1, false, false);
    r = document.getElementById('id_rosters');
    {% if winner %}
    if (r.options.length>0)  updateWinner();
        for (var i=0; i<wc.options.length; i++){
            if (wc.options[i].value == '{{ winner }}'){
                wc.selectedIndex = wc.options[i].index;
                break;
            }
        };
    {% endif %}

});
</script>
{% endblock %}
