{% extends base_template %}
{% block css %} {% load i18n %}
{{ block.super }}
<link rel='stylesheet' href='/styles/forms.css' media='screen' type='text/css'>
{% endblock %}
{% block text_content %}

<center>
<form id='add_battle_report' action='.' method='post'>
	{{ form.title.errors }}
	{% trans "Tilte" %}:<br>
	<span class='notice'>
		Здесь записывается заголовок батлрепорта, то есть его имя
	</span><br>
	{{ form.title }}<br>
	{{ form.rosters.errors }}
	{% trans "Rosters' ids" %}:<br>
	<span class='notice'>[1]Здесь указываются уникальные номера ростеров, которые учавствовали в сражении.<br>
	Стоит отметить также, что количество очков у ростеров должно быть равным!</span>
	{{ form.rosters }}<br>
	{{ form.winner.errors }}
	{% trans "Winner" %}:<br>
	<span class='notice'>
		[2] Победитель должен указываться из тех уникальных номеров ростеров,
		которые вы представили в поле выше
	</span>
	{{ form.winner }}<br>
	{{ form.mission.errors }}
	{% trans "Mission" %}:<br>
	{{ form.mission }}<br>
	{{ form.layout.errors }}
	{% trans "Layout" %}:<br>
	<span class='notice'>Разметка может быть любой, заданной по формуле NvsM, где N - число от 1 до 9, M - число от 1 до 9<br></span>
	{{ form.layout }}<br>
	{{ form.hidden_syntax }}
	{{ form.syntax.errors }}
	{% trans "Syntax" %}:<br>
	{{ form.syntax }}<br>
	{{ form.comment.errors }}
	{% trans "Comment" %}:<br>
	{{ form.comment }}<br>
	{{ form.next }}
	<input type='submit' value=' {% trans "submit" %} '>
</form>
</center>

<script language='javascript'>
	syntax = $('#id_syntax');
	syntax.change(filter_syntax,function(){});
</script>

{% endblock %}
