{% extends base_template %} {% load newsfilters %}
{% block css %}
{{ block.super }}
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"round_message.css"}}' type='text/css' media='screen'>
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"tabletop.css"}}' type='text/css' media='screen'>
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"forms.css"}}' type='text/css' media='screen'>
{% endblock %}
{% block js %}
{{ block.super }}
<script language='javascript' src='/media/js/base.js'></script>
{% endblock %}
{% block text_content %}
{% with battle_report as br %}
	<center>
	<a id='rosters_button' href="#">ростеры игроков</a>
	<div id='roster_{{ br.id }}'>
	{# here should be an implementation of user roster cards #}
	{% for roster  in br.users.distinct %}
		{% with roster as r %}	
			{% with "True" as roster_flag %}
				{% include settings.document.roster_inc %}
			{% endwith %}
		{% endwith %}
			{% comment %}{% if br.bool_versus_layout|bool_list:forloop.counter %}
				<div class='versus'>vs</div>
			{% endif %}{% endcomment %}	
	{% endfor %}
	<hr width='40%'>
	</div>
        <script language='javascript'>
            $(document).ready(function(){
                $('#rosters_button').click(function(){
                    $('#roster_{{ br.id }}').toggleClass('hidden');
                });
                $('#roster_{{ br.id }}').addClass('hidden');
            });
        </script>
	{% with "True" as show_br_comment %}
		{% include settings.document.battle_report_inc %}
	{% endwith %}
{% endwith %}
{% if comments.object_list %}
{% include settings.document.comments %}
{% with comments as page %}
	{% include settings.document.links %}
{% endwith %}
{% endif %}

{% if user.is_authenticated %}
    {% get_content_type br as object %}
	{% include settings.document.comments_form with object=object%}
{% endif %}
{% endblock %}
