		{% comment %}<center> {% load newsfilters %}
		<div class='round_message'>
		<div class='msg_headline'>
			<!-- effects -->
			<div class='transparency_black'></div>
			<div class='reflects_left'></div>
			<div class='reflects_right'></div>
			<!-- end of effects -->
			<div class='links'>	</div>
			<span><a href='#'>Батлрепорт</a> </span>
			</div><!-- msg_headline -->
			<div class='msg_content'>
			<div class='msg_avatar'>
				{% spaceless %}
						<img src='{% url "url_get_avatar" br.winner.show_player %}'><br>
						{% spaceless %}
						{% if br.winner.user %}
							{% get_nickname br.winner.user %}
						{% else %}
							{{ br.winner.show_player }}
						{% endif %}{% endspaceless %}
				{% endspaceless %}
			</div> <!-- msg_avatar -->
			<div class='msg_text'>
				<div class='transparency'></div>
				<div class='reflects_left'></div>
				<div class='reflects_right'></div>
				{% spaceless %}
				<div class='msg_txt'>Победитель: 
				{% if br.winner.user %}
					{% get_nickname br.winner.user %}
				{% else %}
					{% get_raw_nickname br.winner.show_player %}
				{% endif %}</div>{% endspaceless %}
				<div class='msg_txt'>Игра: {{ br.mission.game }}:{{ br.mission }}</div>
				<div class='msg_txt'>Количество очков: {{ br.general_pts }}pts<br></div>
				<div class='msg_txt'>Тип игры: {{ br.layout }}</div>
				<div class='msg_txt'>Коментарий: </div>
					{{ br.comment|striptags|render_filter:br.syntax|safe }}
				<div style='clear: both;'></div>
			</div> <!-- msg_text -->
		</div><!-- msg_content -->
		<br clear='all'>
		<div class='msg_footer'>
			<div class='transparency_black'></div>
			<div class='reflects_left'></div>
			<div class='reflects_right'></div>
			<div class='links'>	
				<span>{{ br.layout }}</span>
				<span>{{ br.winner.show_player }}</span> {# already returns span #}
				<span>{{ br.mission.game }}:{{ br.mission }}</span>

			</div>
			<br clear='all'>
		</div> <!-- msg_footer -->
		</div> <!-- message -->
	</center>
{% endcomment %}
