{% extends base_template %}
{% block css %}
	{{ block.super }}
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"round_message.css" }}' media='screen' type='text/css'>
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"forms.css" }}' media='screen' type='text/css'>
{% endblock %}
{% block text_content %} {% load i18n %}
	{% if battlereps.object_list %}
	{% if perms.tabletop.delete_battlereport and perms.tabletop.change_battlereport %}
    <div class='forms'>
    <form id='id_action_battlereport_form' action='.' method='post' class='action_form'>
    {% csrf_token %}
    {{ form.action.errors }}
    {{ form.action }}
    <input type='submit' value='{% trans "submit" %}'><br clear='all' />
    {% endif %}
    {% for br in battlereps.object_list %}
		{% include settings.document.battle_report_inc %}
	{% endfor %}
	{% if perms.tabletop.delete_battlereport and perms.tabletop.change_battlereport %}
    </form>
    </div>
    {% endif %}
	{% with battlereps as page %}
		{% include settings.document.links %}
	{% endwith %}
	{% else %}
            {% include settings.document.nothing_inc %}
	{% endif %}
{% endblock %}
