{% extends base_template %}
{% load i18n %}
{% block content %}
    <a class='btn btn-inverse add-report pull-right' style='margin-bottom: 10px;' href='{% url "tabletop:roster-add" %}'>
        <i class="icon-plus icon-white"></i>
        {% trans "Add" %}
    </a>


    <div class='report'>
        <form class='form-horizontal' {% spaceless %}
              {% if not form.instance.pk %}
              action='{% url "tabletop:report-add" %}'
              {% else %}
              action='{% url "tabletop:report-edit" form.instance.pk %}'
              {% endif %} {% endspaceless %}method='POST' id='add-report-form'>
            {% csrf_token %}
            {% trans "Save" as submit %}
            {% include "forms/bootstrap_horizontal.html" with form=form submit=submit submit_class='btn btn-success' %}
        </form>
    </div>

    {% if not form.instance.pk %}
    {% if reports.object_list %}
        <table class='table striped'>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Pts" %}</th>
                <th>{% trans "Published" context "published date" %}</th>
                <th>{% trans "Players" context "battle report players" %}</th>
                <th>{% trans "Approved" context "approved report" %}</th>
            </tr>
            {% for report in reports.object_list %}
            <tr>
                <td><a href='{{ report.get_absolute_url }}'>{{ report.title }}</a></td>
                <td>{{ report.get_pts }}</td>
                <td>{{ report.published }}</td>
                <td>
                    {% for player in report.get_players %}
                        <a href='{% url "wh:profile-by-nick" player.nickname %}'>{{ player.get_nickname|safe }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
                <td>
                    <label class='label label-{{ report.get_approved_label }}'>
                        {% if report.approved %}{% trans "approved" %}
                        {% else %}{% trans "not approved" %}
                        {% endif %}
                    </label>
                </td>

            </tr>
            {% endfor %}
        </table>
        {% include "links.html" with page=reports %}
    {% else %}
        <h3>{% trans "No reports found ;)" %}</h3>
    {% endif %}
    {% endif %}
<script type='text/javascript'>
    var postReportForm = function(form){
        data = form.serialize();
        form.find('input, select').attr({'disabled': 'disabled'});
        postFormAjax({
            form: form,
            data: data,
            successMsg: "{% trans 'Added successfull' %}",
            success: function(json){
                form.find('input, select').removeAttr('disabled');
                setTimeout(function(){
                    document.location.reload()
                }, 3000);
            }
        })
    }

    $(document).ready(function(){
        $('[data-class="chosen"]').chosen({
            no_results_text: "{% trans 'No results matched' %}",
            placeholder_text: "{% trans "Select some options" %}"
        });
        //chosen bug :( should be before 'hiding the block'
        {% if not form.instance.pk %}
        setTimeout(function(){$('.report').addClass('hide-flow');}, 10);
        {% endif %}
        var settings = myMarkupSettings['textile'];
        settings['previewParserPath'] = '{% url "news:markup-preview" %}?markup=textile&template=article';
        $('#id_comment').markItUp(settings);
        $(".add-report").click(function(e){
            icon = $(this).find('i.icon-white');
            if($(icon).hasClass('icon-plus')){
                $(icon).removeClass('icon-plus');
                $(icon).addClass('icon-minus');
            } else {
                $(icon).removeClass('icon-minus');
                $(icon).addClass('icon-plus');
            }
            $('.report').toggleClass('hide-flow');
            return false;
        });

        $('#id_rosters').ajaxChosen({
            type: 'GET',
            url: '{% url 'json:tabletop:roster-search' %}',
            dataType: 'json',
            jsonTermKey: 'q',
            keepTypingMsg: '{% trans "Please, keep typing ..." %}',
            lookingForMsg: "{% trans 'Searching for' %}"

        }, function(data){
            var results = [];

            data.rosters.map(function(roster){
                results.push({ value: roster.id, text: roster.unicode });
            });
            return results;
        }, {placeholder_text: "{% trans "Search some rosters" %}"});

        $("#id_rosters").chosen().change(function(e){
            $("#id_winners option").detach().remove();
            $.each($("#id_rosters option"), function(idx, opt){
                option = $("<option>").attr({'value': $(opt).val()}).text($(opt).text());
                $(option).appendTo($("#id_winners"));
            });
            $("#id_winners").trigger('liszt:updated');
            return e;
        });
        $("#add-report-form #id_submit").click(function(e){
            postReportForm($(this).parents('form'));
            return false;
        });
        $('#add-report-form').submit(function(e){
            postReportForm($(this));
            return false;
        });
    });
</script>
{% endblock %}
