{% extends base_template %} {% load newsfilters %}
{% block css %}
{{ block.super }}
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"message.css" }}' type='text/css' media='screen'>
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"tabletop.css" }}' type='text/css' media='screen'>
{% endblock %}
{% block js %}
{{ block.super }}
<script language='javascript' src='/media/js/base.js'></script>
{% endblock %}
{% block text_content %}
<center>
<div class='message'>
	<div class='msg_headline'>
		<div class='transparency' id='black'></div>
		{% ifequal user roster.owner %}
			<a href='{% url "tabletop:roster-edit" roster.id %}' class='msg_button'>[править]</a>
		{% else %}
			{% ifequal user roster.user %}
				<a href='{% url "tabletop:roster-edit" roster.id %}' class='msg_button'>[править]</a>
				<a href='{% url "tabletop:roster-spawn" roster.id %}' class='msg_button' title='Переписать прямого владельца ростера на себя (данный ростер больше не будет появляться в списке пользователя, который его создал (по секрету - это были не вы, но записан он был на вас)'>[spawn]</a>
			{% endifequal %}
		{% endifequal %}
		{{ roster.title }}:<a href='{% url "tabletop:rosters-pts" pts=roster.pts %}'>{{ roster.pts }} pts</a>
		
	</div> <!-- msg_headline -->
	<div class='msg_content'>
		<div class='transparency'></div>
		<div class='msg_avatar'>
		{% if roster.user %}
			<div align='center' class='nickname'>{% get_nickname roster.user %}</div>
		{% spaceless %}
		    <div class='since' title='Обитает на ресурсе уже вот такое количество времени'>{{ c.user.date_joined|timesince }}</div>
            <span class='msg_ranks'>статус:
            {% if roster.user.ranks.values %}
                {% for rank in roster.user.ranks.values %}
                    <a href="{% url "wh:rank" codename=rank.codename %}">{{ rank.short_name|lower }}{% if not forloop.last %}, {% endif %}</a>
                {% endfor %}
            {# {% endif %} #}
            </span>
			{% endif %}{% endspaceless %}
		{% endif %}
			{% if roster.user %}
                            <img src='{% url "wh:avatar" nickname=roster.user.get_username %}'>
                        {% endif %}
		{% if roster.user %}
			<center>
            {% with roster.user as warn_user %}
             {% include "warnings/warning.html" %}
            {% endwith %}
            {% with roster.user as karma_user %}
            {% include "karma_power.html" %}
            {% endwith %}
            </center>
            {% if not roster.user.settings.invisible %}
                {% check_if_online roster.user as is_online 15 %} {% if is_online %}[online]{% else %}[offline]{% endif %}
            {% else %}&nbsp;{% endif %}
            {% if user.is_authenticated %}
            {% if roster.user.jid and not roster.user.settings.hide_jid %}<a href="xmpp:{{ roster.user.jid }}">[jid]</a>{% endif %}
            {% if roster.user.uin and not roster.user.settings.hide_uin %}<a href="icq:{{ roster.user.uin }}">[icq]</a>{% endif %}
            {% if roster.user.email and not roster.user.settings.hide_email %}<a href="mailto:{{ roster.user.email }}">[mail]</a>{% endif %}
            {% endif %}
		{% endif %}
		</div> <!-- msg_avatar -->
		<div class='msg_text'>
		<span class='msg_right_icon'>
			{# <a href='{% url "url_race_rosters" race=roster.show_race %}'><img src="{% url "url_get_race_icon" roster.show_race %}"> </a> #}
		</span><!--implement with message.css -->
		{# almost all text should be placed here #}
			<center>
			<div class='roster_info'>{# places with tabletop.css #}
				Количество очков: <span class='pts'>{{ roster.pts }}</span><br>
				Кодекс: <div class='race'>{{ roster.codex }}</div>
                                Издание: <div class='revision'> {{ roster.revision }}</div>
				{% if not roster.user %}Имя игрока: <div class='player'>{{ roster.player }}</div> {% endif %}
				Ростер:<div class='roster'>
					{{ roster.roster|render_filter:roster.syntax|safe }}
				</div>
			</div>
			</center> <!-- before roster_info -->
            {% if roster.comments %}
			<div class='comment'>
				{{ roster.comments|render_filter:roster.syntax|safe }}
			</div>
            {% endif %}
		<br clear='all'>
		</div> <!-- msg_text -->
	</div> <!-- msg_content -->
	<br clear='all'>
	<div class='msg_footer'>
		{% spaceless %}
			{% ifnotequal roster.user roster.owner %}
				[добавлено: <a href='{% url "tabletop:rosters" roster.owner.get_username %}'{% get_nickname roster.owner %}</a>]
			{% endifnotequal %}
			{% ifequal roster.owner user %}
				[<a href='{% url "tabletop:roster-delete" roster.id "approve" %}'>удалить</a>]
			{% endifequal %}
		{% endspaceless %}
	</div> <!-- msg_footer -->
</div> <!-- message -->
</center>

{% if comments.object_list %}
{% include settings.document.comments %}
{% with comments as page %}
	{% include settings.document.links %}
{% endwith %}
{% endif %}

{% if user.is_authenticated %}
    {% get_content_type roster as object %}
	{% include settings.document.comments_form with object=object%}
{% endif %}
{% endblock %}
