{% extends base_template %} {% load newsfilters i18n %}
{% block css %}
{{ block.super }}
<link rel='stylesheet' href='/styles/tabletop.css' type='text/css' media='screen'>

{% endblock %}
{% block js %}
{{ block.super }}
<script language='javascript' src='/media/js/base.js'></script>
<script language='javascript' src='/media/js/jq_tabletop.js'></script>
{% endblock %}
{% block text_content %}
<div class='btn-group'>
    <a href='{% url "tabletop:roster-add" %}'
        class='btn btn-xs btn-primary'>{% trans "Add" %}</a>
    {# <a href='{% url "core:search-sph-model" 'roster' %}' class='btn btn-primary btn-xs'>{% trans "Search" %}</a> #}
</div>

{% if rosters.object_list %}
{% if perms.tabletop.change_roster or perms.tabletop.delete_roster %}
<div class='forms'>
<form id='id_action_rosters_form' action='.' method='post' class='action_form'>
{% csrf_token %}
{{ form.action.errors }}
{{ form.action }}
<input type='submit' value='{% trans "submit" %}'><br clear='all' />
{% endif %}
{% for r in rosters.object_list %}
	{% include settings.document.roster_inc %}
{% endfor %}
{% if perms.tabletop.change_roster or perms.tabletop.delete_roster %}
</form>
</div>
{% endif %}
{% if comments.object_list %}
	{% include settings.document.comments %}
{% endif %}
{% with rosters as page %}
	{% include settings.document.links %}
{% endwith %}
{% else %}
{% include settings.document.nothing_inc %}
{% endif %}
{% endblock %}
