{% extends base_template %}{% load kamwhfilters %}{% load comments %} {% load votetags %} {% load i18n %}
{% block css %}
{{ block.super }}
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"gallery.css" }}' type='text/css' media='screen'>
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"forms.css" }}' type='text/css' media='screen'>
{% endblock %}
{% block title %} Галерея {% endblock %}
{% block text_content %}
<script language='javascript' type='text/javascript'>
	<!--
	function follow_to_gallery(){
		g_list = document.getElementById('g_list');
		window.location = "{% url apps.files.views.show_all_images %}"+ g_list.value; //.href = glist.value;
	}
	-->
</script>
{# vote requirements #}
{% if images.object_list %}
<script type='text/javascript' language='javascript' src='/media/js/stars.js'></script>
<form class="gallery_form" action='.'>
	<select name='galleries' id='g_list' onChange="follow_to_gallery();">
		<option class='even' value='null'>-----</option>
		{% for g in galleries %} 
			{% spaceless %}
			{# {% get_images_count for g as img_count %} #}
			{# {% if img_count %} #}
			<option class='{% cycle odd,even %}' value="{{ g.id }}">{{ g.name }} {# [{{ img_count }}] #}</option> {#{% endif %} #}
			{% endspaceless %}
		{% endfor %}
	</select>
</form>{% if gallery_id %}
<script language='javascript' type='text/javascript'>
	g_list = document.getElementById('g_list');
	g_list.value = {{ gallery_id }}
</script>{% endif %}

{% with "True" as gallery_general %}

<div class='forms'>
<form id='id_images_action_form' action='.' method='post'>
{% if user.is_superuser or perms.files.delete_images %} 
<br />
<label for='id_action'>Действия: </label>
{{ form.action.errors }}
{{ form.action }}
{% endif %}
{% for image in images.object_list %}
    {% include settings.document.image_inc %} 
{% endfor %}
<br clear="all">
{% if user.is_superuser or perms.files.delete_images %}
<input type='submit' value='{% trans "submit" %}' style='clear: all;'>
{% endif %}
</form>
</div>
{% include "tracker/tracker_js.html" %}
<script language='javascript'>
    $(document).ready(function(){
        $('.frame').bind('mouseover', function(){
            $(this).addClass('frame_hover');
        });
        $('.frame').bind('mouseout', function(){
            $(this).removeClass('frame_hover');
        });
    });
</script>
{% endwith %}

{% include settings.document.links %}
{% else %}
{% include settings.document.nothing_inc %}
{% endif %}
{% endblock %}

