{% extends "base_template.html" %}
{% load i18n %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href="{% url "pybb:index" %}">{% trans "forum" %}</a></li>
    <li><a href="{% url "files:galleries" %}">{% trans "galleries" %}</a></li>
    {% if form.instance.pk %}
      <li><a href="{{ form.instance.gallery.get_absolute_url }}">{{ form.instance.gallery.name|lower }}</a></li>
      <li><a href="{{ form.instance.get_absolute_url }}">{{ form.instance.title|lower }}</a></li>
      <li class="active">{% trans "update" %}</li>
    {% else %}
      <li class="active">{% trans "create new event" %}</li>
    {% endif %}
  </ul>
  <form action="{{ request.path }}" method="POST" class="form-horizontal"
        enctype="multipart/form-data">
    {% csrf_token %}{% trans "Save" as save_i18n %}
    {% include "forms/bootstrap_horizontal.html" with form=form %}
    {% include "forms/submit.html" with save_text=save_i18n klass=user.get_forum_theme %}
  </form>
{% endblock %}