{% extends base_template %}{% load kamwhfilters %} {% load newsfilters %} {% load votetags coretags %}
{% block head_content %}
<link rel='stylesheet' href='/styles/gallery.css' type='text/css' media='screen'>
{% endblock %}
{% block js %}
{{ block.super }}
<script language='javascript' type='text/javascript' src='/media/js/stars.js'></script>
{% endblock %}
{% block title %} Галерея: &quot;{{ image.gallery.name }}&quot; {% endblock %}
{% block text_content %}
<center>{% include settings.document.image_inc %}</center>
<br clear='all'>
{% with img_comments as comments %}
    {% include settings.document.comments %}
{% endwith %}

{% include settings.document.links %}

{% if user.is_authenticated %}
    {% get_content_type image as object %}
    {% include settings.document.comments_form with object=object%}
{% endif %}
{% endblock %}
