{% extends "base_template.html" %}
{% load kamwhfilters newsfilters coretags i18n %}
{% block title %} Галерея: &quot;{{ image.gallery.name }}&quot; {% endblock %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href="{% url "pybb:index" %}">{% trans "forum" %}</a></li>
    <li><a href="{% url "files:galleries" %}">{% trans "gallery" %}</a></li>
    <li><a href="{% url "files:galleries" image.gallery.pk %}">{{ image.gallery.name.lower }}</a></li>
    <li class="active">{{ image.title.lower }}</li>
  </ul>
  <h3>{{ image.title }}</h3>
  <center>{% include settings.document.image_inc %}</center>
  <br clear='all'>
  <script language="javascript" type="text/javascript" src="/media/js/jq_comments.js"></script>

  {% for comment in img_comments %}
    {% include "generic/comment_new.html" %}
  {% endfor %}

  {% include settings.document.links %}

  {% if user.is_authenticated %}
    {% get_content_type image as object %}
    {% include settings.document.comments_form with object=object%}
  {% endif %}
{% endblock %}
