{% extends base_template %}
{% block title %}Загрузить изображение{% endblock %}
{% block head_content %}
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"gallery.css" }}' type='text/css' media='screen'>
{% endblock %}
{% block text_content %}
<center>
	Вы можете загрузить файл размером в 1 Мегабайт, разрешением 2048x2048
	<div id='upload_progress' style='display: none'></div>
        <form id='upload_form' target="upload_frame" enctype="multipart/form-data" method="post" action="{% url url_progress_uploader app_n_model='files.image' filefield='image' %}">
	{{ form.title.errors }}
	<label for='title'>Название</label><br>
	{{ form.title }}<br>
	{{ form.image.errors }}
	<label for='title'>Изображение</label><br>
	{{ form.image }}<br>
	{{ form.comments.errors }}
	<label for='comments'>Коментарии</label><br>
	{{ form.comments }}<br>
	{{ form.gallery.errors }}
	<label for='gallery'>Название галлереи</label><br>
	{{ form.gallery }}<br>
	<input id='submit' type='submit' value='загрузить'>
	</form>
        <iframe id='upload_frame' name='upload_frame' style='display: none'></iframe>
</center>
<script language='javascript'>
    var app_n_model = 'files.image';
    var progress_url_global = "{% url "url_upload_progress" %}";
    var action_field = "{% url url_progress_uploader app_n_model='files.image' filefield='image' %}";
</script>
<script language='javascript' src='/media/js/jq_progress_upload.js'></script>
{% endblock %}
