{% extends user.skin.name|getskin:"base.html" %}{% load kamwhfilters %}{% load comments %}
{% block head_content %}
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"gallery.css" }}' type='text/css' media='screen'>
{% endblock %}
{% block title %} Галерея: &quot;{{ gallery.name }}&quot; {% endblock %}
{% block text_content %}
{% for img in images.object_list %}
 <div id='galleryimage'>
 <div align='right'>{% ifequal user.username img.owner.username %}<a id='button' href='/gallery/image/{{ img.id }}/delete/approve'>удалить</a>{% endifequal %}</div>
 название: <b>{{ img.title }}</b><br>
 {% if img.comments %}<small>комментарий: {{ img.comments }}</small><br>{% endif %}
 <small>загружено: <b>{{ img.owner.nickname }}</b></small><br>
 {% get_comment_count for img as comments %}
 <small><a href="/gallery/image/{{img.id}}/">коментарии: <b>{{ comments }}</b></a></small>
 <center><a href='{{ img.image.url }}'>
   <img src="{{ img.thumbnail.url }}" title='&quot;{{ img.title }}&quot; размер: {{ img.image.size|filesizeformat }}'></a></center>
 </div>
{% endfor %}
 <br clear="all">
 {% include settings.document.links %}
 {% endblock %}
