{% extends base_template %} {% load tagging_tags %}
{% block js %}
<script type='text/javascript' src='/media/js/base.js'></script>

<script type='text/javascript' src='/media/js/syntax/scripts/shCore.js'></script>
<script type='text/javascript' src='/media/js/syntax/scripts/shBrushJScript.js'></script>
<script type='text/javascript' src='/media/js/syntax/scripts/shBrushPython.js'></script>
<script type='text/javascript' src='/media/js/syntax/scripts/shBrushCss.js'></script>

<script type="text/javascript">SyntaxHighlighter.all();</script>
{% endblock %}
{% block css %}
 {{ block.super }}
 <link type="text/css" rel="stylesheet" href="/media/js/syntax/styles/shCoreDefault.css"/>
{% endblock %}
{% block control_content %}

<div class='menu block'>
    <div class='menu tab profile'>
        <ul class='nav nav-tabs side-tabs pull-right'>
            <li><a href='#'>ReView</a></li>
        </ul>
        <ul class='nav nav-tabs side-tabs no-margin no-bottom-border'><li>&nbsp;</li></ul>
    </div>
    <div class='tab-pane'>
        <div class='menu bar profile'>
            <div class='transparency'></div>
            <span class='reflects_up'></span>
            <span class='reflects_left'></span>
            {# make it more brilliant #}
            {% get_raw_nickname 'Saul Tarvitz' %}
            <div class='avatar'>
                <img alt='avatar' title='' src="{% url wh:avatar nickname='Saul Tarvitz' %}">
            </div>
            <small>
                Работаю над ресурсом с окт 2008 по текущий день
            </small>
            <br clear='all'>
        </div>
    </div>
</div>

<div class='menu block'>
    <div class='menu tab'>
        <ul class='nav nav-tabs side-tabs pull-right'>
            <li><a href='#'>Облачко</a></li>
        </ul>
        <ul class='nav nav-tabs side-tabs no-margin no-bottom-border'><li>&nbsp;</li></ul>
    </div>
    <div class='tab-pane'>
        <div class='menu bar cloud'>
            <div class='transparency'></div>
            <span class='reflects_up'></span>
            <span class='reflects_left'></span>
            <span class='reflects_right'></span>
                {% tag_cloud_for_model blogs.Post as clouds %}
            {% for cloud in clouds %}
                <a href="{% url blog:tag tag_id=cloud.id %}"><font size={{ cloud.font_size }}>{{ cloud.name }}</font></a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block text_content %}
{% endblock %}

{% block endjs %}{% endblock %}
