{% extends user.skin.name|getskin:"base_blog.html" %}
{% load newsfilters %}
{% block css %}
{{ block.super }}
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"news.css" }}' type='text/css' media='screen'>
{% endblock %}
{% block head_content %}
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feeds/devblog">
<link rel="alternate" type="application/rss+xml" title="ATOM" href="/feeds/devblog_atom">
{% endblock %}
{% block headline %}{% spaceless %}<a href="{% url apps.blogs.views.blog_index %}">Добавлять, исправлять, улучшать</a>
 {% if user.is_superuser or perms.post.add_post %}
	&nbsp;<a title='добавить пост ;)' href='/admin/blogs/post/add'>[+]</a>
 {% endif %}
{% endspaceless %}{% endblock %}
{% block text_content %}
 {% if posts %}
 {% include "includes/posts.html" %}
 {% else %}
 {% include "includes/post.html" %}
 {% endif %}
{% endblock %}
