<div id='news'> {% load newsfilters comments %}
	<div align="center" class='headline'>{% spaceless %}
		<a href="{% url news:news category=n.category|lower %}">
		{# <img id="hdimg" src="/media/images/news/categories/{{ n.category|lower }}.png">#}</a>
		<img id='hdimg' class='right {% if forloop.counter == 1 %}first {% endif %}' src='{% if n.author %}{% url wh:avatar nickname=n.author %}{% else %}/media/avatars/none.png{% endif %}'>
		{% if perms.news.edit_news or n.owner == user and not n.approved %}
            <span id='edit_button' class='first'><a id='button' href="{% url news:article-edit n.id %}">Править</a></span>
        {% endif %}
        {% if perms.news.edit_news %}
			{% if not n.approved %}
            <span id='edit_button'><a id='button' href='#status-article-{{ n.id }}' data-toggle='modal'>Статус</a></span>
			<span id="edit_button"><a id='button' href="{% url news:article-action id=n.id action='approve' %}">Утвердить</a></span>
			{% else %}
			<span id="edit_button"><a id='button' href='{% url news:article-action id=n.id action='unapprove' %}'>Убрать</a></span>
			{% endif %}
            <span id='edit_button'><a id='button' href='{% url news:article-delete n.id %}'>Удалить</a></span>
		{% endif %}
		{% if not n.approved %}
            {% spaceless%}
            {% if news_general %}
                <span class='unapproved'>{# <a href='article/{{ n.id }}'>{{ n.title }}</a>#}
                    <a href="{% url news:article number=n.id %}">{{ n.title }}</a>
                </span>
            {% else %}
                <span class='unapproved'>{{ n.title }}</span>
            {% endif %}{% endspaceless %}
		{% else %}
			{% spaceless %}
                {% if news_general %}
                <a href='{% url news:article number=n.id %}'>{{ n.title }}</a>
                {% else %}
                {{ n.title }}
                {% endif %}{% endspaceless %}
		{% endif %}{% endspaceless %}
	</div>
	<hr>
 <div id='spacer'>&nbsp;</div>
 {% if news_general %}
     {% if not n.head_content %}
        {{ n.content|newscut:"500"|render_filter:n.syntax|safe }}<br clear='all'>
     {% else %}
        {{ n.head_content|render_filter:n.syntax|safe }}{% if n.content %} ... {% endif %}
        <br clear='all'>
     {% endif %}
 {% else %}
    {% if not n.approved %}
        <div class='alert warning-block'>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Внимание!</strong> Статья находится в очереди на премодерацию.
            После ее просмотра модератором она будет утверждена и добавлена на главную
            или возвращена с указанием причины возврата.
        </div>
    {% endif %}
    {#{{ n.head_content|render_filter:n.syntax|safe }}#}
    {# {{ n.content|render_filter:n.syntax|safe }} #}
    {{ n.render_head_content|safe }}
    {{ n.render_content|safe }}
    <br clear='all'>
 {% endif %}
 <div id='read'>
 {# <a href='article/{{ n.id }}'>читать далее</a> #}
 {% if news_general %} <a href='{% url news:article number=n.id %}'>читать далее</a> {% endif %}
 </div>
 <hr>
 <div class='footer'> (by {% get_raw_nickname n.author %}), published {{ n.date }}</div>
 {% if n.editor %}<div class='footer'>(edited by {% get_raw_nickname n.editor %})</div>{% endif %}
 {% if n.url %}<div class='footer url'><a href='{{ n.url }}'>оригинал</a></div>{% endif %}
 {% spaceless %}
    {% get_comment_count for n as comments %}
 <div class='footer'>Коментариев: {{ comments }}
 {% with n as object %}
    {% include "tracker/is_new.html" %}
 {% endwith %}
 </div>
 {% endspaceless %}
 {% if n.attachment %}<div class='footer'>Прикрепленный файл: <a href='{{ n.attachment.attachment.url }}'>{{ n.attachment.attachment.name|namemediacut }}</a> [{{ n.attachment.attachment.size|filesizeformat }}]</div>{% endif %}
 </div>

{% if not n.approved %}
{% get_form 'apps.news.forms.ArticleStatusForm' as form no_request n %}
<div class='modal fade in hide no-background' id='status-article-{{ n.id }}'>
    <div class='transparency heavy black'></div>
    <div class='modal-header'>
        <a class='close' href='#' data-dismiss='modal'>x</a>
        <h3>Статус</h3>
    </div>
    <div class='modal-body'>
        <form class='form-horizontal' method='POST' action='{% url news:article-status-set n.pk %}'>
            {% csrf_token %}
            {% include "forms/bootstrap_horizontal.html" with form=form %}
            <div class='control-group'>
                <label class='control-label' for='id_submit'>&nbsp;</label>
                <div class='controls'>
                    <input type='submit' value='Сохранить' class='btn btn-success'>
                </div>
            </div>
        </form>
    </div>
    <div class='modal-footer no-background'>
        <a class='btn btn-inverse' data-dismiss='modal'>Закрыть</a>
    </div>
</div>
{% endif %}
