{% load comments %}{% load newsfilters %}
{% with "True" as news_general %}
{% if news.object_list %}
{% for n in news.object_list %}
    {% include settings.document.article_inc %}
{% endfor %}
<script language='javascript'>
$('.headline img.right').click(
    function(){
        if (this.width == 100){ var width = 60; }
        else { var width = 100 };
        $(this).animate({width: width,},1000);
});

</script>
{% if page %}
    {% include settings.document.links %}
{% endif %}

{% else %}
	<center>
	<div class='block_notice'>
		<div class='transparency tr_black'></div>
		o_O нет ничего
	</div>
	</center>
{% endif %} {# if news.object_list #}
{% endwith %}
