{% extends "base_template.html" %} {% load newsfilters %}
{% block content %}
  <div align="center">
    <div class="message">
      <div class="message-headline">
        <div class="transparency" id='black'><!-- wise transparency --></div>
        {% if rank.type.color_scheme %}
          <span style='color: {{ rank.type.color_scheme }}'>
            {{ rank.short_name }}
          </span>{% else %}
            {{ rank.short_name }}
        {% endif %}
      </div>
      <div class="message-content">
        <div class='transparency'></div>
        <div class="avatar">
          <img src="/media/{{ img }}">
        </div>
        <div class="text" id="rank_{{ rank.id }}">
          {{ rank.description|render_filter:rank.syntax|safe }}
          <br clear="all">
        </div>
        {% if user.is_superuser %}
          <div class="message-footer">
            <center></center>
          </div>
        {% endif %}
      </div> <!-- content -->
      <br clear="all">
    </div> <!-- rank -->
  </div> <!-- center -->
{% endblock %}
