{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block content %}
<div class="breadcrumb">
{% if forum %}
    <li>
        <a href="{% url "pybb_index" %}">{% trans "Root" %}</a>
        {% if gs.BOOTSTRAP_VERSION != "3" %}<span class='divider'>/</span>{% endif %}
    </li>
    <li>
        {% pybb_link forum.category %} 
        {% if gs.BOOTSTRAP_VERSION != "3" %}<span class='divider'>/</span>{% endif %}
    </li>
    <li>{% pybb_link forum %}</li>
{% else %}
    <li>
        <a href="{% url "pybb_index" %}">{% trans "Root" %}</a> 
        {% if gs.BOOTSTRAP_VERSION != "3" %}<span class='divider'>/</span>{% endif %}
    </li>
    <li>
        {% pybb_link topic.forum.category %}
        {% if gs.BOOTSTRAP_VERSION != "3" %}<span class='divider'>/</span>{% endif %}
    </li>
    <li>
        {% pybb_link topic.forum %}
        {% if gs.BOOTSTRAP_VERSION != "3" %}<span class='divider'>/</span>{% endif %}
    <li>
    <li>{% pybb_link topic %}</li>
{% endif %}
</div>

<h1>{% if forum %}{% trans "New topic" %}{% else %}{% trans "New reply" %}{% endif %}</h1>

<form action="{% if forum %}{% url "pybb_add_topic" forum.id %}{% else %}{% url "pybb_add_post" topic.id %}{% endif %}" method="post">
    {% csrf_token %}
    <fieldset class='col-lg-7'>
        {# <legend>{% if forum %}{% trans "New topic" %}{% else %}{% trans "New reply" %}{% endif %}</legend> #}
        {{ form.as_p }}
        <p><input type="submit" value="{% trans "Submit" %}" /></p>
    </fieldset>
</form>

{% include "pybb/markup.html" %}
{% endblock %}
