{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <title>w40k.net Forum</title>
    <meta name="description" content="WarMist Forum" />
    <meta name="keywords" content="pybb" />

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.1.min.js"></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/jquery.tmpl.min.js'></script>
    <script type='text/javascript' src='/media/js/jquery.html5_upload.js'></script>

    <!-- Highlightjs goodies -->
    <script type="text/javascript" src="{{ MEDIA_URL }}pybb/js/highlight.js"></script>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
    </script>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}pybb/css/hljs_styles/idea.css" />
    <link type="text/css" rel='stylesheet' href='/styles/rank.css' />
    <link type='text/css' rel='stylesheet' href='/styles/message.css' />
    <link type='text/css' rel='stylesheet' href='/styles/round_message.css' />

    <link rel='stylesheet' href='{{ MEDIA_URL }}css/markitup/skins/markitup/style.css' type='text/css' media='screen' async>
    <link rel='stylesheet' href='{{ MEDIA_URL }}css/markitup/whhg.css' type='text/css' media='screen' async>
    <link type='text/css' rel='stylesheet' href='{{ MEDIA_URL }}bootstrap{{ gs.BOOTSTRAP_VERSION }}/css/bootstrap.min.css'>
    {% if gs.BOOTSTRAP_VERSION != '3' %}
    <link type='text/css' rel='stylesheet' href='{{ MEDIA_URL }}bootstrap{{ gs.BOOTSTRAP_VERSION }}/css/bootstrap-responsive.min.css'>
    {% else %}
    <link type='text/css' rel='stylesheet' 
          href='{{ MEDIA_URL }}bootstrap{{ gs.BOOTSTRAP_VERSION }}/css/bootstrap-glyphicons.css'>
    {% endif %}
    <link type='text/css' rel='stylesheet' href='{{ MEDIA_URL }}bootstrap{{ gs.BOOTSTRAP_VERSION }}/css/forum-main.css'>
    <link rel='stylesheet' href='/media/colorbox/css/fasion/colorbox.css' type='text/css' media='screen' async>
    <script type='text/javascript' src='{{ MEDIA_URL }}bootstrap{{ gs.BOOTSTRAP_VERSION }}/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/markitup/textile.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/jquery.markitup.js'></script>
    <!-- NOTY -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/noty/promise.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/noty/layouts/top.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/noty/layouts/topLeft.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/noty/layouts/topRight.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/noty/layouts/center.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/noty/themes/default.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/noty/themes/warmist.js"></script>
    <!-- END OF NOTY -->
    <!-- colorbox -->
    <script type='text/javascript' src='{{ MEDIA_URL }}colorbox/jquery.colorbox-min.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}colorbox/i18n/jquery.colorbox-ru.js'></script>
    <!-- colorbox -->
    <script type='text/javascript' src='{{ MEDIA_URL }}js/jq_base.js'></script>
    {% block extra_meta %}{% endblock %}
</head>
<body>
<div id='wrap'>
    {% include 'pybb/head.html' %}
    <div class='{% if gs.BOOTSTRAP_VERSION != "3" %}container-fluid{% else %}container{% endif %}'>
        {% block content %}{% endblock %}
    </div>
    <div id='push'></div>
</div>
{% include 'pybb/footer.html' %} 
</body>
<script type='text/javascript'>
$(document).ready(function(){
    $("[rel=tooltip]").tooltip({live: true});
    $.each($('a.user.image'), function(idx, img){
        $(img).attr({'rel': 'gal'});
    });
    $("a.user.image, a[rel=gal]").colorbox({rel: "gal"});
});
</script>
</html>
