{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block content %}
<div class="breadcrumb">
    <li><a href="{% url "pybb_index" %}">{% trans "Root" %}</a><span class='divider'>/</span></li>
    <li><strong>{{ category }}</strong></li>
</div>

<div class="row span7">
    <h3 class="header">{{ category }}</h3>
    <table class="table striped">
        {% for forum in category.forums.all %}
            {% include 'pybb/forum_row.html' %}
        {% endfor %}
    </table>
</div>
<div class="row span5">
    {% include 'pybb/quick_access.html' %}
</div>

{% endblock %}
