{% load pybb_extras %}
<li class='list-group-item forum'>
    <span class="title col-lg-7" style='padding-left: 0px;'>
        <i class='icon {{ forum.css_icon|default:"icon-forumsalt" }} {% spaceless %}
        {% if forum|pybb_forum_has_unreads:user %}
            unread
        {% endif %}{% endspaceless %}'></i>&nbsp;
        <a  rel='tooltip' data-title='{{ forum.description|safe }}' data-html='true'
            data-delay='1000'
            data-placement='right'
            href='{{ forum.get_absolute_url }}'>{{ forum }}</a>
    </span>
    <span class="updated col-lg-4">
        {% pybb_time forum.updated %}
    </span>

    <span class="">
       [{{ forum.post_count }}]
    </span>
</li>
