{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url "pybb:pybb_index" %}">{% trans "Root" %}</a></li>
    <li>{% pybb_link forum.category %}</li>
    <li>{% pybb_link forum %}</li>
</ul>

<div class='col-lg-{{ forum.is_private|yesno:"12,7" }}'>
    {% include "pybb/include/forum.html" %}
</div>
{% if not forum.is_private %}
    <div class='col-lg-5'>
        {% include "pybb/quick_access.html" %}
    </div>
{% endif %}
{% endblock %}
