{% load pybb_extras i18n %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class='container'>
            <a class='brand' href="{% url "pybb_index" %}">WarMist Форум</a>
            <div class='nav-collapse collapse pull-right'>
                <ul class="nav">
                    <li><a href="/">{% trans "Home" %}</a></li>
                    <li><a href="{% url "pybb_users" %}">{% trans "Users" %}</a></li>
                    {% if user.is_authenticated %}
                    <!--<li><a href="{% url "pybb_edit_profile" %}">{% trans "My profile" %}</a></li> -->
                    <li class='dropdown'>
                        <a class='dropdown-toggle' role='button' data-toggle="dropdown" href='#'>
                            {{ user.get_nickname|safe }}
                            <span class='caret'></span>
                        </a>
                        <ul class='dropdown-menu pull-right' role="menu">
                            {% if user.is_superuser %}
                            <li><a href="/admin/">{% trans "Admincp" %}</a></li>
                            {% endif %}
                            <li><a href="{% url "wh:logout" %}">{% trans "Log out" %}</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url "wh:register" %}">{% trans "Sign up" %}</a></li>
                    <li><a href="{% url "wh:login" %}">{% trans "Log in" %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div style='height: 50px;'></div>

{% if "NOTICE"|pybb_setting %}
<div class="notice_box">
    <div class="notice main-box">
        <div class="inner">
            {{ "NOTICE"|pybb_setting }}
        </div>
    </div>
</div>
{% endif %}
