{% load pybb_extras i18n %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class='container'>
            <button type='button' class='btn btn-navbar navbar-toggle' data-toggle='collapse' data-target='.nav-collapse'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand brand' href="{% url "pybb:index" %}">Tessera  Форум</a>
            <div class='nav-collapse pull-right'>
                <ul class="nav navbar-nav">
                    <li><a href="{% url "news:news" %}">{% trans "News" %}</a></li>
                    <li><a href="{% url "wh:users" %}">{% trans "Users" %}</a></li>
                    {% if user.is_authenticated %}
                    <li class='dropdown'>
                        <a class='dropdown-toggle' role='button' data-toggle="dropdown" href='#'>
                            {{ user.get_nickname|safe }}
                            <span class='caret'></span>
                        </a>
                        <ul class='dropdown-menu pull-right' role="menu">
                            {% if perms.news.change_event or perms.news.add_event%}
                              <li><a href="{% url "news:events" %}">{% trans "Events" %}</a></li>
                            {% endif %}
                            <li class=''><a href='{% url "tabletop:rosters" %}'>{% trans "My rosters" %}</a></li>
                            {% comment %}
                              <li class=''><a href='{% url "tabletop:battle-reports-self" %}'>
                                {% trans "My reports" %}</a></li>
                            {% endcomment %}
                            <li class=''><a href='{% url "files:files" %}'>{% trans "My files" %}</a></li>
                            <li class=''><a href='{% url "wh:profile" %}'>{% trans "My profile" %}</a></li>
                            <li class=""><a href="{% url "files:galleries" %}">{% trans "Gallery" %}</a></li>
                            <li><a rel='tooltip' href='{% url "wh:pm" %}'
                                   title='Личные сообщения'>{% trans "Private messages" %}<span class='pm count'></span></a></li>
                            <li class='divider divide'></li>
                            {% if user.is_superuser %}
                            <li><a href="/admin/">{% trans "Admincp" %}</a></li>
                            {% endif %}
                            <li><a href="{% url "wh:logout" %}">{% trans "Log out" %}</a></li>
                        </ul>
                    </li>
                    <li class='dropdown'>
                        <a class='dropdown-toggle' role='button' data-toggle='dropdown' href='#'>
                            {% trans "Themes" %}
                            <span class='caret'></span>
                        </a>
                        <ul class='dropdown-menu pull-right' role='menu'>
                            {% for theme in gs.FORUM_THEMES %}
                                <li><a href='{% url "pybb:theme-switch" theme.0 %}'>{% trans theme.0 %}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url "accounts:register" %}">{% trans "Register" %}</a></li>
                    <li><a href="{% url "accounts:login" %}">{% trans "Log in" %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div style='height: 80px;'></div>

{% if "NOTICE"|pybb_setting %}
<div class="notice_box">
    <div class="notice main-box">
        <div class="inner">
            {{ "NOTICE"|pybb_setting }}
        </div>
    </div>
</div>
{% endif %}
