{% extends 'pybb/base.html' %}
{% load pybb_extras %}

{% block content %}
{% if not gs.BOOTSTRAP_VERSION == '3' %}
<div class="row span7">
    {% include "pybb/include/index.html" %}
</div>
<div class="row span5 pull-right">
    {% include 'pybb/quick_access.html' %}
</div>
{% else %}
<div class='row'>
    <div class='col-lg-8'>
        {% include "pybb/include/index.html" %}
    </div>
    <div class='col-lg-4'>
        {% include "pybb/quick_access_bs3.html" %}
    </div>
</div>
{% endif %}
{% endblock %}
