{% load i18n %}
<ul class="pagination">
    {% if pages != 1 %}
        {% if lower_page %} 
            <li><a href="{{ get_params }}page={{ lower_page }}">&laquo;</a></li>
        {% endif %}

        {% for number in page_list %}
        {% if number == "." %}<a href='#'>...</a>
        {% else %}
            {% if number == page %}
            <li class="active"><a href='#'>{{ number }}</a></li>
            {% endif %}
            {% if number != page %}
            <li><a href="{{ get_params }}page={{ number }}">{{ number }}</a></li>
            {% endif %}
        {% endif %}
        {% endfor %}

        {% if higher_page %} 
            <li><a href="{{ get_params }}page={{ higher_page }}">&raquo;</a></li>
        {% endif %}
    {% endif %}
</ul>
