{% load i18n %}
<div class="pagination">
    <div class="pages">
        {% if pages != 1 %}
        <ul>
            {% if lower_page %} 
                <li><a href="{{ get_params }}page={{ lower_page }}">&laquo;</a></li>
            {% endif %}

            {% for number in page_list %}
            {% if number == "." %}
                <li>...</li>
            {% else %}
                {% if number == page %}
                <li class="active"><a href='#'>{{ number }}</a></li>
                {% endif %}
                {% if number != page %}
                <li><a href="{{ get_params }}page={{ number }}">{{ number }}</a></li>
                {% endif %}
            {% endif %}
            {% endfor %}

            {% if higher_page %} 
                <li><a href="{{ get_params }}page={{ higher_page }}">&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
