{% load i18n %}
{% with poll=topic.poll %}
  <div class='message round'>
    <div class='message-headline'>
      {% if topic.owner == user %}
        <div class='links'>
          <span><a href='{{ poll.get_update_url }}'>{% trans "edit" %}</a></span>
        </div>
      {% endif %}
      {% trans "Poll" %}: {{ poll.title }}
    </div>
    <div class='message-body'>
      <div class='text'>
        <h3>{{ poll.title }}</h3>
        {% if user in poll.get_voted_users %}
          {% for item in poll.items.all %}
            <span class='text-{{ item.score|yesno:"default,black" }}'>{{ item.title }}</span>
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="60"
                   aria-valuemin="0" aria-valuemax="100" style="width: {{ item.score }}%;">
                <strong>{{ item.score }} %</strong>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <form class='form-horizontal' action='{{ poll.get_vote_url }}' method='POST'>
            {% csrf_token %}
            {% include "forms/bootstrap_horizontal.html" with form=poll_form %}
            {% include "forms/submit.html" %}
          </form>
        {% endif %}
      </div>
    </div>
    <div class='message-footer'></div>
  </div>
{% endwith %}