{% extends 'pybb/base.html' %} {% load pybb_extras i18n %}
{% block content %}
    <h3>{% trans "Poll title"%}: {{ poll.title }}</h3>
    <form class='form-horizontal' method='POST' action='{{ view.get_url_action }}'>
        {% csrf_token %}
        {{ form.management_form }}
        {% for form in form %}
          {% include "forms/bootstrap_horizontal.html" with form=form %}
        {% endfor %}
        {% with klass=user.get_forum_theme|default:gs.FORUM_THEME_DEFAULT %}
          {% include "forms/submit.html" with klass=klass %}
        {% endwith %}
    </form>
{% endblock %}