{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block content %}
  <div class="breadcrumb">
    <li><a href="{% url "pybb:index" %}">{% trans "Home" %}</a></li>
    <li>
      {% pybb_link forum.category %}
    </li>
    <li>{% pybb_link forum %}</li>
  </div>

<h1>{% trans "New topic" %}</h1>
<form action="" method="post">
    {% csrf_token %}
    <fieldset class='col-lg-7'>
        {{ form.as_p }}
        <p><input type="submit" value="{% trans "Submit" %}"
                  class='btn btn-{{ user.get_forum_theme|default:gs.FORUM_THEME_DEFAULT }}'/></p>
    </fieldset>
</form>

{% include "pybb/markup.html" %}
{% endblock %}
