{% load i18n pybb_extras %}

<div class="post post-{% cycle "odd" "even" %} round message message-center" data-nickname='{{ post.user.nickname }}'>
    <a name="post-{{ post.id }}"></a>
    <div class="message-headline {% spaceless %}
        {% if counter == 1%}
          message-{{ user.get_forum_theme|default:gs.FORUM_THEME_DEFAULT }}
        {% endif %}{% endspaceless %}">
        <div class='transparency grey'></div>
        <span class='links'>
            <a class="permalink" href="{{ post.get_absolute_url }}">#</a>
        </span>
        <span class="updated">{% pybb_time post.created %}</span>
    </div>
    <div class='message-body'>
        <div class="avatar">
            <img src="{% url "wh:avatar" post.user.get_username %}"/>
            <div>
                <a href="{% url "wh:profile-by-nick" post.user %}">{{ post.user.get_nickname|safe }} </a>
            </div>
            <div class="bottom">
            </div>
            <div class="post-controls">
            </div>
        </div>
        <div class='text'>
            {% if page == '1' or not spoiler %}
              {{ post.body_html|safe }}
            {% else %}
              {% if post.get_body_messges_count > gs.MAXIMUM_WORDS_COUNT_BEFORE_HIDE %}
              <div class="spoiler">
                <a href="#" class='btn btn-xs btn-{{ user.get_forum_theme|default:gs.FORUM_THEME_DEFAULT }}'
                   rel='tooltip' data-title='{% trans "Show/hide first topic post content" %}'>{% trans "open text" %}</a>
                <div class="spoiler block hide">
                  {{ post.body_html|safe }}
                </div>
              </div>
              {% else %}
                {{ post.body_html|safe }}
              {% endif %}
            {% endif %}
            {% if not user.is_authenticated or user.pybb_profile.show_signatures %}
            {% if post.user.pybb_profile.signature %}
            <div class="signature">
                {{ post.user.pybb_profile.signature|urlize|linebreaks }}
            </div>
            {% endif %}
            {% endif %}
            {% if post.updated %}
            <div class="updated-message">{% trans "Edited" %} {% pybb_time post.updated %}</div>
            {% endif %}
            <div class="post-related">
            </div>
        </div>
    </div>
    <div class='message-footer {% spaceless %}
        {% if counter == 1%}
          message-{{ user.get_forum_theme|default:gs.FORUM_THEME_DEFAULT }}
        {% endif %}{% endspaceless %}'>
        <div class='transparency grey'></div>
        <div class='links'>
            <span><a class='forum quote'
                href="{% url "pybb:post-add" topic.id %}?quote_id={{ post.id }}">{% trans "Quote" %}</a></span>
            {% if moderator or post|pybb_posted_by:user %}
                 <span><a href="{% url "pybb:post-edit" post.id %}">{% trans "Edit" %}</a></span>
            {% endif %}
            {% if moderator or post|pybb_equal_to:last_post %}
            {% if moderator or post.user|pybb_equal_to:user %}
                <span><a href="{% url "pybb:post-delete" post.id %}">{% trans "Delete" %}</a></span>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
