{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block content %}
<ul class='breadcrumb'>
    <li><a href="{% url "pybb:index" %}">{% trans "Root" %}</a></li>
    <li>{% pybb_link topic.forum.category %}</li>
    <li>{% pybb_link topic.forum %}</li>
    <li><strong>{% pybb_link topic %}</strong></li>
</ul>

{% pybb_pagination %}

{% if topic.poll %}
  {% include "pybb/poll.html" with topic=topic %}
{% elif topic.owner == user %}
  <div class='btn-group pull-right'>
    <a class='btn btn-primary'
       href='{{ topic.get_poll_add_url }}'>{% trans "Add poll" %}</a>
  </div>
{% endif %}
<div class="posts">
    {% if first_post %}{% ifnotequal first_post posts.0 %}
        {% with first_post as post %}
            {% include "pybb/post_template.html" with page=page spoiler='yes' %}
        {% endwith %}
    {% endifnotequal %}{% endif %}
    {% for post in posts %}
        {% include "pybb/post_template.html" %}
    {% endfor %}
</div>

{% pybb_pagination %}

<div class="breadcrumb">
    {% if moderator %}
    {% if topic.sticky %}
    <li>
        <a href="{% url "pybb:topic-unstick" topic.id %}">{% trans "Unstick topic" %}</a>
    </li>
    {% else %}
    <li>
        <a href="{% url "pybb:topic-stick" topic.id %}">{% trans "Stick topic" %}</a>
    </li>
    {% endif %}
    {% if topic.closed %}
    <li>
        <a href="{% url "pybb:topic-open" topic.id %}">{% trans "Open topic" %}</a>
    </li>
    {% else %}
    <li>
        <a href="{% url "pybb:topic-close" topic.id %}">{% trans "Close topic" %}</a>
    </li>
    {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
    {% if subscribed %}
    <li><a href="{% url "pybb:subscription-delete" topic.id %}?from_topic">{% trans "Unsubscribe" %}</a></li>
    {% else %}
    <li><a href="{% url "pybb:subscription-add" topic.id %}">{% trans "Subscribe" %}</a></li>
    {% endif %}
    {% endif %}
</div>

{% if not topic.closed and user.is_authenticated %}
<form action="{% url "pybb:post-add" topic.id %}" method="post" class='form-horizontal'>
    {% csrf_token %}
    <fieldset class='col-lg-10'>
        <legend>{% trans "New reply" %}</legend>
        {% include "forms/bootstrap_horizontal.html" with form=form %}
        <div class='control-group form-group'>
            <div class='controls col-lg-offset-2 col-lg-10'>
                <input class='btn btn-{{ user.get_forum_theme|default:gs.FORUM_THEME_DEFAULT }}'
                       type="submit" value="{% trans "Submit" %}" />
            </div>
        </div>
    </fieldset>
</form>
{% endif %}
{% include "pybb/markup.html" %}

{% endblock %}
