{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block content %}
<div class="breadcrumb">
    <li><a href="{% url "pybb_index" %}">{% trans "Root" %}</a><span class='divider'>/</span></li>
    <li>{% pybb_link topic.forum.category %}<span class='divider'>/</span></li>
    <li>{% pybb_link topic.forum %}<span class='divider'>/</span></li>
    <li><strong>{% pybb_link topic %}</strong></li>
</div>
{% pybb_pagination %}

<div class="posts">
    {% if first_post %}{% ifnotequal first_post posts.0 %}
        {% with first_post as post %}
            {% include "pybb/post_template.html" %}
        {% endwith %}
    {% endifnotequal %}{% endif %}
    {% for post in posts %}
        {% include "pybb/post_template.html" %}
    {% endfor %}
</div>

{% pybb_pagination %}

<div class="breadcrumb">
    {% if moderator %}
    {% if topic.sticky %}
    <li>
        <a href="{% url "pybb_unstick_topic" topic.id %}">{% trans "Unstick topic" %}</a>
        <span class='divider'>/</span>
    </li>
    {% else %}
    <li>
        <a href="{% url "pybb_stick_topic" topic.id %}">{% trans "Stick topic" %}</a>
        <span class='divider'>/</span>
    </li>
    {% endif %}
    {% if topic.closed %}
    <li>
        <a href="{% url "pybb_open_topic" topic.id %}">{% trans "Open topic" %}</a>
        <span class='divider'>/</span>
    </li>
    {% else %}
    <li>
        <a href="{% url "pybb_close_topic" topic.id %}">{% trans "Close topic" %}</a>
        <span class='divider'>/</span>
    </li>
    {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
    {% if subscribed %}
    <li><a href="{% url "pybb_delete_subscription" topic.id %}?from_topic">{% trans "Unsubscribe" %}</a></li>
    {% else %}
    <li><a href="{% url "pybb_add_subscription" topic.id %}">{% trans "Subscribe" %}</a></li>
    {% endif %}
    {% endif %}
</div>

{% if not topic.closed and user.is_authenticated %}
<form action="{% url "pybb_add_post" topic.id %}" method="post" class='form-horizontal'>
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "New reply" %}</legend>
        {% include "forms/bootstrap_horizontal.html" with form=form %}
        <div class='control-group'>
            <div class='controls'>
                <input class='btn' type="submit" value="{% trans "Submit" %}" />
            </div>
        </div>
    </fieldset>
</form>
{% endif %}

{% endblock %}
