{% comment %}{% if user.settings.show_last_news and user.settings %}
{% if briefing_news %} {% load newsfilters %}
<div class='menu block'>
    <div class='menu tab'>
        <ul class='nav nav-tabs side-tabs pull-right'>
            <li><a href='#'>Новости</a></li>
        </ul>
        <ul class='nav nav-tabs side-tabs no-margin no-bottom-border'><li>&nbsp;</li></ul>
    </div>   
    <div class="menu bar" style='display: {{ usersettings.display_briefing_news|or:"block" }}'>
    <div class="transparency"><!-- wise transparency --></div>
    <span class='reflects_up'></span>
    <span class='reflects_left'></span>
        <ul>
        {% for article in briefing_news %}
            <li>
            {#<a href="{% url apps.news.views.news category=article.category|lower %}"><img alt='{{ article.category.name }}' title='{{ article.category.name }}' src='/media/images/news/categories/briefings/{{ article.category.name|lower }}.png'></a> #}
            <a class='notice' rel='twipsy' data-original-title='{{ article.content|render_filter:article.syntax|striptags|safe|newscut:"100" }}'  href='/news/article/{{ article.id }}'>{{ article.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %} {# if briefing news #}
{% endif %} {# if user.settings.show_last_news #} {% endcomment %}
