{% if user.settings.show_online_users %}
<div class='menu block'>
    <div class='menu tab'>
        <ul class='nav nav-tabs side-tabs pull-right'>
            <li><a href='#'>Online</a></li>
        </ul>
        <ul class='nav nav-tabs side-tabs no-margin no-bottom-border'><li>&nbsp;</li></ul>
    </div>
    <div class='tab-pane'>
        <div class='menu bar online_users' style='display: {{ usersettings.display_online_users|or:"block;" }}'>
            <div class='transparency'></div>
            <span class='reflects_right'></span>
            <span class='reflects_left'></span>
                {% get_guests_count as guests_count 15 %} {# 15 minutes #}
                {% get_online_users as online_users 15 %} {# 15 minutes #}
                    {% for u in online_users %}
                        {% spaceless %}
                            {% comment %} {% if forloop.first %}
                                [{% get_nickname u %}]
                            {% else %}
                                [{% get_nickname u %}]
                            {% endif %}
                            {% endcomment %}
                            <span class='nicknames'>[<a rel='twipsy' href="{% url wh:profile-by-nick u.get_username %}" title='thinks: "{{ u.about }}"'>{% get_nickname u %}</a>]</span>
                        {% endspaceless %}
                    {% endfor %}
                    {% if online_users %}
                      {% if guests_count %}, Гостей({{ guests_count }}){% endif %}
                    {%else%}
                       {% if guests_count %}Гостей({{ guests_count }}){% endif%}
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %} {# show online users #}

