<div class='menu block'>
    <div class='menu tab'>
        <ul class='nav nav-tabs side-tabs pull-right'>
            {% if user.is_authenticated %}
            <li><a href='#profile' data-toggle='tab'>Профиль</a></li>
            {% endif %}
            <li class='active'><a href='#common' data-toggle='tab'>Общее</a></li>
        </ul>
        <ul class='nav nav-tabs side-tabs no-margin no-bottom-border'><li>&nbsp;</li></ul>
    </div>
    <div class='tab-content'>
        {% if user.is_authenticated %}
        <div class='menu bar profile tab-pane' id='profile'>
                <center><b>{% if user.nickname %}{% get_nickname user %}{% else %}Soulless inhabit{% endif %}</b></center>
                <div class="transparency"><!-- wise transparency --></div>
                <span class='reflects_up'><!-- wise reflects --></span>
                <span class='reflects_left'></span>
                <div class='avatar'>
                    <img alt="avatar" title="avatar" src='{% url wh:avatar nickname=user.get_username %}'>
                </div>
                <ul>
                    <li><a rel='twipsy' href='{% url wh:pm-view %}' title='Личные сообщения'>ЛC</a>: {% ifnotequal pm.unread 0 %}{{ pm.unread }}/{% endifnotequal %}{{ pm.all }}</li>
                    <li><a rel='twipsy' href="{% url wh:profile %}" title='Просмотр своего профиля'>Профиль</a></li>
                    <li class='lvl2'><a rel='twipsy' href='{% url wh:profile-update %}' title='Настройки профиля'>Править</a></li>
                    <li class='lvl2'><a rel='twipsy' href='{% url core:settings %}' title='Пользовательские настройки,experemental'>Настройки</a></li>
                    <li class='lvl2'><a rel='twipsy' href='{% url core:subscription %}' title='Пользовательские подписки,experemental'>Подписка</a></li>
                    <li><a rel='twipsy' href='{% url wh:users %}' title='Обитатели ресурса'>Участники</a></li>
                    <li><a rel='twipsy' href='{% url karma:self %}' title='Сила вашей положительности или отрицательности в глазах других обитателей ресурса'>Карма</a>
                    <li><a rel='twipsy' href='{% url tabletop:rosters %}' title='Ваши расписки армий по настолке'>Ростеры</a>
                        <a rel='twipsy' href='{% url tabletop:roster-add %}'>[+]</a></li>
                    <li><a rel='twipsy' href='{% url news:news-user %}'>Мои новости</a></li>
                </ul>
        </div>
        {% endif %}
        <div class='menu bar common tab-pane active' id='common'>
            <div class="transparency"><!-- wise transparency --></div>
            <!-- wise reflects -->
            <span class='reflects_up'></span>
            <span class='reflects_down'></span>
            <span class='reflects_left'></span>
            <ul>
                {% if not user.is_authenticated %}
                    <li><a href="{% url wh:login %}">Логин</a> |
                        <a href='{% url wh:register %}'>Регистрация</a>
                    </li>
                <li class='lvl2'><a href='{% url wh:password-recover %}'>востановление пароля</a></li>{% endif %}
                <li><a rel='twipsy' href="{% url news:news %}" title='Новости, что тут еще сказать - читаем'>Новости</a>
                <span class='feeds'><a href="{% url feed-news-atom %}">[atom</a>|
                    <a href="{% url feed-news %}">rss]</a></span>
                </li>
                <li class='lvl2'><a rel='twipsy' href='{% url news:archived-news %}' title='Ранее опубликованные новости старше года от сегодня ;)'>Архив</a></li>
                {% if user.is_authenticated and user.is_active %}<li class='lvl2'><a href='{% url news:article-add %}'>Добавить</a></li>{% endif %}
                <li><a rel='twipsy' title='Пользовательские расписки армий' href="{% url tabletop:rosters-index %}">Ростеры</a></li>
                {% if global_settings.DEVELOPMENT %}
                <li><a rel='twipsy' title='Батл репорты с полей сражений' href='{% url tabletop:battle-reports %}'>Батл репорты</a></li>
                <li class='lvl2'><a href='{% url tabletop:battle-report-add %}'>добавить</a></li>
                {% endif %}
                <li><a rel='twipsy' href='{% url files:galleries %}' title='Простенькая галерея ;)'>Галерея</a></li>
                <li class='lvl2'><a href="{% url vote:best "image" %}">лучшие</a></li>
                {% if user.is_authenticated and user.is_active %}<li class='lvl2'><a rel='twipsy' href='{% url files:image-upload %}' title='загрузить изображение в галерею'>добавить</a></li>
                {% if user.is_staff %}
                <li><a rel='twipsy' href="{% url files:files-index %}" title='Небольшое хранилище файлов'>Файлы</a></li>
                {% endif %}
                {% comment %}<li><a href='{% url apps.wh.views.view_wish_list %}'>Пожелания</a></li>
                <li class='lvl2'><a href='{% url apps.wh.views.add_wish %}'>добавить</a></li>{% endcomment %}{% endif %}
            </ul>
        </div>
     </div>
</div>

{% comment %}
{% spaceless %}{% if user.is_staff %}
<div class='menu block'>
     <div class='menu tab'>
        <ul class='nav nav-tabs side-tabs pull-right'>
            <li><a href='#'>Напоминалка</a></li>
        </ul>
        <ul class='nav nav-tabs side-tabs no-margin no-bottom-border'><li>&nbsp;</li></ul>
    </div>
    <div class='menu bar'>
        <div class="transparency"><!-- wise transparency --></div>
            {% get_unread news.News as unread_news %}
            {% get_unread wh.WishList as unread_wishes %}
            {% if unread_news %}<span class='attention'><a rel='twipsy' class='attention' href="{% url news:news approved='unapproved' %}">Непрочтенных новостей: <b>
                {{ unread_news }}</a></b></span>{% else %}
            Напоминаний пока нет{% endif %}
            {% if perms.wh.can_approve and unread_wishes %}
            <span class='attention'>Непрочитанных пожеланий: {{ unread_wishes }}</span>
            {% endif %}
    </div>
</div>
{% endif %}{% endspaceless %}
{% endcomment %}
