{% extends base_template %}
{% block css %}
{{ block.super }}
 <link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"message.css" }}' type='text/css' media='screen'>
{% endblock %}
{% block text_content %}

<form id='search_form' action='.' method='POST'>
    {% csrf_token %}
	{{ form.query.errors }}
	<label for='query'>Ищем: </label>
	{{ form.query }}
	<input type='submit' value='Запрос' class='button'>
</form>
{% if objects %}
		{% include settings.document.search_inc %}
{% else %}
{% if query %}
<center>
<div class='block_notice'><div class='transparency tr_black'></div>
    Ничего похожего на &quot;{{ query }}&quot; не найденно
</div>
</center>
{% endif %}
{% endif %}
{% endblock %}
