{% extends base_template %}
{% block css %}
	{{ block.super }}
	<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"forms.css" }}' media='screen' type='text/css'>
{% endblock %}
{% block text_content %}
<center>
<div id='settings_form'>
	<form name='settings' action='.' method='POST'>
        {% csrf_token %}
		Редактировать собственные: <u><a href='{% url core:css-edit %}'>стили</a></u>
		<ul>
			{{ form.as_ul }}
		</ul>
		<input type='submit' value='Обновить'>
	</form>
 </div>
</center>
{% endblock %}
