{% extends base_template %}
{% block text_content %}
    {% if subscription.object_list %}
	<ul>
	{% for sub  in  subscription.object_list %}
		<li>
			<a href='{{ sub.get_real_object.get_absolute_url }}'>{{ sub.get_model }} : {{ sub.get_title }}</a>
			<a href='{% url url_unsubscribe sub.id "approve" %}'>[отписаться]</a></li>
	{% endfor %}
	</ul>
    {% with subscription as page %}
	{% include settings.document.links %}
    {% endwith %}
    {% else %}
    <span class='info'>Подписок нет</span>
    {% endif %}
{% endblock %}
