{% extends base_template %} {% load i18n %}
{% block css %}
  {{ block.super }}
{% endblock %}
{% block content %}

  {% trans "Save" as save_text %}
  <div class='forms form-horizontal'>
    <form id='id_add_roster_form' action='../' method='post'>
      {% csrf_token %}
      {% include "forms/bootstrap_horizontal.html" with form=form %}
      {% include "forms/submit.html" with class='btn btn-success' text=save_text %}
    </form>
    {% if form.media %}{{ form.media }}{% endif %}
  </div>
{% endblock %}
