{% extends "base_template.html" %} {% load newsfilters coretags static i18n %}
{% block js %}
  <script language='javascript' src='{% static "js/base.js" %}'></script>
{% endblock %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href='{% url "pybb:index" %}'>{% trans "forum" %}</a></li>
    <li><a href='{% url "tabletop:rosters" %}'>{% trans "rosters" %}</a></li>
    <li class="active">{{ roster.title }}</li>
  </ul>

  <div class='round message message-center'>
    <div class='message-headline'>
      <div class='transparency grey'></div>
      {% if user == roster.owner or perms.tabletop.edit_roster %}
        <a href='{% url "tabletop:roster-edit" roster.id %}' class='msg_button'>[править]</a>
      {% else %}
        {% if user == roster.user %}
          <a href='{% url "tabletop:roster-edit" roster.id %}' class='msg_button'>[править]</a>
          <a href='{% url "tabletop:roster-spawn" roster.id %}' class='msg_button'
             title='Переписать прямого владельца ростера на себя
             (данный ростер больше не будет появляться в списке пользователя,
             который его создал (по секрету - это были не вы, но записан он был на вас)'>[spawn]
          </a>
        {% endif %}
      {% endif %}
      {{ roster.title }}: {{ roster.pts }} pts

    </div> <!-- msg_headline -->
    <div class='message-content'>
      <div class='avatar'>
        {% include "msg/avatar.html" with object=roster.owner %}
      </div>
      <div class='text'>
        <div class='roster_info'>{# places with tabletop.css #}
          Количество очков: <span class='pts'>{{ roster.pts }}</span><br>
          Кодекс: <div class='race'>{{ roster.codex }}</div>
          Издание: <div class='revision'> {{ roster.revision }}</div>
          {% if not roster.user %}Имя игрока: <div class='player'>{{ roster.player }}</div> {% endif %}
          Ростер:<div class='roster'>
            {# {{ roster.roster|render_filter:roster.syntax|safe }}#}
            {{ roster.render_roster|safe }}
          </div>
        </div>
        {% if roster.comments %}
          <div class='comment'>
            {{ roster.comments|render_filter:roster.syntax|safe }}
          </div>
        {% endif %}
        <br clear='all'>
      </div> <!-- msg_text -->
    </div> <!-- msg_content -->
    <br clear='all'>
    <div class='message-footer'>
      <div class='transparency grey'></div>
      {% spaceless %}
        {% if roster.user != roster.owner %}
          [добавлено: {{ roster.owner.get_nickname|safe }}]
        {% endif %}
        {% if perms.tabletop.edit_roster or roster.owner == user %}
            [<a href='{{ r.get_delete_url }}'>удалить</a>]
        {% endif %}
      {% endspaceless %}
    </div> <!-- msg_footer -->
  </div> <!-- message -->

  {% if comments.object_list %}
    {% for comment in comments.object_list %}
      {% include "generic/comment_new.html"%}
    {% endfor %}
    {% with comments as page %}
      {% include settings.document.links %}
    {% endwith %}
  {% endif %}

  {% if user.is_authenticated %}
    {% get_content_type roster as object %}
    {% include settings.document.comments_form with object=object %}
  {% endif %}
{% endblock %}
