{% extends base_template %} {% load newsfilters coretags static i18n %}
{% block js %}
  <script language='javascript' src='{% static "js/base.js" %}'></script>
{% endblock %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href='{% url "pybb:index" %}'>{% trans "forum" %}</a></li>
    <li><a href='{% url "tabletop:rosters" %}'>{% trans "rosters" %}</a></li>
    <li class="active">{{ roster.title }}</li>
  </ul>
  <h3>{{ roster.title }}</h3>
  {% include "tabletop/include/roster.html" with r=roster %}

  {% if comments.object_list %}
    {% for comment in comments.object_list %}
      {% include "generic/comment.html"%}
    {% endfor %}
    {% with comments as page %}
      {% include settings.document.links %}
    {% endwith %}
  {% endif %}

  {% if user.is_authenticated %}
    {% get_content_type roster as object %}
    {% include settings.document.comments_form with object=object %}
  {% endif %}
{% endblock %}
