{% load votetags %}
{# js implementation #}
<div class='stars'>
    {% spaceless %}
    {% get_vote_stars for vote_object as stars %} {# implement get_stars ;) #}
    {% for star in stars %}
        {# implement here vote settings #}
        {% if voted %}
            <img src="/media/images/stars/{{ star }}.png" alt="[{{ star }}]">
        {% else %}
        {# <implement within ajax: <a href="javascript:void(0);" onClick="do_vote({{ forloop.counter }});"> #}
            <a class="stars" href="{% url apps.vote.views.vote_rate app_label=votes.app_label model_name=votes.model_name obj_id=vote_object.id rate=forloop.counter %}">
				<img alt='[{{ star }}]' src="/media/images/stars/{{ star }}.png" id='star_{{ vote_object.pk }}_{{ forloop.counter }}'
					onMouseMove="change_star('star_{{ vote_object.pk }}',{{ forloop.counter }},'/media/images/stars/star.png',
						'/media/images/stars/star_0.png');" 
					onMouseOut="stars_back('star_{{ vote_object.pk }}',{{ forloop.counter }},{{ stars }},'/media/images/stars/');">
			</a>
        {% endif %}
    {% endfor %}
	{% if voted %}
		<a href="{% url apps.vote.views.show_voted id=vote.id %}" style='font-size: xx-small'>[?]</a>
	{% endif %}
    {% endspaceless %}
</div>
