{% extends base_template %}
{% block css %}
{{ block.super }}
<style type='text/css'>
.user_voted li{
	display: inline;
}
li.quote_list{
	list-style-image: url("/styles/images/lists/quote.png");
}
</style>
<link rel='stylesheet' media='screen' type='text/css' href='/styles/vote.css'>
{% endblock %}
{% block text_content %}
{% if rates.object_list %}
&nbsp;Рейт: {{ vote }} <br>
&nbsp;Проголосовали:<br> 
<ul>
{% for rate in rates.object_list %}
	<li>
		<a href="{% url apps.wh.views.profile_by_nick nickname=rate.user.get_username %}">{{ rate.user.get_nickname|safe }}</a>: {{ rate.rate }}
		{% ifequal user rate.user %}
			<a href="{% url "url_comment_rate" rate.id %}" title='добавить небольшой коментарий к рейту'>[+]</a>
		{% endifequal %}
		{% spaceless %}
			{% if rate.comment %}
				<ul><li class='quote_list'><span class='vote_comment'>{{ rate.comment }}</span></li></ul>
			{% endif %}
		{% endspaceless %}
	</li>
{% endfor %}
</ul>
{% with rates as page %}
{% include settings.document.links %}
{% endwith %}
{% else %}
	<center>
	<div class='block_notice'>
		<div class='transparency tr_black'></div>
		Рейтов нет
	</div>
	</center>
{% endif %}
{% endblock %}
