{% extends base_template %}
{% load votetags %}
{% block css %}
{{ block.super }}
<link rel='stylesheet' media='screen' type='text/css' href='/styles/message.css'>
<link rel='stylesheet' media='screen' type='text/css' href='/styles/replay.css'>
<link rel='stylesheet' media='screen' type='text/css' href='/styles/images.css'>
{% endblock %}

{% block text_content %}
	{% if votes.object_list %}
	{% get_best_object_template for votes.object_list as object_template %}
	{% for v in votes.object_list %}
		{% with v.object as object %}
			{% spaceless %}
				{% if object_template %}
					{% include object_template %}
				{% else %}
					<div class='vote_best'><a href="{{ object.get_absolute_url }}">{{ object.get_title }} : {{ v.rating }}</a></div>
				{% endif %}
			{% endspaceless %}
		{% endwith %}
	{% endfor %}
	{% else %}
	<center>
	<div class='block_notice'>
		<div class='transparency tr_black'></div>
		На текущий момент нет ни одного лучшего объекта
	</div>
	</center>
	{% endif %}
{% endblock %}
