{% for iter in cats %}
{% if gs.BOOTSTRAP_VERSION != '3' %}
<div class=''>
    <h3><a class='brand' href='{{ iter.cat.get_absolute_url }}'>{{ iter.cat }}</a></h3>
    <div class=''>
        <table class='table striped'>
        {% for forum in iter.forums %}
            {% include 'pybb/forum_row.html' %}
        {% endfor %}
        </table>
    </div>
</div>
{% else %}
    <div class='panel panel-primary'>
        <div class='panel-heading' style='margin-bottom: 0px;'>
            <strong>
                <a href='{{ iter.cat.get_absolute_url }}'>{{ iter.cat }}</a>
            </strong>
        </div>
        <ul class='list-group' style='margin-top: 0px'>
            {% for forum in iter.forums %}
                {% include "pybb/forum_row_bs3.html" %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endfor %}
