{% extends base_template %} {% load coretags i18n %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href="{% url "pybb:index" %}">{% trans "forum" %}</a></li>
    <li><a href="{% url "news:news" %}">{% trans "news" %}</a></li>
    <li class="active">{{ article.title|lower }}</li>
  </ul>

{% with article as n %}
    {% include "news/include/article.html" %}
{% endwith %}
{% if comments.object_list %}
    {% include "generic/paginator.html" with page_obj=comments paginator=comments.paginator %}
    {% for comment in comments %}
      {% include "generic/comment_new.html" with comment=comment %}
    {% endfor %}
    {% include "generic/paginator.html" with page_obj=comments paginator=comments.paginator %}
{% endif %}

{% endblock %}
