#comments{
	border: 1px solid white;
	width: 70%;
	margin-top: 2px;
	margin-bottom: 2px;
	clear: all;
	text-align: left;
	color: white;
}
#comments #approved_by{
	float: left;
	font-size: xx-small;
}
#comments #date_submitted{
	float: right;
	font-size: xx-small;
}
#comments img{
	float: left;
	margin: 2px;
}
