div #news{
	color: black;
	margin: 0 30px;
	color: white;
	font-family: helvetica sans-serif Times\ New\ Roman Helvetica;
}
#news a{
	text-decoration: none;
}
#news img{
	}
#news #hdimg{
	float: left;
	/*padding-right: 10px;*/
	margin-left: -40px;
	/*position: absolute;
	z-index: 0;
	left: 10px;
	margin-left: 100px;*/

}
#news #spacer{
	height: 16px;
}
#news #headline{
	font-weight: bold;
	font-size: large;
	color: gold;
}
#headline a{
	text-decoration: none;
}
#news #read a{
	text-decoration: none;
}
#news #read{
	font-size: x-small;
	text-align: right;
}
#news #footer{
	text-align: right;
	font-size: xx-small;
	color: white;
}
