#upload_replay{
	width: 60%;
	border: 1px solid gold;
	text-align: center;
}
#upload_replay #annotation{
	font-size: small;
	text-align: left;
	border: 1px solid red;
	width: 80%;
	display: none;
}
#upload_replay #annotation u{
	color: white;
}
#upload_replay #button{
	margin: 2px;
}
#upload_replay #button a{
	border: 1px solid pink;
	color:white;
	text-decoration: none;
	font-size: xx-small;
}
