{% load kamwhfilters %}
<center>
<div class="pager">
Сии страницы: 
{#{% if page.has_next %}{#<a href="{% url "apps.quotes.views.index" page.next_page_number %}">{{ page.next_page_number }}</a>{% endif %}#}
{% for num in page.page_range %}
	{% if not num %} ...  {# literally dots #}
    {% else %}
        {% ifequal page.number num %}
            [{{ num }}]
        {% else %}
            <a href="?page={{ num }}{% if page.jump %}{{ page.jump }}{% endif %}">{{ num }}</a>
        {% endifequal %}
    {% endif %}
{% endfor %}
</div>
</center>
