{% load coretags %}{% spaceless %}
  <div class='since'
       title='Обитает на ресурсе уже вот такое количество времени'>{{ object.date_joined|timesince }}
  </div>
  <span class='ranks'>
{% if object.ranks %}статус:
  {% if object.ranks.values %}
    {% for rank in object.ranks.values %}
      <a href="{% url "wh:rank" codename=rank.codename %}">{{ rank.short_name|lower }}{% if not forloop.last %}, {% endif %}</a>
    {% endfor %}
    </span>
  {% endif %}
{% endif %}{% endspaceless %}

<a href="{{ object.get_profile_url }}">
  <img class='avatar' src="{{ object.get_avatar_url }}">
</a>
<center>
  {% with object as warn_user %}
    {% include "warnings/warning.html" %}
  {% endwith %}
  {% comment %}{% if object.settings.show_karma_block %}{% endcomment %}
  {% include "karma_power.html" with karma_user=object %}
  {% comment %}{% endif %}{% endcomment %}
</center>

{% if not object.settings.invisible %}
  {% check_if_online object as is_online 15 %} {% if is_online %}[online]{% else %}[offline]{% endif %}
{% else %}&nbsp;{% endif %}
{% if user.is_authenticated %} {# current user #}
  {% if object.jid and not object.settings.hide_jid %}<a href="xmpp:{{ object.jid }}">[jid]</a>{% endif %}
  {% if object.uin and not object.settings.hide_uin %}<a href="icq:{{ object.uin }}">[icq]</a>{% endif %}
  {% if object.email and not object.settings.hide_email %}<a href="mailto:{{ object.email }}">[mail]</a>{% endif %}
{% endif %}
