<div class="quotes"{#{% ifequal quote.author user %} style="background-color: #F5F5F5;"{% endifequal %}#}>
    <div class="quotehead">
        <div class='transparency_black'></div>
		<span><a href="{% url apps.quotes.views.queue_quote id=quote.id %}"><strong>#{{ quote.id }}</strong></a></span>
        <span>
            <a href="{% url apps.quotes.views.approve id=quote.id %}" onclick="return confirm('Проголосовать за? Это приведет к немедленному утверждению цитаты.');">за</a> /
            <a href="{% url apps.quotes.views.reject id=quote.id %}" onclick="return confirm('Проголосовать против? Цитата будет скрыта из вашей очереди, а остальные модераторы увидят ваше мнение.');">против</a> /
            <a href="{% url apps.quotes.views.hide id=quote.id %}" onclick="return confirm('Пропустить модерирование данной цитаты? Она будет просто скрыта из вашей очереди модерации.');">воздержаться</a> /
            <a href="{% url apps.quotes.views.edit id=quote.id %}">редактировать</a>
        </span>
        ( добавлено {% ifequal quote.author user %}<strong>вами</strong>{% endifequal %} {{ quote.date_add }},
        {% if quote.seen_by.count %}
            просмотрено <strong>{{ quote.seen_by.count }}</strong> модераторами
            {% if quote.rejected_by.count %}
            , <strong>{{ quote.rejected_by.count }}</strong> из них против.
            {% endif %}
            )
        {% else %}
            никем не рассмотрено)
        {% endif %}
    </div>
    <div class="quotebody">
	<div class='transparency'></div>
	{{ quote.text|linebreaks }}</div>
</div><hr />
