{# {% cycle one,two %} #}
<center>
<div class="quotes">
	<div class="quotehead">
		<div class="transparency_black"></div>
		<span><a href="{% url apps.quotes.views.quote id=quote.id %}"><strong>#{{ quote.id }}</strong></a></span>
        <span>
            <a href="{% url apps.quotes.views.vote id=quote.id, how="up" %}" onclick="return vote({{ quote.id }}, 'up');">+</a>
            ( <span class="rate" id="q{{ quote.id }}"> {{ quote.rate }} </span> )
            <a href="{% url apps.quotes.views.vote id=quote.id, how="down" %}" onclick="return vote({{ quote.id }}, 'down');">–</a>
        </span>
        добавлено {{ quote.date_pub|date:"Y-m-d H:i:s" }}
		<a href="{% url apps.wh.views.profile_by_nick nickname=quote.moderator.get_username %}">{% get_nickname quote.moderator %}</a>
    </div>
	<div class="quotebody">
     <div class="transparency"></div> {# haha! #}
	{{ quote.text|linebreaks }}
	</div>
</div>{#<hr />#}
</center>
