{# {% extends "O_O" %} #}
{% autoescape off %}
{{ obj.version.game.name }}:{{ obj.version.name }} v{{ obj.version.patch }}<br>
{% ifequal obj.type "0" %}
<b>Нестандартный тип игры:</b> {{ obj.nostd_layout }}<br>
{% else %}
<b>Тип игры:</b> {{ obj.type }}vs{{ obj.type }}<br>
<b>Игроки:</b> {{ obj.player_teams }}<br>
<b>Загружено:</b> {% get_nickname obj.author %}<br>
<b>Размер реплея:</b> {{ obj.replay.size|filesizeformat }}<br>
{% endifequal %}
<b>Комментарий</b>: {{ obj.comments }}<br>
{% endautoescape %}
