<div id='news'> {% load comments i18n coretags %}
  <div align="center">{% spaceless %}
    <img class='pull-right headline-avatar {% if forloop.counter == 1 %}first {% endif %}'
         src='{{ n.owner.get_avatar_url }}'>

    <div class='btn-group pull-right'>
      {% if perms.news.edit_news or n.owner == user and not n.approved %}
        <a class='btn btn-xs btn-primary' href="{{ n.get_edit_url }}">Править</a></span>
      {% endif %}
    </div>

    <h3 class='news'><a class='{{ n.approved|yesno:'text-default,text-danger' }}'
                        href='{% if news_general %}{{ n.get_absolute_url }}{% else %}#{% endif %}'>{{ n.title }}</a>
    </h3>{% endspaceless %}
  </div>
  <hr>
  <div id='spacer'>&nbsp;</div>
  {% if news_general %}
    {{ n.render_head_content|safe }}
    <br clear='all'>
  {% else %}
    {% if not n.approved %}
      <div class='alert alert-warning'>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Внимание!</strong> Статья находится в очереди на премодерацию.
        После ее просмотра модератором она будет утверждена и добавлена на главную
        или возвращена с указанием причины возврата.
      </div>
    {% endif %}
    {{ n.cache_content|safe }}
    <br clear='all'>
  {% endif %}
  <div id='read'>
    {% if news_general %}
      <a href='{% url "news:article" number=n.id %}'>читать далее</a>
    {% endif %}
  </div>
  <hr>
  <div class='footer'> (by {{ n.author|default_if_none:n.owner.get_nickname }}), published {{ n.date }}</div>
  {% if n.editor %}<div class='footer'>(edited by {{ n.editor }})</div>{% endif %}
  {% if n.url %}<div class='footer url'><a href='{{ n.url }}'>оригинал</a></div>{% endif %}
  {% spaceless %}
    {% get_comment_count for n as comments %}
    <div class='footer'>Коментариев: <a href='{{ n.get_absolute_url }}?page=last'>{{ comments }}</a>
      {% with n as object %}{% endwith %}
    </div>
  {% endspaceless %}
</div>