<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf8">
<link rel="stylesheet" href="/styles/404.css" type="text/css" media="screen">
<title>Login</title>
{% block head_content %}{% endblock %}
</head>
<body>
{% block text_content %}
<div align="center">
<div id="headline" align="center">
404
</div>
<div id="content" align="center">
Страница не обнаружена, или находится в разработке, потерпите пожалуйста или обратитесь к админстрации
</div>
</div>
{% endblock %}
</body>
</html>
