{% if user.username %}
<div align="center">
 <form action='/add/comment/' method='POST' id='form_comment'>
	 {{ form.comment.errors}}
	 <label for='comment'>Добавить коментарий</label><br>
	 {{ form.comment }}<br>
	 {{ form.hidden_syntax.errors}}
	 {{ form.hidden_syntax }}
         {{ form.url }}
         {{ form.app_n_model }}
         {{ form.obj_id }}
         {{ form.page }}
	 <span title='Подписаться - значить сообщить системе о том, что вам интересно следить за данными коментариями и вы хотите получать оповещение о поступлении новых в данную ветку'>Подписаться?:</span>
	 {{ form.subscribe }}<br>
 	<input id='submit' type='submit' value='Отправить'>
 </form>
 </div>
{% endif %} {#user #}
