<center>
<div class='comment form'>
    <form class='comment-form' action='{% url core:comment-add %}' method='POST' id='id-comment-form'>
        <textarea id='id_comment' name='comment' class='span6' rows='10'></textarea>
        <div class='hide'>
            <input type='hidden' name='content_type' value='{{ object.content_type.pk }}' id='id_content_type'>
            <input type='hidden' name='object_id' value='{{ object.id }}' id='id_object_id'>
            <input type='hidden' name='obj_id' value='{{ object.id }}' id='id_object_id'>
            <input type='hidden' name='app_n_model' value='{{ object.app }}.{{ object.model }}' id='app_n_model'>
            <input type='hidden' name='syntax' value='{{ gs.DEFAULT_SYNTAX|default_if_none:"textile" }}' id='id_syntax'>
        </div>
        <div class=''>
            <input type='submit' value='Отправить' class='btn btn-inverse btn-medium' />
        </div>
    </form>
</div>
</center>

<script type='text/javascript'>
/* settings */
var markItUpParsers = {
    'bb-code': '{% url news:comment-preview %}?markup=bb-code&template=comment',
    'textile': '{% url news:comment-preview %}?markup=textile&template=comment',
}

myMarkupSettings['bb-code']['previewParserPath'] = markItUpParsers['bb-code'];
myMarkupSettings['textile']['previewParserPath'] = markItUpParsers['textile'];

var reloadMarkItUp = function(type){
    setMarkItUp(type);
    $('#id-comment-form #id_syntax').val(type);

}
var loadMarkitUp = function(type){
    var mySettings = myMarkupSettings['textile'];
    settings = {
        'bb-code': myMarkupSettings['bb-code'],
        'textile': myMarkupSettings['textile']
    }
    if (type in settings){
        mySettings = settings[type];
    }
	$('#id_comment').markItUp(mySettings);
}

var setMarkItUp = function(type){
    $('#id_comment').markItUp('remove');
    loadMarkitUp(type);
}
$(document).ready(function(){
    loadMarkitUp();
});
</script>
</script>
