<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head><title>Пора на что-то решиться</title>
<style type='text/css'>
<!--
div{
	text-align: center;
}
#warning{
	margin-top: 100px;
}
#header,#content{
	border: 1px dotted blue;
	padding: 2px;
	width: 400px;
}
#header{
	color: red;
	font-weight: bold;
	font-size: small;
	background-color: black;
	text-decoration: blink;
}
#content{
	border-top: 0px solid black;
	text-align: justify;
}
#debug{
	border: 1px solid red;
	background-color: red;
}
#spacer{
	margin-top: 150px;
}
#ie{ color: blue }
#ff{ color: #DF731B }
#opera{ color: red }
#sf{ color: navy }
-->
</style>
</head>
<body bgcolor="#EEE8AA" color="#BDB76B">
<div id='spacer'>&nbsp;</div>
<center>
<span id="warning">
	<div id="header">Важная информация</div>
	<div id="content">Данный ресурс не особо хорошо дружит с
	браузерами на основе <b id='ie'>Internet Explorer</b>,
	поэтому очень сильно рекомендовано использовать другие браузеры,
	например: <b><a id='ff' href="www.getfirefox.com">FireFox</a></b>
	или <b><a id='opera' href="http://www.opera.com">Opera</a></b>,
	также можно использовать <b id='sf'>Safari</b> и другие нормальные
	браузеры. В любом случае, если вам не понятно что куда, советую
	обратиться по ссылке: <a href="http://www.getfirefox.com">www.getfirefox.com</a>
	</div>
</span>
</center>

</body>
</html>
