<script type='text/javascript'>
/* settings */
var markItUpParsers = {
    'textile': '{% url "news:markup-preview" %}?markup=textile&template=comment',
}

myMarkupSettings['textile']['previewParserPath'] = markItUpParsers['textile'];

var reloadMarkItUp = function(type){
    setMarkItUp(type);
    $('{{ markup_path_id }}').val(type);

}
var loadMarkitUp = function(type){
    var mySettings = myMarkupSettings["{{ syntax|default:'textile'}}"];
    settings = {
        'bb-code': myMarkupSettings['bb-code'],
        'textile': myMarkupSettings['textile']
    }
    if (type in settings){
        mySettings = settings[type];
    }
	$('{{ markup_path_id }}').markItUp(mySettings);
}

var setMarkItUp = function(type){
    $('{{ markup_path_id }}').markItUp('remove');
    loadMarkitUp(type);
}
$(document).ready(function(){
    loadMarkitUp();
});
$('{{ block_source_id }}').on('click', '{{ quote_btn_class }}', function(e){
    nick = $(this).parents('[data-nickname]').data('nickname');
    if (nick){
        var quote = "(" + nick + "){";
        var txt = document.getSelection().toString();
        txt = quote + txt + "}";
        $("{{ markup_path_id }}").text($("{{ markup_path_id }}").text() + "\n" + txt);
        return false;
    }
});
</script>
