{# quote #}{% load newsfilters %}
<div class='quote_content'>
	<div class='quote_headline'>
		<div class='transparency' id='black'></div>
		{% if quote_user.nickname %}<a href="{% url wh:profile-by-nick nickname=quote_user.get_username %}">
			{% get_nickname quote_user %} писал{% ifequal quote_user.gender "f" %}а{% endifequal %}:</a>
		{% else %}
			{{ quote_user }} писал(а): 
		{% endif %}
		</div>
	<div class='quote_txt'>
		<div class='transparency tr_black'></div>
		<div class='reflects_up'></div> 
		<div class='reflects_down'></div>
		<div class='reflects_left'></div>
		{% if quote_user.nickname %}<img class='quote_avatar' src='{% url wh:avatar nickname=quote_user.get_username %}'> {% endif %}
		{{ quote_text|safe }}
	</div>
</div>
{#  end of quote #}

