{% load comments %}{% load newsfilters coretags %}
 <div id='news'>
	<div align="center" class='headline'>{% spaceless %}
		<a href="{% url "wh:profile-by-nick" nickname=p.author %}"><img id="hdimg" class='right' src="{% url "wh:avatar" nickname=p.author %}"></a>
		{% if not p.approved %}
			<span class='unapproved'>{# <a href='article/{{ p.id }}'>{{ p.title }}</a>#}
				{# <a href="{% url apps.news.views.show_article number=p.id %}"> #} {{ p.title }} {#</a> #}
			</span>
		{% else %}
			{# <a href='{% url apps.news.views.show_article number=p.id %}'> --#}{{ p.title }} <!--</a> -->
		{% endif %}{% endspaceless %}
	</div>
	<hr>
 <div id='spacer'>&nbsp;</div>
 	{{ p.content|render_filter:p.syntax|safe }}<br clear='all'>
 <hr>
 <div class='footer'> (by  {% get_raw_nickname p.author %}), published {{ p.date }}</div>
 {% if p.url %}<div class='footer' class='url'><a href='{{ p.url }}'>оригинал</a></div>{% endif %}
 {% get_comment_count for p as comments_count %}<div class='footer'>Коментариев: {{ comments_count }}</div>
 {% if p.tags %}<div class='footer'>тэги: {{ p.tags }}</div>{% endif %}
 </div>


{% with comments as page %}
{% if page.object_list %}
{% include settings.document.links %}
{% endif %}
{% endwith %}

{% include settings.document.comments %}

{% with comments as page %}
{% if page.object_list %}
	{% include settings.document.links %}
{% endif %}
{% endwith %}

{% if user.is_authenticated %}
    {% get_content_type p as object %}
    {% include settings.document.comments_form with object=object%}
{% endif %}
