<!-- в профиле аватарка и стили к ней со смешением -->

<style type='text/css'>
<!--

#avatar{
	{% if user.avatar %}/*background-image: url('{{ user.avatar.url|avatarcut }}');*/ {% endif %}
	background-repeat: no-repeat;
	border: 1px solid black;
	float: left;
	width: 120px;
	height: 120px;
	background-image: url('/media/images/armies/curve.png');
	background-repeat: repeat;
	z-index: 0;
	/*{% if user.avatar %}width: {{ user.avatar.width }}px;
	height: {{ user.avatar.height }}px; {% endif %}
*/
}
/*old*/
#avatar .army_img{
	/*margin-top: 80px;
	margin-left: 80px;*/
	/*float: left;*/
	{% if user.avatar %}margin-left: {{ user.avatar.height|aacut }};
	margin-top: {{ user.avatar.width|aacut }}; {% endif %}
}
#army{
	width: 32px; height: 32px; 
	border: 1px solid black;
	float: left;
	/*margin-top: -16px;
	margin-left: 84px;*/
	margin-top: -36px;
	margin-left: 84px;
	clear: left;
}

-->
</style>
<div id='avatar'>
 {% if user.avatar %}<img src='{{ user.avatar.url|avatarcut }}'> {% else %}<img src='/media/avatars/none/default.jpg'> {% endif %}
</div>
{% ifnotequal user.army "None" %}
<img id="army" src='/media/images/armies/{{ user.army.side.name|lower }}/{{ user.army.name|lower }}.png'> {% endifnotequal %}
<br clear="left">

