<b>EC COMMENTS</b>
{% load kamwhfilters %} {% load newsfilters %}
{% for c in comments.object_list %}
	<div align="center">
	<div id='comments'>
		{% if c.is_removed %}<small>Удалён</small>
		{% else %}<span id='approved_by'>{{ c.user.nickname }} комментирует</span>
		<span id='date_submitted'>{{ c.submit_date }}</span><br>
		<img src='{{ c.user.plain_avatar.url|mediacut }}'> {{ c.comment|striptags|spfilter|safe }} {#{{ c.comment|spfilter|safe }}#}
		<br clear='all'>{% endif %}
	</div>
	</div>
{% endfor %}
