{% extends base_template %}
{% load i18n %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href="{% url "pybb:index" %}">{% trans "forum" %}</a></li>
    {% if form.instance %}
      <li><a href="{{ form.instance.content_object.get_absolute_url }}">{{ form.instance.content_object.title.lower|default_if_none:form.instance.content_object }}</a></li>
    {% endif %}
    {% if form.instance %}
      <li class="active">{% trans "update comment" %}</li>
    {% else %}
      <li class="active">{% trans "add comment" %}</li>
    {% endif %}
  </ul>
  {% if form.instance %}
    <h3>{% trans "Update comment" %}</h3>
  {% else %}
    <h3>{% trans "Add comment" %}</h3>
  {% endif %}
  {% include "generic/form.html" with form=form %}
{% endblock %}