{% extends "base_template.html" %}
{% load i18n %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href="{% url "pybb:index" %}">{% trans "forum" %}</a></li>
    {% if content_object %}
      <li><a href="{{ content_object.get_absolute_url }}">
        {{ content_object.title.lower|default_if_none:content_object }}</a></li>
    {% endif %}
    {% if not subscribe %}
        <li><a href="{{ object.object.get_absolute_url }}">
            {{ object.object.title.lower|default_if_none:object.object }}</a></li>
        <li class="active">{% trans "unsubscribe for new comments" %}</li>
    {% else %}
      <li class="active">{% trans "subscribe for new comments" %}</li>
    {% endif %}
  </ul>
  {% if not subscribe %}
    <h3>{% trans "Remove subscription" %}</h3>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {% trans "You want to remove this subscription for a new comments on" %}: <strong>{{ object.title }}</strong>
    </div>
  {% else %}
    <h3>{% trans "Approve subscription" %}</h3>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {% trans "You want to approve subscription for a new comments on" %}: <strong>{{ object.title }}</strong>
    </div>
  {% endif %}
  <form action="{{ request.path }}" method="POST" class="form-horizontal">
    {% csrf_token %}{% trans "Save" as save_i18n %}
    {% include "forms/bootstrap_horizontal.html" with form=form %}
    {% include "forms/submit.html" with save_text=save_i18n klass=user.get_forum_theme %}
  </form>
{% endblock %}