<!doctype html>{% load i18n static %}
<html>
<head>
    <title>Tessera Forum</title>
    <meta name="description" content="Tessera Forum" />
    <meta name="keywords" content="pybb" />
    {% block head_css %}{% endblock %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static "components/select2/dist/css/select2.css" %}">
    <link rel='stylesheet' href='{% static bootstrap_css_theme %}'>
    <link rel='stylesheet' href='{% static "css/whhg.css" %}'>
    <link rel='stylesheet' href='{% static "components/jquery-colorbox/example3/colorbox.css" %}'
          type='text/css' media='screen' async>
    {% block css %}{% endblock %}
    <script type="text/javascript" src="{% static "components/jquery/jquery.min.js" %}"></script>
    <script type='text/javascript' src='{% static "js/markitup/textile.js" %}'></script>
    {% block js %}{% endblock %}
    {% block extra_meta %}{% endblock %}
</head>
<body id='document' class="ny">
<canvas id='snow'></canvas>

{% trans "open text" as i18n_open %}{% trans "close text" as i18n_close %}
<div id='wrap'>
    {% include 'pybb/head.html' %}
    <div class='container ny'>
        {% include "news/note/note_list.html" %}
        {% block content %}{% endblock %}
    </div>
    <div id='push'></div>
</div>
{% include 'pybb/footer.html' %}

<div id='ny-image'></div>
<!-- modals -->
{% if not user.is_authenticated %}
  {% include "forms/login_modal.html" %}
{% endif %}
</body>

{# templates, realtime settings #}
{% include "js/locale.ru.html" %}
{% include "jtmpl/core.html" %}
<script type='text/javascript' src='{% static "js/core.js" %}'></script>

<script type='text/javascript' src="{% static "components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "components/moment/min/moment.min.js" %}"></script>
<script type='text/javascript' src='{% static "components/jquery-tmpl/jquery.tmpl.min.js" %}'></script>
<script type='text/javascript' src="{% static "components/select2/dist/js/select2.min.js" %}"></script>
<script type='text/javascript' src='{% static "js/jquery.html5_upload.js" %}'></script>
<script src="{% static "components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"
        type="text/javascript"></script>

<script type='text/javascript' src='{% static "js/jquery.markitup.js" %}'></script>
<!-- NOTY -->
<script type="text/javascript" src="{% static "components/noty/js/noty/jquery.noty.js" %}"></script>
<script type="text/javascript" src="{% static "components/noty/js/noty/promise.js" %}"></script>

<script type="text/javascript" src="{% static "components/noty/js/noty/layouts/topLeft.js" %}"></script>
<!--<script type="text/javascript" src="{% static "components/noty/js/noty/layouts/top.js" %}"></script>
<script type="text/javascript" src="{% static "components/noty/js/noty/layouts/topRight.js" %}"></script>
<script type="text/javascript" src="{% static "components/noty/js/noty/layouts/center.js" %}"></script>
<script type="text/javascript" src="{% static "components/noty/js/noty/themes/default.js" %}"></script> -->
<script type="text/javascript" src="{% static "js/noty/themes/warmist.js" %}"></script>
<!-- END OF NOTY -->
<!-- colorbox -->
<script type='text/javascript' src='{% static "components/jquery-colorbox/jquery.colorbox-min.js" %}'></script>
<script type='text/javascript' src='{% static "components/jquery-colorbox/i18n/jquery.colorbox-ru.js" %}'></script>

<script type='text/javascript' src='{% static "js/base.js" %}'></script>

<script type='text/javascript'>
  $(document).ready(function(){
      $("[rel=tooltip]").tooltip({live: true});
      $.each($('a.user.image'), function(idx, img){
          $(img).attr({'rel': 'gal'});
      });
      $("a.user.image, a[rel=gal]").colorbox({rel: "gal"});
      $(".spoiler a").click(function(e){
        $(this).text(
          $(this).text() == '{{ i18n_open }}' ? "{{ i18n_close }}"
            : "{{ i18n_open }}"
        );
        $(this).parent().find('.spoiler.block').toggleClass('hide');
      });
  });
</script>
<script type="text/javascript" src="{% static "js/load.js" %}"></script>
<script type="text/javascript" src="{% static "js/snow.js" %}"></script>
{% block endjs %}{% endblock %}
</html>
