{% extends 'pybb/base.html' %} {% load pybb_extras i18n %}
{% block content %}
    <form class='form-horizontal' method='POST' action='{{ view.get_url_action }}'>
        {% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
          {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
              {% include "forms/bootstrap_horizontal.html" with form=form %}
          {% endfor %}
        {% else %}
            {% include "forms/bootstrap_horizontal.html" with form=form %}
        {% endif %}

        <div class='form-group'>
          <div class='col-lg-offset-2 col-lg-10'>
            {% spaceless %}
              {% if wizard.steps.current == wizard.steps.last %}
                {% trans "Save" as i18n_submit %}
              {% else %}
                {% trans "Next" as i18n_submit %}
              {% endif %}
              <div class='btn-group pull-right'>
                {% with klass=user.get_forum_theme|default:gs.FORUM_THEME_DEFAULT %}
                  {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" type="submit" class='btn btn-{{ klass }}'
                            value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
                    <button name="wizard_goto_step" type="submit" class='btn btn-{{ klass }}'
                            value="{{ wizard.steps.first }}">{% trans "Next" %}</button>
                  {% endif %}
              </div>
              <input type='submit' class='btn btn-{{ klass }}'
                     value='{{ i18n_submit }}'>
                {% endwith %}
            {% endspaceless %}
          </div>
        </div>
    </form>
{% endblock %}