{% extends base_template %}
{% block text_content %}
{% block css %}
	{{ block.super }}
	<link rel='stylesheet' href='/styles/message.css' type='text/css' media='screen'>
	<link rel='stylesheet' href='/styles/replay.css' type='text/css' media='screen'>
	<link rel='stylesheet' href='/styles/gallery.css' type='text/css' media='screen'>
{% endblock %}
<form id='search_form' action='.' method='POST'>
{% csrf_token %}
{{ form.query.errors }}
<label for='query'>Ищем: </label>
{{ form.query }}
<input type='submit' value='Запрос' class='button'>
</form>
{% with objects as images %}
{% if images.object_list %}
		{% with images.object_list as images %}
			{% with "True" as gallery_general %}
                        {% for image in images %}
                        {% include settings.document.image_inc %}
                        {% endfor %}
                        {% endwith %}
                        <br clear='all'>
			{% with objects as page %}
			{% include settings.document.links %}
			{% endwith %}
		 {% endwith %}
{% else %}
{% if query %}
<center>
<div class='block_notice'><div class='transparency tr_black'></div>
    Ничего похожего на &quot;{{ query }}&quot; не найденно
</div>
</center>
{% endif %}
{% endif %}
&nbsp;
{% endwith %}
{% endblock %}
