{% extends base_template %}
{% load i18n static %}
{% block head_css %}
  <link rel="stylesheet" href="{% static "components/fullcalendar/dist/fullcalendar.css" %}"
        media="screen" type="text/css">
{% endblock %}

{% block js %}
  {{ block.super }}
{% endblock %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href="{% url "pybb:index" %}">{% trans "forum" %}</a></li>
    <li class="active">{% trans "events" %}</li>
    {% if perms.news.add_event %}
      <li class="pull-right">
        <a href="{% url "news:event-create" %}">{% trans "Create event" %}</a></li>
    {% endif %}
  </ul>

  <h3>{% trans "Events" %}</h3>
  <div id="events"></div>
  <br />
  <div class="legend">
    <strong>{% trans "Legend" %}</strong>:
    <i class="fc-event game">&nbsp;{% trans "game" %}&nbsp;</i>
    <i class="fc-event tournament">&nbsp;{% trans "tournament" %}&nbsp;</i>
    <i class="fc-event pre-release">&nbsp;{% trans "pre release" context "mtg pre-release" %}&nbsp;</i>
    <i class="fc-event release">&nbsp;{% trans "release" context "mtg release" %}&nbsp;</i>
    <i class="fc-event order">&nbsp;{% trans "order" context "card order" %}&nbsp;</i>
    <i class="fc-event festivity">&nbsp;{% trans "festivity" context "festivity" %}&nbsp;</i>
    <br />
    <i class="glyphicon glyphicon-asterisk"></i><em>{% trans "marks new event" %}</em>
  </div>
  {# i18n #}
  {% spaceless %}
    {% trans "January" as january %} {% trans "February" as february %} {% trans "March" as march %}
    {% trans "April" as april %} {% trans "May" as may %} {% trans "June" as june %}
    {% trans "July" as july %} {% trans "August" as august %} {% trans "September" as september %}
    {% trans "October" as october %} {% trans "November" as november %}
    {% trans "December" as december %}

    {% trans "Mon" as mon_i18n %} {% trans "Tue" as tue_i18n %} {% trans "Wed" as wed_i18n %}
    {% trans "Thu" as thu_i18n %} {% trans "Fri" as fri_i18n %} {% trans "Sat" as sat_i18n %}
    {% trans "Sun" as sun_i18n %}

    {% trans "Monday" as monday %} {% trans "Tuesday" as tuesday %} {% trans "Wednesday" as wednesday %}
    {% trans "Thursday" as thursday %} {% trans "Friday" as friday %} {% trans "Saturday" as saturday %}
    {% trans "Sunday" as sunday %}
  {% endspaceless %}
  {# end i18n #}
{% endblock %}

{% block endjs %}
  <script type="text/javascript" src="{% static "components/fullcalendar/dist/lang/ru.js" %}"></script>
  <script type="text/javascript" src="{% static "components/fullcalendar/dist/fullcalendar.min.js" %}"></script>
  <script type="text/javascript">
    var processDate = function(d){
      var date = d._d;
      var day = parseInt(date.getUTCDate());
      var month = parseInt(date.getUTCMonth()) + 1;
      var year = parseInt(date.getUTCFullYear());
      return year + "-" + month + "-" + day;
    };

    $(document).ready(function(){
      $('#events').fullCalendar({
        timeFormat: {
          default: "H:mm",
          agenda: "H:mm"
        },
        displayEventEnd: true,
        //firstDay: 1,
        lang: "ru",
        weekMode: "liquid",
        weekNumbers: "Wo",
        height: 540,
        defaultView: "month",
        titleFormat: {
              month: "MMMM YYYY",
              week: "MMMM DD, YYYY",
              day: "dddd, MMMM D, YYYY"
        },
        header: {
                'left': 'prev, next today',
                'center': 'title',
                'right': 'month, agendaWeek, agendaDay'
        },
        buttonText: {
                today: '{% trans "Today" %}',
                month: '{% trans "month" %}',
                week: '{% trans "week" %}',
                day: '{% trans "day" %}'
	      },
        monthNames: [
            "{{ january }}", "{{ february }}", "{{ march }}",
            "{{ april }}", "{{ may }}", "{{ june }}", "{{ july }}",
            "{{ august }}", "{{ september }}", "{{ october }}", "{{ november }}",
            "{{ december }}"
        ],
        monthNamesShort: [
                "{% trans "Jan" %}", "{% trans "Feb" %}", "{% trans "Mar" %}",
                "{% trans "Apr" %}", "{% trans "Jun" %}", "{% trans "Jun" %}",
                "{% trans "Jul" %}", "{% trans "Aug" %}", "{% trans "Sep" %}",
                "{% trans "Oct" %}", "{% trans "Nov" %}", "{% trans "Dec" %}"
        ],
        dayNamesShort: [
            "{{ sun_i18n }}", "{{ mon_i18n }}", "{{ tue_i18n }}", "{{ wed_i18n }}", "{{ thu_i18n }}",
            "{{ fri_i18n }}", "{{ sat_i18n }}"
        ],
        dayNames: [
          "{{ sunday }}", "{{ monday }}", "{{ tuesday }}", "{{ wednesday }}",
          "{{ thursday }}", "{{ friday }}", "{{ saturday}}"
        ],
        allDayText: "{% trans "all day" %}",
        axisFormat: "H:mm",
        scrollTime: "11:00:00",
        minTime: "09:00:00",
        events: function(start, end, timezone, callback){
          $.ajax({
            url: "{% url "api:event-list" %}",
            dataType: "json",
            data: {
                // our hypothetical feed requires UNIX timestamps
                date_start: processDate(start),
                date_end: processDate(end)
            },
            success: function(json){
              var events = [];
              json.results.map(function(item){
                var _league = (item.league) ? ' [' + item.league + ']' : '';
                var isNew = (item.is_new) ? '<i class="glyphicon glyphicon-asterisk"></i> ' : '';
                var isFinishedClass = (item.is_finished) ? ' is-finished' : '';
                events.push({
                  title: isNew + item.title + _league,
                  url: item.url || '',
                  start: item.date_start,
                  end: item.date_end,
                  allDay: item.is_all_day || false,
                  className: item.type + isFinishedClass || ''
                });
              });
              callback(events);
            }
          })
        },
        eventRender: function(event, element){
          element.find('.fc-event-title').html(event.title);
        }
      });
    });
  </script>
{% endblock %}
