{% extends base_template %}{% load newsfilters load i18n %}
{% block head_content %}
<link rel='stylesheet' href='/styles/message.css' type='text/css' media='screen'>
<link rel='stylesheet' href='/styles/replay.css' type='text/css' media='screen'>
<link rel='stylesheet' href='/styles/forms.css' type='text/css' media='screen'>
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href='{% url django.contrib.syndication.views.feed "replays" %}'>
<script type='text/javascript' src='/media/js/base.js'></script>
{% endblock %}
{% block text_content %}
{# vote stars js requirements #}
<script language='javascript' type='text/javascript' src='/media/js/stars.js'></script>
{% if replays.object_list %}
{% if perms.files.delete_replay and perms.files.change_replay %}
<div class='forms'>
<form id='id_action_replays_form' action='.' method='post' class='action_form'>
{% csrf_token %}
{{ form.action.errors }}
{{ form.action }}
<input type='submit' value='{% trans "submit" %}'><br clear='all'>
{% endif %}
    {# {% for replay in replays.object_list %} #}
		{% with replays.object_list as replays %}
			{% with "True" as replays_global %}{% include settings.document.replays_inc %}{% endwith %}
			{% include settings.document.links %}
		 {% endwith %}
	{# {% endfor %} #}
{% if perms.files.delete_replay and perms.files.change_replay %}
</form>
</div>
{% endif %}

{% else %}
	{% if replay %}
	{% with replay as r %}
		{% include settings.document.replay_inc %}
		{% include settings.document.comments %}
		{% include settings.document.links %} 
		{#{% include settings.document.comments_form %}#}
	{% endwith %}
	{% else %}
	<center><h3>Ни одного реплея не найдено</h3></center>
	{% endif %}
{% endif %}
&nbsp;
{% endblock %}
