{% extends base_template %}
{% block text_content %}
{% block css %}
	{{ block.super }}
	<link rel='stylesheet' href='/styles/message.css' type='text/css' media='screen'>
	<link rel='stylesheet' href='/styles/replay.css' type='text/css' media='screen'>
{% endblock %}
<form id='search_form' action='.' method='POST'>
{% csrf_token %}
{{ form.query.errors }}
<label for='query'>Ищем: </label>
{{ form.query }}
<input type='submit' value='Запрос' class='button'>
</form>

{% if replays.object_list %}
		{% with replays.object_list as replays %}
			{% include settings.document.replays_inc %}
			{% include settings.document.links %}
		 {% endwith %}
{% else %}
{% if query %}
<div class='message' style="padding: 0 10%; border: 0px;">
<div class='message-headline' style='border: 1px dotted white;'><div class='transparency' id='black'></div>
	Ничего похожего на &quot;{{ query }}&quot; не найденно
</div>
</div>
{% endif %}
{% endif %}
&nbsp;

{% endblock %}
