{% extends base_template %} {% load i18n %}
{% block css %}
    {{ block.super }}
    <link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"forms.css" }}' media='screen' type='text/css'>
{% endblock %}
{% block text_content %}
<center>
<div id='upload_progress' style='display: none'></div>
<div class='forms'>
<form id='upload_form' target="upload_frame" enctype="multipart/form-data" action='{% url url_progress_uploader app_n_model='files.replay' %}' method='post'>
{# <form id='upload_form' enctype='multipart/form-data' action='.' method='post'> #}
 {% csrf_token %}
 {{ form.as_ul }}
 <input type='submit' value='{% trans "submit" %}'>
</form>
<iframe id='upload_frame' name='upload_frame' style='display: none'></iframe>
</div>
</center>

<script language='javascript'>
    var app_n_model = 'files.replay';
    var progress_url_global = "{% url url_upload_progress %}";
    var action_field = "{% url url_progress_uploader app_n_model='files.replay' %}";
    var _xhr_request = '{% url xhr_get_replay_versions %}';
</script>

<script language='javascript' src='/media/js/jq_progress_upload.js'></script>
<script language='javascript' src='/media/js/jq_replays.js'></script>
{% comment %}
<script language='javascript'>
    version = document.getElementById('id_version');
    game = document.getElementById('id_game'); 
    $(document).ready(function(){
        var updateVersion = function(){
        url = '{% url xhr_get_replay_versions %}' + game.options[game.selectedIndex].value;
        game_name = game.options[game.selectedIndex].text;
        $.getJSON(url, function(data){
            version.options.length = 1;
            var i = 1;
            $.each(data, function(key, val){
                version.options[i] = new Option(game_name + ": " + this.fields['name'] + ' ' + this.fields['patch'], this.pk, false, false);
                i++;
            });//each
         });//json
        }//update Game

        $('#id_game').change(function(){
            updateVersion();
        });
    });
</script>{% endcomment %}

{% endblock %}
