/*comments*/
.message{
    margin-top: 5px;
    border: 1px solid darkgrey;
    width: 80%;
}
.message .msg_headline{
    color: white;
    font-size: x-small;
    border-bottom: 1px dotted darkgrey;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;

}
.message .msg_headline.anonymous{
	border: 0px;
}
.message .msg_headline a.msg_button{
    color: white;
    float: right;
}



.message .msg_comment_date{
    float: left;
    font-size: 1em;
    font-family: Verdana;
}

.message .msg_user_nickname{
    /*margin-left: -100px;*/
    text-align: center;
}
.message .msg_user_nickname.deleted{
	margin-left: 0px;
}
.message .msg_ranks{
    float: left;
}
.message .msg_content{
    text-align: justify;
    float: left;
    width: 100%;
    
}
/*stable 
.message .msg_content .msg_avatar{
    float: left;
    margin: 0px;
    width: 105px;
    color: white;
    font-size: x-small;
} */
/*testing */
.message .msg_content .msg_avatar{
    position: absolute;
    width: 105px;
    margin-right: 5px;
    height: 100%;
    color: white;
    font-size: 0.60em;
    top: 0;
    left: 0;
    padding-right: 5px;
}
.message .msg_content .msg_avatar img{
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 5px;
    border: 1px dotted grey;
}
.message .msg_content .msg_text{
    border-left: 1px dotted darkgrey;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 8px;
    margin-left: 110px; /*<- WHAT THE FUCK IS IT? O_O*/
    color: white;
    min-height: 250px; /* used with msg_avatar testing */
}

.message .msg_content .msg_text .msg_reply_author{
	float: right;
	margin-top: -25px;
	margin-right: -25px;
}
.msg_reply_author img{
	width: 50px;
	border: 1px dotted white;
}
.message .msg_footer{
    color: white;
    font-size: x-small;
    padding: 0px;
    border-top: 1px dotted darkgrey;
}
.message .msg_footer.deleted{ border: 0px; }

.message .since{
	text-align: center;
}
.message .msg_headline,
.message .msg_content,
.message .msg_avatar,
.message .msg_text,
.message .msg_footer{
    position: relative;
}

.message .transparency{
    position: absolute;
    height: 100%;
    background-color: #666666;
    opacity: 0.55;
    filter: alpha(opacity=55);
    top: 0px;
    left: 0px;
    z-index:-1;
    border: 0px;
}

.message .transparency#black{
    background-color: black;
}
.message .transparency#txt{
    background-color: #666;
    opacity: 0.80;
    filter: alpha(opacity=80);
}
.message span.nickname{
    font-weight: bold;
    color: grey;
}

.message .msg_right_icon{
	float: right;
	margin-top: -30px;
	margin-right: -40px;
}

.message .msg_right_icon a img{
	border: 0px;
}
.quote_content{
	padding: 0px;
	margin: 0px;
}
.quote_txt{
	border: 1px dotted white;
	position: relative;
	padding: 2px 4px;
}
.quote_content .quote_headline{
	position: relative;
	font-size: x-small;
	text-align: center;
	border: 1px solid white;
	border-bottom: 0px;
	padding: 2 0px;
	margin-top: 5px;
}
.quote_content .quote_txt{
	min-height: 30px;
}

.quote_content img.quote_avatar{
	float: right;
	margin-top: -30px;
	margin-right: -20px;
	width: 50px;
	border: 1px dotted white;
}

.transparency#spoiler{
	background-color: #CF0000;
	width: 100%;
}
.spoiler{
	position: relative;
	border: 1px dotted white;
	margin-top: 5px;
}

.offtopic{
	background-color: #454545;
	color: #555;
	font-style: italic;
	margin-top: 5px;
	border: 1px dotted grey;
}
textarea.id_comment{
	width: 85%;
	height: 300px;
	border: 1px solid black;
}
textarea.quick_edit{
	width: 95%;
	height: 300px;
	border: 1px solid black;
}

input#submit{
	border: 1px solid black;
}
/*endofcomments*/
