div #news{
	color: black;
	margin: 0 30px;
	color: white;
	font-family: helvetica sans-serif Times\ New\ Roman Helvetica;
}
#news a{
	text-decoration: none;
}
#news img{
	}
#news #hdimg{
	float: left;
	/*padding-right: 10px;*/
	margin-left: -45px;
	/*position: absolute;
	z-index: 0;
	left: 10px;
	margin-left: 100px;*/

}
#news #hdimg.right{
	float: right;
	width: 60px;
	border: 1px dotted white;
	margin-top: 3px;
}
#news #hdimg.first { width: 100px; }
#news #spacer{
	height: 16px;
}
#news .headline{
	font-weight: bold;
	font-size: large;
	color: white;
}
#news .headline .unapproved,#news .headline .unapproved a{ color: red; }
.headline a{
	text-decoration: none;
}
.headline a img{
	border: 0px;
}
.headline a:visited{
	color:#FAEBD7;
}
.headline a:link{
	color: #262626;
}
.headline #edit_button{
	float: right;
	margin-top: 10px;
}
.headline #edit_button.first{
	margin-right: 50px;
}
.headline #edit_button a{
	color: black;
}
#news #read a{
	text-decoration: none;
}
#news #read{
	font-size: x-small;
	text-align: right;
}
#news #footer{
	text-align: right;
	font-size: x-small;
	color: white;
}
.footer, .news .footer{
	text-align: right;
	font-size: x-small;
	color: white;
}
#add_form textarea,#add_form input,#add_form select{
	width: 80%;
	border: 1px solid black;
}
#add_form textarea{
	height: 550px;
}
#add_form textarea#id_head_content{
	height: 200px;
}
#add_form input#submit{
	width: inherit;
}

