.upload_profile{
	border: 1px dotted grey;
	width: 90%;
}
.upload_profile input, .upload_profile textarea, .upload_profile select{
	border: 1px solid black;
	width: 80%;
}
.upload_profile input#submit{
	width: inherit;
}
