/* User Type Ranks*/
#id_master{
    font-weight: bold; color: #87007F;
}
.rank_masters{
    color: red;
}
.rank_administratum{
    color:#6495ED;
}
.rank_developers{
    color: darkgreen;
}
.rank_common{}
