.roster{
	display: block;
}
.game_info{
	border: 1px dotted grey;
	width: 80%;
	margin: 1px;
	position: relative;
}
.winner{
	color: gold;
	font-weight: bold;
}

.user_roster{
	text-align: justify;
	border: 1px solid black;
	margin-top: 2px;
	width: 80%;
}
.versus{
	font-size: 18pt;
	font-family: Times New Roman, Arial, Sans-Serif;
}
.battlereport{
	width: 80%;
	border: 1px solid grey;
	text-align: justify;
}
.roster_info{
	border: 1px dotted grey;
	width: 95%;
	text-align: justify;
	margin: 3px;
	padding: 3px;
}
.message .roster{
}
.message .msg_right_icon{
	float: right;
	margin-top: -40px;
	margin-right: -30px;
}
.add_form{
	border: 1px solid black;
	width: 80%;
}
.add_form form input, .add_form form select{
	width: 80%;
	border: 1px solid black;
}
.add_form form textarea{
	width: 80%;
	border: 1px solid black;
}
.add_form form input#id_submit{
	width: inherit;
        color: white;
        padding: 2px 10px;
        background: url("images/btn.jpg") repeat-x scroll center bottom #373838;
}
.msg_txt{
    font-family: Verdana;
}
.msg_txt .roster{
    text-indent: 0;
    margin-left: 18px;
    margin-bottom: 10px;
}
.msg_txt a.lister{
    color: lightgreen;
}
.msg_text a.lister[alt='[-]']{
    color: red;
}
