.tinymk_panel{
	border: 1px solid black;
	width: 80%; /*as id_comment as usual */
	margin: 0px;
	padding: 0px;
	position: relative;
}
.tinymk_panel img{
	padding-top: 4px;
}

.tinymk_panel .transparency#black{ background-color: black; }
