{% extends user.skin.name|getskin:"base.html" %}{% load newsfilters %}
{% block title %} Добавить пожелание {% endblock %}
{% block head_content %}
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"replays.css" }}' type='text/css' media='screen'>
<script type='text/javascript' src='/media/js/base.js'></script>
{% endblock %}
{% block text_content %}
<a href="javascript:show_hide('text');">Правила</a>
<div id='text' style='display: none;'>
Здесь вы можете добавить пожелание нашему небольшому ресурсу, что бы вы хотели увидеть на нем, чего по вашему мнению не хватает.
К примеру, если есть серьезная необходимость в реализации форума и на ваш взгляд кажется, что он подойдет для обсуждения каких-то
серьезных тем, то вы можете это предложить.<br>
Так как это более частный ресурс, который не ставит цели заработать деньги, поэтому на разработку авторы тратят своё личное время,
поэтому от количество постов &quot; Сделайте, пожалуйста, &lt;что-то&gt;&quot; много чего не измениться, разве что, если у авторов
есть совесть - они постараются побыстрее внедрить нужную идею.<br>
Авторы форума, могут не реализовывать идею, если не видят в ней ничего полезного, интересного или касающегося тематики ресурса,
об этом авторы обязательно сообщат вам в разделе пожеланий, внимательно следите за меткой &quot;Approved&quot; (утверждено),
а также комментариями автора. Не спешите сдаваться, если ваше пожелание было рассмотрено негативно - вы все еще способны продвинуть его
на ресурс несколькими путями - разработать свой собственный функционал или на реальных примерах доказать, что ваше предложение стоит
затраченного времени. Будьте вежливыми и старайтесь не вступать в бессполезные споры, если авторы не хотят реализовать вашу идею,
обычно этому будет способствовать причина, при устранении которой авторы могут переменить мнение.<br>
Также стоит отметить, что от количество участников ресурса, &quot;пожелавших&quot; одну и ту же вещь, быть может даже разнми словами,
авторы могут отказать в её реализации не зависимо от того, сколько человек пожелает реализации необходимиого им функционала. Помните,
что авторам интересны идеи, а не общественное мнение по этим идеям. Общественное мнение может лишь ускорить, насколько это будет возможным,
процесс реализации понравившейся идеи.<br>
Все просьбы должны касаться тематики ресурса, просьбы, которые будут выходить далеко за пределы не будут рассмотрены, а будут удаляться.
Участник или группа участников, которая прибегнет к рецидиву лобирования таких идей (не однократного) будут наказаны (я очень надеюсь, что
до этого не дойдет и по просту такого никогда не случится)<br>
Вроде бы все сказал, дополнения будут вывешиваться немедленно и вся информация по изменениям публиковаться в новостях в категории &quot;Новости
ресурса&quot;<br>
Предложения по дополнению пишите в личку (данная функция не доступна для незарегестрированных пользователей)<br>

<div id='notice'>(Saul Tavitz)</div>
</div>

<form action='.' method='post'>
{{ form.post.errors }}
	Сообщение: <br>
	{{ form.post }}<br>
	{% if not user.is_authenticate %} {% endif %}
	<input type='submit' value='добавить'>
</form>
{% endblock %}
