{% extends base_template %}{% load newsfilters %}
{% block title %} Пожелания {% endblock %}
{% block head_content %}
<link rel='stylesheet' href='/styles/{{ user.skin.name|getskincss:"feedback.css" }}' type='text/css' media='screen'>
{% endblock %}
{% block text_content %}
{% for wish in wishes.object_list %}
	<div id='wish'>
	{% if user.is_superuser %}
		<div style="float: right;"><a id='button' href='{{ wish.id }}/done'>Завершено</a></div>
		{% if not wish.approved %}<a id='button' href='{{ wish.id }}/approve'>Утвердить</a>{% else %}
		<a id='button' href='{{ wish.id }}/unapprove'>Разутвердить</a> {% endif %}
		{% if not wish.published %}<a id='button' href='{{ wish.id }}/publish'>Опубликовать</a>{% else %}
		<a id='button' href='{{ wish.id }}/unpublish'>Не публиковать</a>{% endif %}
		<br clear='all'>
	{% endif %}
	{% if wish.approved %}<span id='approve'>approved</span>{% endif %}{% if wish.published %}&nbsp;<span id='approve'>published</span>{% endif %}<br>
	{{ wish.post|striptags|spadvfilter|safe }}
	</div>
{% endfor %}
{% include settings.document.links %}
{% endblock %}
