{% load i18n %}
<script type='text/javascript'>
  var current_referer = "{{ current_referer }}";
  var markupPreviewURL = '{% url "news:markup-preview" %}';
  var JS = {
    urls: {
      'files:file-upload': '{% url "files:file-upload" %}'
    },
    locale: {
      upload_file_message: "{% trans 'Do you want to proceed uploading the file?' %}",
      upload_file_error: '{% trans "error while uploading file" %}',
      download_success: '{% trans "downloaded successfull" %}',
      enter_link_text: '{% trans "please enter how your link would be called" %}'
    }
  }
</script>

