{% load vurl %}
<ul>
{% for objs in objects %}
<li> <a href="{% vurl objs.view model=objs.raw_model %}">{{ objs.model }}</a>
{% if objs %}
	{% for o in objs.object_list %}
		<ul>
			<li class='{% cycle even,odd %}'><a href="{{ o.get_absolute_url }}">
			{% if o.get_title %}
				{{ o.get_title }}
			{% else %}
				<a href="{{ o.get_absolute_url }}">{{ o }} {#{% get_content_type for obj %} #}</a>
			{% endif %}
			</a></li>
		</ul>
 {% endfor %}
{% endif %}
</li>
{% with objs as page %}
{% include settings.document.links %}
{% endwith %}
{% endfor %}
</ul>
